@font-face {
 font-family: 'Lato-Regular';
 src: url('../fonts/Lato-Regular.eot');
 src: url('../fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Lato-Regular.ttf') format('truetype'),
    url('../fonts/Lato-Regular.woff') format('woff'),
    url('./fonts/Lato-Regular.svg') format('svg'),
    url('../fonts/Lato-Regular.otf');
font-weight:normal;
font-style:normal;
}

@font-face {
 font-family: 'NoteraPersonalUseOnly';
 src: url('../fonts/NoteraPersonalUseOnly.eot');
 src: url('../fonts/NoteraPersonalUseOnly.eot?#iefix') format('embedded-opentype'),
    url('../fonts/NoteraPersonalUseOnly.ttf') format('truetype'),
    url('../fonts/NoteraPersonalUseOnly.woff') format('woff'),
    url('./fonts/NoteraPersonalUseOnly.svg') format('svg'),
    url('../fonts/NoteraPersonalUseOnly.otf');
font-weight:normal;
font-style:normal;
}


@font-face {
 font-family: 'JennaSue';
 src: url('../fonts/JennaSue.ttf') format('truetype');
font-weight:normal;
font-style:normal;
}

@font-face {
 font-family: 'Poppins-Bold';
 src: url('../fonts/Poppins-Bold.ttf') format('truetype');
font-weight:normal;
font-style:normal;
}
@font-face {
 font-family: 'Poppins-Light';
 src: url('../fonts/Poppins-Light.ttf') format('truetype');
font-weight:normal;
font-style:normal;
}
@font-face {
 font-family: 'Poppins-Medium';
 src: url('../fonts/Poppins-Medium.ttf') format('truetype');
font-weight:normal;
font-style:normal;
}
@font-face {
 font-family: 'Poppins-Regular';
 src: url('../fonts/Poppins-Regular.ttf') format('truetype');
font-weight:normal;
font-style:normal;
}
@font-face {
 font-family: 'Poppins-SemiBold';
 src: url('../fonts/Poppins-SemiBold.ttf') format('truetype');
font-weight:normal;
font-style:normal;
}






@font-face {
 font-family: 'Montserrat-Black_0';
 src: url('../fonts/Montserrat-Black_0.otf');
font-weight:normal;
font-style:normal;
}
@font-face {
 font-family: 'Montserrat-Bold_0';
 src: url('../fonts/Montserrat-Bold_0.otf');
font-weight:normal;
font-style:normal;
}
@font-face {
 font-family: 'Montserrat-ExtraBold';
 src: url('../fonts/Montserrat-ExtraBold.otf');
font-weight:normal;
font-style:normal;
}
@font-face {
 font-family: 'Montserrat-Light_1';
 src: url('../fonts/Montserrat-Light_1.otf');
font-weight:Light;
font-style:normal;
}
@font-face {
 font-family: 'Montserrat-Regular';
 src: url('../fonts/Montserrat-Regular.ttf') format('truetype');
font-weight:normal;
font-style:normal;
}
@font-face {
 font-family: 'Montserrat-SemiBold';
 src: url('../fonts/Montserrat-SemiBold.otf');
font-weight:normal;
font-style:normal;
}
@font-face {
 font-family: 'Montserrat-UltraLight';
 src: url('../fonts/Montserrat-UltraLight.otf');
font-weight:normal;
font-style:normal;
}





*{outline:0px;}

body{margin:auto; padding:0px;display:block;}

.bottom-buffer1{margin-bottom:10px;overflow:auto;display:inline-block;}
.bottom-buffer2{margin-bottom:20px;overflow:auto;}
.bottom-buffer3{margin-bottom:30px;overflow:auto;}
.top-buffer{margin-top:10px;overflow:auto;}
.top-buffer1{margin-top:10px;overflow:auto;display:inline-block;}
.top-buffer2{margin-top:20px;overflow:auto;}
.top-buffer3{margin-top:30px;overflow:auto;}
.top-buffer5{margin-top:50px;overflow:auto;}
a:hover{text-decoration:none;}
.margin-bottom{margin-bottom:0px;}

.seaction1 .sec1{background-image:url(../images/background.png);background-repeat:no-repeat; background-size: cover;}

.sec1 .agrrement{width:723px;margin-left: 45%;}

.sec1 .agrrement,.hed2, .permit .hed, .sec4 .img-dis,.sec5  .images-dis .disc, .sec9 .buy, .footer{text-align:center;}

.sec1 .hed .s38, .last p{font-size:25px;padding:0px 10px;}
.sec1 .hed .s38, .sec6 .deep-detail .reg,  .buy .btn1 .s35, .sec10  .hed2 h2,.buy .btn1 .s22 span{font-family:Montserrat-SemiBold;}
.sec1 .dis p, .last p,.sec6 .hed2 .s22 span,.session_time .m_light span{font-family:Montserrat-Regular;}
.points, .sec2 .hed2 .s22{font-family:Montserrat-UltraLight;}
.sec3 .points,.permit .hed p,.sec5  .images-dis,.buy .btn1 .s22,.session_time .m_light{font-family:Montserrat-Light_1;}
.sec1 .dis .s27{font-family:Poppins-Bold;font-style:italic;text-transform:uppercase;}
.hed2 h2{font-family:Poppins-SemiBold;font-style:italic;text-transform:uppercase;}
.last p{padding:0px;color:#fff;font-style:italic;}
.images{position:absolute;top:93px; }
.images img{width: 110%;}
.title_back{background:#000; margin: 0% -21.5%;}
.title_back h2{margin:0px;padding:0px 10px;}
.sec1 .hed .s38 span, .buy h1, .buy .btn1 .s35 span, .sec9 .btn1 a, .sec10  .hed2 h2 span{font-family:Poppins-SemiBold;}
.sec5 .s20{background:#C8485F;display:inline-block;padding:3px 10px;}

.janesue, .hed2 h1, .sec6 .hed2 h2 span, .buy h1 span{font-family:JennaSue !important;}
.blue-back{background: #C8485F;}
.sec4 .col-md-4{z-index:1;}
.sec6 .hed2 h2 span{font-size:50px; text-transform: capitalize;}
.buy h1 span{text-transform: capitalize;}
.hed2 h1{font-size:70px; margin: 0px;line-height: 60px;}
.darkblack-blue,.sec6 .hed2 h2, .buy h1 i{color:#C8485F;}
.sec1 .janesue, .buy h1 span{font-size:57px !important;}
.sec1 .dis p, .sec1 .janesue,.hed2 h4,.hed2 h1{font-style:italic;}
.hed2 h4{font-family:Poppins-SemiBold;font-size:20px;}

.sec3 .hed2 h2{background: #C8485F; display: inline-block; padding: 8px 15px;}

.sec5  .images-dis .disc .s30,.sec6 .hed2 .s22 span{text-transform:uppercase;}
.sec4 .img-dis  .popins{font-family:Poppins-Medium;}
.sec4 .img-dis  .popins{font-style:italic;}
.sec4 .pera{margin:0px 50px;}
.diclaration p span{font-family:poppins-Bold;}
.black{color:#515860;}
.white{color:#fff;}
.sec5 .s20{letter-spacing:2px;text-align:center;}
.s20{font-size:20px;}
.sec5 .hed2 h2{font-size:29px;}
.sec5 .hed2 .padd{padding:0% 10%;}

.sec5 .hed2 .p_regular{font-family:Poppins-Regular;}
.sec1 .dis .s32,  .sec6 .deep-detail .s35,.sec4 .pera .s22,.sec6 .hed2 .s22,.sec6 .deep-detail .s22, .sec8 p,.btn1 .s20,.session_time,.or {font-family:Montserrat-UltraLight;}

.seaction4{overflow:hidden;}

.sec1 .dis h2, .permit .hed h2, .sec5  .images-dis .disc .s30{font-family:Poppins-Bold;font-style:italic;}

.buttn input[type=submit] { background-image: url(../images/btnbk.png); background-position: 15% 35%;  border-radius: 20px;  padding: 10px 30px 7px 30px;  margin: 10px;  border: none; color: #000; font-family: Poppins-Bold; font-size: 22px; letter-spacing: 1px; margin-top: 0px;}

.sec4 .img-dis{font-family:NoteraPersonalUseOnly;}
.sec4 .img-dis{color:#1B1B1B;}

.footer p{font-family:Lato-Regular;}

.sec1 .dis .s27,.sec4 .img-dis  .popins{font-size:27.8px;}

.sec1 .dis p, .points, .s22, .sec5 .images-dis .disc p,.session_time p,.or{font-size:20px;}

.s38{font-size:38.22px;}
.btn1 .s20{font-size:18px;}

.permit .hed p{font-size:24px;}
.diclaration p{font-size:23px;}
.diclaration{padding:0% 15%;}

.sec5 .images-dis .disc .s30, .hed2 h2,.sec9 .btn1 a,.sec5 .hed2 .p_regular{font-size:30px;}

.buy h1{font-size:40px;}

.sec1 .dis .s32{font-size:32.43px;}

.s35, .sec6 .deep-detail .reg{font-size:35px;}

.s44{font-size:44px;}
.buy .btn1 .s22{font-size:22px;}

.sec4 .img-dis p{font-size:48.29px;}

.sec1 .dis h2{font-size:53.74px;}

.section8 .post_image img{width:100%;}

.sec1 .hed , .sec1 .dis, .sec3 .hed2 h2 span, .sec3 .points p, .sec3 .hed2 h2{color:#fff;}
.diclaration p,.session_time{padding:5px 20px;}
.permission_div,.diclaration p:nth-child(even){background: #C8485F;}
.sec1 .dis .bek,.hed .bek{background:rgba(0,0,0,0.5);  display: inline-block;padding:3px 7px;}

.sec1 .dis, .sec5  .images-dis .disc{line-height:22px;}

.sec1 .dis h2,.permit .hed h2{font-family: Poppins-Bold; font-size: 53px;  text-transform: uppercase; color: #c8485f;  background: url(../images/btnbk.png);  -webkit-background-clip: text;  -webkit-text-fill-color: transparent;padding-top: 4px;}

.points p{background-image:url(../images/right_arrow.png);background-repeat:no-repeat;background-position: 0% 50%; padding-left: 30px;}
.sec6-dis{background-image:url(../images/img4.png);background-repeat:no-repeat;background-position:90% 0%;}
.sec3 .points p{background-image:url(../images/true.png);}


.sec6 .deep-detail .reg ,.buy h1 span, .buy .btn1 .s35{color:#515860;}
 .buy .btn1 .s35, .sec10  .hed2 h2{letter-spacing:2px;}


.sec3{background-image:url(../images/img2.png);background-repeat:no-repeat;background-size:cover;}

.sec3 .student{background:rgba(0,0,0,0.83);padding:0px 50px;}

.permit .hed h2{margin-top:0px;}

.sec4 .pera .s22, .sec5  .images-dis .s22{text-align:justify;}

.sec4 .img-dis{line-height:30px;background-image:url(../images/arrow-new.png);background-position:97% 10%;background-repeat:no-repeat;}

.sec5{background-image:url(../images/background1.png);background-repeat:no-repeat;background-size:cover;color:#fff;}

.sec6 .deep-detail{width:570px;}

.sec6 .deep-detail .s35{ line-height: 32.8px;font-size:30px;}

.sec10  .hed2 h2{line-height:55px;}

.seaction7 {margin-top:-8px;}


 .footer p, .sec1 .dis .bek, .sec1 .dis .spc{letter-spacing:1px;}

.sec9 .buy{width:60%;}

.sec9{background-image:url(../images/img5.png);background-repeat:no-repeat;background-position:100% 0%;}

.sec9 .btn1 a{    background-image: url(../images/btnbk.png);  background-position: 50%; background-color: #C8485F; border-radius: 20px; padding:3px 35px;    letter-spacing: 1px;  margin: 10px 0px;  border: none;  color: #fff;}

.buttn img{margin-top:-30px;}

.sec9 .btn1 .s35{margin:0px;}
.seaction9 .sec9 .buy{width:600px;}

 footer{background:#000;color:#fff;}
 .footer p {   font-size: 13px;  line-height: 50px;margin-bottom:0px;font-weight:200;}
 
 /** newly added **/
 ._form-thank-you { position:relative; left:0; right:0; text-align:center; font-size:18px; }

 ._error { display:block; position:absolute; font-size:13px; z-index:10000001; }
 ._error._above { padding-top:4px; top:-41px; right:15px; }
 ._error._below { padding-bottom:4px; top: -40px; right:15px; }
 ._error._above ._error-arrow { bottom:0; right:15px; border-left:5px solid transparent; border-right:5px solid transparent; border-bottom:5px solid #f37c7b; }
 ._error._below ._error-arrow { top: 34px; right:15px; border-left:5px solid transparent; border-right:5px solid transparent; border-top:5px solid #f37c7b; }
 ._error-inner { padding:8px 12px; background-color:#f37c7b; font-size:13px; font-family:arial, sans-serif; color:#fff; text-align:center; text-decoration:none; -webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px; }
 ._error-inner._form_error { margin-bottom:5px; text-align:left; }
 ._button-wrapper ._error-inner._form_error { position:static; }
 ._error-inner._no_arrow { margin-bottom:10px; }
 ._error-arrow { position:absolute; width:0; height:0; }
 ._error-html { margin-bottom:10px; }
 form .form-group .form-control{
  height: 45px;
    font-size: 16px;
    border-radius: 0px;
    padding: 6px 15px;
}
.get_flow {font-size: 22px;font-family:Montserrat-Light_1;}
._submit{background-position: 15% 35%;border: medium none;border-radius: 20px;color: #000;font-family: Poppins-Bold;font-size: 22px;letter-spacing: 1px;margin: 0 10px 10px;padding: 8px 30px;background-image: url(../images/btnbk.png);}
 
 
 @media (max-width:1299px){
 .sec1 .agrrement{margin-left:40%;}
 .images{top:251px;}
 .images img{width:80%;}
 }
 
  @media (max-width:1199px){
.sec1 .agrrement,.seaction9 .sec9 .buy{width:100% !important;margin-left:0%;}
.sec1 .images,.remov{display:none;}
.sec9 .buy {  width: 70%;  margin-left: 30%;}
.img-dis p{padding-right:30px;}
.permit .title_back h2{font-size:42px;}
.sec5 .image{margin-top:23%;}
.sec6-dis,.sec9{background:none;}
.sec6 .deep-detail,.post_img img{width:100%;}
.diclaration{padding:0%;}
.sec1 .hed .blue-back{display:inline-block;}
.title_back { background: #000;  margin: 0% -24%;}

 }
 
 @media (max-width:1024px){
 .points p{line-height:25px;}
 .sec6 .img4{display:none;}
 .sec6 .deep-detail, .sec9 .buy{width:100%;}
 .sec9{background:none;}
 .sec9 .buy{margin-left:0px;}
 .remov {margin:0px !important;}
 .sec10  .hed2 h2{line-height:45px;}
 .section8 .post_image img{width:100% !important;}
 .sec9 .none{display:none;}
 .sec9 .top-buffer5{margin-top:30px;}
 .title_back { margin: 0% -9%;}
 }
 
 @media(max-width:991px){
 .sec4 .image .img-responsive{margin:auto;}
 .sec4 .img-dis{background-position: 75% 10%;}
 .sec5 .image{margin-top:50%;}
  .title_back { margin: 0%;}
 }
 
 @media(max-width:767px){
  .image img{margin:auto;}
  .sec5 .image{margin-top:0%;}
  .sec6{padding:0px 10px;}
  .post_img img{width:350px;}
  .responce_image img{width:100%;}
  .sec1 .dis h2, .permit .hed h2{font-size:46px;}
  .videos .col-sm-6 iframe{width:400px;margin:10px auto;}
  .section8 .post_image .res img{width:auto !important;}
  .section8 .post_image .res {text-align:center;}
 }
 
 @media(max-width:640px){
   .sec6 .deep-detail .reg{line-height:40px;}
   .permit .hed h2{font-size:36px;}
 }
 
 @media (max-width:480px){
 .sec1 .dis h2{font-size:45.74px;}
 .permit .hed h2{font-size:38.29px;}
 .sec4 .img-dis{background-position:89% 0%;}
  .sec1 .dis .s32, .sec1 .hed .s38{line-height:30px;}
  .sec9 .btn1 .s35{line-height:35px;}
  .buy h1{font-size:30px;}
  .sec4 .pera{margin:0px;}
  .post_img img, .section8 .post_image .res img{width:100% !important;}
  .videos .col-sm-6 iframe{width:100%;}
 ._submit{font-size: 20px !important;}
 }
 
 @media (max-width:425px){
 .sec1 .dis h2{line-height:50px;padding:10px;}
 }
 
 @media (max-width:375px){
 .sec4 .img-dis p{font-size:40px;}
 .sec4 .img-dis  .popins{font-size:24px;}
 .sec4 .img-dis{background-position: 97% 0%;}
 .videos .col-sm-6 iframe{height:200px;}
 }