@font-face {
 font-family: 'Journal';
 src: url('http://www.agneskowalski.com/wp-content/themes/permissiontoprosper/thankyou-fonts/JOURNAL.eot');
 src: url('http://www.agneskowalski.com/wp-content/themes/permissiontoprosper/thankyou-fonts/JOURNAL.eot?#iefix') format('embedded-opentype'),
		url('http://www.agneskowalski.com/wp-content/themes/permissiontoprosper/thankyou-fonts/JOURNAL.ttf') format('truetype'),
		url('http://www.agneskowalski.com/wp-content/themes/permissiontoprosper/thankyou-fonts/JOURNAL.woff') format('woff'),
		url('http://www.agneskowalski.com/wp-content/themes/permissiontoprosper/thankyou-fonts/Journal.svg') format('svg'),
		url('http://www.agneskowalski.com/wp-content/themes/permissiontoprosper/thankyou-fonts/JOURNAL.otf');
font-weight:normal;
font-style:normal;
}
@font-face {
 font-family: 'RobotoCondensed';
 src: url('http://www.agneskowalski.com/wp-content/themes/permissiontoprosper/thankyou-fonts/Roboto_Condensed.eot');
 src: url('http://www.agneskowalski.com/wp-content/themes/permissiontoprosper/thankyou-fonts/Roboto_Condensed.eot?#iefix') format('embedded-opentype'),
		url('http://www.agneskowalski.com/wp-content/themes/permissiontoprosper/thankyou-fonts/Roboto_Condensed.ttf') format('truetype'),
		url('http://www.agneskowalski.com/wp-content/themes/permissiontoprosper/thankyou-fonts/Roboto_Condensed.woff') format('woff'),
		url('http://www.agneskowalski.com/wp-content/themes/permissiontoprosper/thankyou-fonts/Roboto_Condensed.svg') format('svg'),
		url('http://www.agneskowalski.com/wp-content/themes/permissiontoprosper/thankyou-fonts/Roboto_Condensed.otf');
font-weight:normal;
font-style:normal;
}
@font-face {
 font-family: 'BebasNeuewebfont';
 src: url('http://www.agneskowalski.com/wp-content/themes/permissiontoprosper/thankyou-fonts/BebasNeuewebfont.eot');
 src: url('http://www.agneskowalski.com/wp-content/themes/permissiontoprosper/thankyou-fonts/BebasNeuewebfont.eot?#iefix') format('embedded-opentype'),
		url('http://www.agneskowalski.com/wp-content/themes/permissiontoprosper/thankyou-fonts/BebasNeuewebfont.ttf') format('truetype'),
		url('http://www.agneskowalski.com/wp-content/themes/permissiontoprosper/thankyou-fonts/BebasNeuewebfont.woff') format('woff'),
		url('http://www.agneskowalski.com/wp-content/themes/permissiontoprosper/thankyou-fonts/BebasNeuewebfont.svg') format('svg'),
		url('http://www.agneskowalski.com/wp-content/themes/permissiontoprosper/thankyou-fonts/BebasNeuewebfont.otf');
font-weight:normal;
font-style:normal;
}
@font-face {
 font-family: 'RobotoCondensedBold';
 src: url('http://www.agneskowalski.com/wp-content/themes/permissiontoprosper/thankyou-fonts/RobotoCondensedBold.eot');
 src: url('http://www.agneskowalski.com/wp-content/themes/permissiontoprosper/thankyou-fonts/RobotoCondensedBold.eot?#iefix') format('embedded-opentype'),
		url('http://www.agneskowalski.com/wp-content/themes/permissiontoprosper/thankyou-fonts/RobotoCondensedBold.ttf') format('truetype'),
		url('http://www.agneskowalski.com/wp-content/themes/permissiontoprosper/thankyou-fonts/RobotoCondensedBold.woff') format('woff'),
		url('http://www.agneskowalski.com/wp-content/themes/permissiontoprosper/thankyou-fonts/RobotoCondensedBold.svg') format('svg'),
		url('http://www.agneskowalski.com/wp-content/themes/permissiontoprosper/thankyou-fonts/RobotoCondensedBold.otf');
font-weight:normal;
font-style:normal;
}
@font-face {
 font-family: 'RobotoCondensedLight';
 src: url('http://www.agneskowalski.com/wp-content/themes/permissiontoprosper/thankyou-fonts/RobotoCondensedLight.eot');
 src: url('http://www.agneskowalski.com/wp-content/themes/permissiontoprosper/thankyou-fonts/RobotoCondensedLight.eot?#iefix') format('embedded-opentype'),
		url('http://www.agneskowalski.com/wp-content/themes/permissiontoprosper/thankyou-fonts/RobotoCondensedLight.ttf') format('truetype'),
		url('http://www.agneskowalski.com/wp-content/themes/permissiontoprosper/thankyou-fonts/RobotoCondensedLight.woff') format('woff'),
		url('http://www.agneskowalski.com/wp-content/themes/permissiontoprosper/thankyou-fonts/RobotoCondensedLight.svg') format('svg'),
		url('http://www.agneskowalski.com/wp-content/themes/permissiontoprosper/thankyou-fonts/RobotoCondensedLight.otf');
font-weight:normal;
font-style:normal;
}
@font-face {
 font-family: 'RobotoCondensedRegular';
 src: url('http://www.agneskowalski.com/wp-content/themes/permissiontoprosper/thankyou-fonts/RobotoCondensedRegular.eot');
 src: url('http://www.agneskowalski.com/wp-content/themes/permissiontoprosper/thankyou-fonts/RobotoCondensedRegular.eot?#iefix') format('embedded-opentype'),
		url('http://www.agneskowalski.com/wp-content/themes/permissiontoprosper/thankyou-fonts/RobotoCondensedRegular.ttf') format('truetype'),
		url('http://www.agneskowalski.com/wp-content/themes/permissiontoprosper/thankyou-fonts/RobotoCondensedRegular.woff') format('woff'),
		url('http://www.agneskowalski.com/wp-content/themes/permissiontoprosper/thankyou-fonts/RobotoCondensedRegular.svg') format('svg'),
		url('http://www.agneskowalski.com/wp-content/themes/permissiontoprosper/thankyou-fonts/RobotoCondensedRegular.otf');
font-weight:normal;
font-style:normal;
}
@font-face {
 font-family: 'BebasNeueBook';
 src: url('http://www.agneskowalski.com/wp-content/themes/permissiontoprosper/thankyou-fonts/BebasNeueBook.eot');
 src: url('http://www.agneskowalski.com/wp-content/themes/permissiontoprosper/thankyou-fonts/BebasNeueBook.eot?#iefix') format('embedded-opentype'),
		url('http://www.agneskowalski.com/wp-content/themes/permissiontoprosper/thankyou-fonts/BebasNeueBook.ttf') format('truetype'),
		url('http://www.agneskowalski.com/wp-content/themes/permissiontoprosper/thankyou-fonts/BebasNeueBook.woff') format('woff'),
		url('http://www.agneskowalski.com/wp-content/themes/permissiontoprosper/thankyou-fonts/BebasNeueBook.svg') format('svg'),
		url('http://www.agneskowalski.com/wp-content/themes/permissiontoprosper/thankyou-fonts/BebasNeueBook.otf');
font-weight:normal;
font-style:normal;
}
@font-face {
 font-family: 'Lato-Regular';
 src: url('http://www.agneskowalski.com/wp-content/themes/permissiontoprosper/thankyou-fonts/Lato-Regular.eot');
 src: url('http://www.agneskowalski.com/wp-content/themes/permissiontoprosper/thankyou-fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'),
		url('http://www.agneskowalski.com/wp-content/themes/permissiontoprosper/thankyou-fonts/Lato-Regular.ttf') format('truetype'),
		url('http://www.agneskowalski.com/wp-content/themes/permissiontoprosper/thankyou-fonts/Lato-Regular.woff') format('woff'),
		url('http://www.agneskowalski.com/wp-content/themes/permissiontoprosper/thankyou-fonts/Lato-Regular.svg') format('svg'),
		url('http://www.agneskowalski.com/wp-content/themes/permissiontoprosper/thankyou-fonts/Lato-Regular.otf');
font-weight:normal;
font-style:normal;
}
@font-face {
 font-family: 'HelveticaNeueLTPro45Light';
 src: url('http://www.agneskowalski.com/wp-content/themes/permissiontoprosper/thankyou-fonts/HelveticaNeueLTPro45Light.eot');
 src: url('http://www.agneskowalski.com/wp-content/themes/permissiontoprosper/thankyou-fonts/HelveticaNeueLTPro45Light.eot?#iefix') format('embedded-opentype'),
		url('http://www.agneskowalski.com/wp-content/themes/permissiontoprosper/thankyou-fonts/HelveticaNeueLTPro45Light.ttf') format('truetype'),
		url('http://www.agneskowalski.com/wp-content/themes/permissiontoprosper/thankyou-fonts/HelveticaNeueLTPro45Light.woff') format('woff'),
		url('http://www.agneskowalski.com/wp-content/themes/permissiontoprosper/thankyou-fonts/HelveticaNeueLTPro45Light.svg') format('svg'),
		url('http://www.agneskowalski.com/wp-content/themes/permissiontoprosper/thankyou-fonts/HelveticaNeueLTPro45Light.otf');
font-weight:normal;
font-style:normal;
}
@font-face {
 font-family: 'Mongolian_Baiti';
 src: url('http://www.agneskowalski.com/wp-content/themes/permissiontoprosper/thankyou-fonts/Mongolian_Baiti.eot');
 src: url('http://www.agneskowalski.com/wp-content/themes/permissiontoprosper/thankyou-fonts/Mongolian_Baiti.eot?#iefix') format('embedded-opentype'),
		url('http://www.agneskowalski.com/wp-content/themes/permissiontoprosper/thankyou-fonts/Mongolian_Baiti.ttf') format('truetype'),
		url('http://www.agneskowalski.com/wp-content/themes/permissiontoprosper/thankyou-fonts/Mongolian_Baiti.woff') format('woff'),
		url('http://www.agneskowalski.com/wp-content/themes/permissiontoprosper/thankyou-fonts/Mongolian_Baiti.svg') format('svg'),
		url('http://www.agneskowalski.com/wp-content/themes/permissiontoprosper/thankyou-fonts/Mongolian_Baiti.otf');
font-weight:normal;
font-style:normal;
}

@font-face {
 font-family: 'Notera';
 src: url('http://www.agneskowalski.com/wp-content/themes/permissiontoprosper/thankyou-fonts/Notera.eot');
 src: url('http://www.agneskowalski.com/wp-content/themes/permissiontoprosper/thankyou-fonts/Notera.eot?#iefix') format('embedded-opentype'),
		url('http://www.agneskowalski.com/wp-content/themes/permissiontoprosper/thankyou-fonts/Notera.ttf') format('truetype'),
		url('http://www.agneskowalski.com/wp-content/themes/permissiontoprosper/thankyou-fonts/Notera.woff') format('woff'),
		url('http://www.agneskowalski.com/wp-content/themes/permissiontoprosper/thankyou-fonts/Notera.svg') format('svg'),
		url('http://www.agneskowalski.com/wp-content/themes/permissiontoprosper/thankyou-fonts/Notera.otf');
font-weight:normal;
font-style:normal;
}


a:active, a:focus { outline: none;}
body{margin:auto; padding:0px;display:block;}
.bottom-buffer1{margin-bottom:10px;overflow:auto;display:inline-block;}
.bottom-buffer2{margin-bottom:20px;overflow:auto;}
.bottom-buffer3{margin-bottom:30px;overflow:auto;}
.top-buffer1{margin-top:8px;overflow:auto;display:inline-block;}
.top-buffer2{margin-top:18px;overflow:auto;}
.top-buffer3{margin-top:25px;overflow:auto;}
.top-buffer4{margin-top:12px;overflow:auto;}
a:hover{text-decoration:none;}
.seaction1 {max-width:970px;max-width:970px;}
.seaction1 .cir1{ background-image:url('http://www.agneskowalski.com/wp-content/themes/permissiontoprosper/thankyou-images/circle1.png');background-position: center;background-repeat: no-repeat;background-size:100%;}
.pag-dis{color: #fff;}
.pag-dis .title  p{font-family:Journal;}
.pag-dis .title2 .p1, .pag-dis .title3 p{font-family:RobotoCondensed; }
.pag-dis .title2 .tit,.sec2 .set1 .p2, .sec4 .box-head p,.sec5 .ruls .rule1 h1 , .sec5 .membr .m3,.sec5 input[type="submit"]{font-family:BebasNeuewebfont;}
.sec2 .set1 .p1,.set3 p,.box .box-dis p, .sec5 .ruls .rule1 p, .sec5 form   input{font-family:RobotoCondensedLight;}
.sec2 .set2 .p1 span, .sec5 .membr .m2{font-family:RobotoCondensedBold;}
.sec2 .set2 p, .set3 h3, .sec5 .membr .m1{font-family:RobotoCondensedRegular;}
.sec5 .membr .m3 .with{font-family:BebasNeueBook;}
.pag-dis .title .moment { padding-top: 5%;}
.pag-dis .title  .plus{ font-size: 63.38px; font-family: HelveticaNeueLTPro45Light;margin-top: -65px;}
.pag-dis .title .magnet{margin-top:-80px;}
.pag-dis .title  p{font-size:95.71px;}
.sec2 .set1 .p1, .set3 p ,.box .box-dis p, .sec5 .ruls .rule1 p{font-size:24px;}
.sec2 .set1 .p2{font-size:53.58px;}
.sec5 .membr .m3{font-size:50px;}
.sec2 .set2 p, .set3 h3 , .sec5 .membr .m1, .sec5 .membr .m2{font-size:30px;}
.sec4 .box-head p{font-size:40px;}
.sec5 .ruls .rule1 h1{font-size:85px;}
.pag-dis .title2 .p1 {font-size:35.79px;padding-top: 15px; margin-bottom: -10px;}
.pag-dis .title2 a:hover, .sec5 .membr-add{color:#fff;}
.pag-dis .title2  a .p1{padding:0px;margin:auto;width:183px;background:#C8485F;color:#fff;}
.pag-dis .title2 .tit{font-size:61.37px;margin-bottom:0px;}
.pag-dis .title3 p {width: 400px;font-size: 25.18px; margin: auto; padding-bottom: 16%;padding-top: 15px;}
.pag-dis .title2 {margin-top: -15px;}
.seaction2 .sec2 .set1, .seaction3 .set3 ,.sec4 .box-head, .sec5 .form{text-align:center;}
.seaction2{display:inline-block;overflow:hidden;width:100%;background:#fff;}
.seaction2 .sec2{background-image:url('http://www.agneskowalski.com/wp-content/themes/permissiontoprosper/thankyou-images/img2.png');background-position: right;background-repeat: no-repeat;min-height:680px;}
.sec2 .set1 .p2  img{width:4%;margin: 0px 10px;}
.sec2 .set2{background-image:url('http://www.agneskowalski.com/wp-content/themes/permissiontoprosper/thankyou-images/bennerline.png');background-position: left;background-repeat: no-repeat;left:0px;}
.sec2 .set2 p{width:69%;margin: 0px;padding: 20px 0px;color:#fff;}
.set3 h3{margin-top: 10px; margin-bottom: 20px;}
.seaction2 p ,.seaction3 p{line-height:35px;}
.seaction3 .set3{background:#E7F5F4;margin-top: -5px;}
.seaction4 .sec4{background-image:url('http://www.agneskowalski.com/wp-content/themes/permissiontoprosper/thankyou-images/img3.png');background-size:cover;background-repeat: no-repeat;min-height:600px;}
.sec4 .box{background: rgba(255,255,255, 0.8);display:inline-block;}
.box .box-dis p {background-image:url('http://www.agneskowalski.com/wp-content/themes/permissiontoprosper/thankyou-images/right-arrow.png');background-position: 0px 10px;background-repeat: no-repeat;left:0px;padding-left: 30px;}
.seaction5 .sec5{background-image:url('http://www.agneskowalski.com/wp-content/themes/permissiontoprosper/thankyou-images/img4.png');background-position: right;background-repeat: no-repeat;min-height:880px;}
.sec5 .ruls{width:70%;}
.sec5 .ruls .rule1 h1{float:left;margin:0px;color:#C8485F;}
.sec5 .ruls .rule1 p{margin-left:45px;padding-top:5px;}
.sec5 .ruls .thankyou p{margin-left:0;padding-top:0;}
.sec5 .membr{background-image:url('http://www.agneskowalski.com/wp-content/themes/permissiontoprosper/thankyou-images/bennerline2.png');background-position: left;background-repeat: no-repeat;left:0px;background-size: 72% 100%;}
.sec5 .membr-add{width:70%;line-height:50px;}
.sec5 .membr .m1,.sec5 .membr .m2{margin-bottom:0px;}
.sec5 .membr .m2{margin-top:-17px;}
.sec5 .membr .m3  .val{color:#195450;}
.sec5 .form{width:65%;}
.sec2 .set1 .p2, .sec4 .box-head p{color:#67A9A5;}
.sec5 form   input{width:340px; margin: 10px; padding: 8px 20px;}
.sec5 input[type="submit"]{width:70%;padding:5px;font-size:33px;border-radius:25px;margin:15px 0px;background-image:url(http://www.agneskowalski.com/wp-content/themes/permissiontoprosper/thankyou-images/button.png);color:#fff;}
.sec5 .form  img{ margin-top: -30px; margin-right: -70px; margin-left: 5px;}
footer{background:#89CBC7;color:#fff;text-align:center;font-size:13px;}
footer p{margin:15px 0px;font-family:Lato-Regular;letter-spacing:2px;}
.seaction1 .image1 img{position:absolute;right:0px;bottom:0px;top:36px;}

/**thank you start**/

.sec6{ background-image: url(http://www.agneskowalski.com/wp-content/themes/permissiontoprosper/thankyou-images/thankyou.png) !important; background-position: right;background-repeat: no-repeat; min-height: 714px !important; background-size: contain;background-color:#f8f8f8;}
.thankyou{text-align:center;}
.thankyou p{font-size:37px !important; font-weight:normal;}
.thankyou h3{font-size:35px; text-transform: uppercase; font-family:Mongolian_Baiti;margin-bottom:0px;}
.thankyou h2{font-size:58px; text-transform: uppercase; font-family:Mongolian_Baiti; color:#c8485f; background-color:#f1f1f1; display:inline-block; margin:0;padding: 5px 13px; margin-top: -1px;}
.thankyou1 p{font-size:27px !important;}
.thankyou1 h2{font-family:RobotoCondensed; background-color:transparent; font-size:22px; letter-spacing:1px; font-weight:600;}
.thankyou1 h2 span{color:#67a9a5;}
.thankyou1 span{font-family:RobotoCondensedBold;}
.friends{font-family:RobotoCondensed !important; font-weight:600;}
.thankyou1 p a{color:#000;}
.thankyou1 p a:focus, .thankyou1 p a:hover{text-decoration:none;}
/**thank you end**/
.Permission{font-family:RobotoCondensedRegular;}
.thankyou5 h3{font-family:RobotoCondensedRegular; font-size:30px;letter-spacing: 3px;}
.thankyou5 h4{font-family:RobotoCondensedBold; font-size:30px; color:#c8485f; text-transform:uppercase; margin-top:0;letter-spacing: 3px;}
.thankyou5 h2{font-family:Notera !important; font-size:68.87px; text-align:center;text-transform: capitalize;font-weight: normal;transform: rotate(-6deg); background:none;}
.thankyou5 p{margin-bottom:0;}
.thankyou5 p{font-family:RobotoCondensedLight; font-size:28px !important;letter-spacing: 2px;}
h5.process{font-size:37px; font-family:RobotoCondensedLight;}
h5 span{font-family:RobotoCondensedRegular;}








/**responsive start**/
@media (max-width:1320px){
.seaction1 .image1{display:none;}
.seaction1  .sec1{text-align:center;}
.seaction5 .sec5{background-image:none;}
.sec5 .ruls{width:100%;}
.sec5 .membr{background-size:100% 100%;}
.sec5 .form{margin:auto;}
.sec5 .ruls .rule1 p.ex{padding-top: 20px;}
.seaction1 {margin:auto;}
.sec6{background-image:none !important;}
.thankyou h2{padding:0 20px 0 20px; font-size:54px;}
.thankyou1 h2{font-size:22px;}
.yourself{font-size:60px !important;}
}
@media (max-width: 1320px) and (min-width: 1200px){
.thankyou h2{font-size:57px !important;}
.thankyou1 h2{font-size:22px !important;}
.yourself5 h2{font-size: 73px !important;}
}
@media (max-width:1199px){
.sec5 .membr-add {width:100%;}
.sec5 .form{width:80%;}
.sec2 .set2{background-size: 90% 100%;}
.sec2 .set2 p{width:90%;}
}
@media (max-width:991px){
.pull-left{float:none !important;}
.sec5 .form img {margin-top: 20px;}}
@media (max-width:900px){
.pag-dis .title p {font-size: 80.71px;}
.pag-dis .title .plus { font-size: 45.38px; margin-top:-50px;}
.pag-dis .title .magnet {margin-top:-65px;}
.pag-dis .title3 p{margin-bottom:10%;}
.pag-dis .title2 .p1 {padding-top:20px;font-size:28.79px;}
.pag-dis .title2 .tit {font-size:50.37px;}
.pag-dis .title3 p {width:400px;font-size:19.18px;}
.pag-dis {min-height: 100%;}
}
@media (max-width: 768px){
.pag-dis .title p {font-size:65.71px;}
.pag-dis .title3 p{padding-bottom:19%;}
.pag-dis .title2 .p1 {font-size:20.79px;}
.pag-dis .title2 .tit {font-size:40.37px;}
.pag-dis .title .moment {padding-top:10%;}
.pag-dis .title .plus {font-size:40.38px;}
.pag-dis .title .magnet {margin-top:-60px;}
.yourself{font-size:44px !important;}
}
@media (max-width: 749px){
.thankyou h2{padding:0;font-size:39px;}
.thankyou1 h2{font-size:22px;}
}
@media (max-width: 640px){
.pag-dis .title .moment {padding-top:18%;}
.seaction2 .sec2{background-image:none;}
.pag-dis .title .plus{margin-top:-45px;}
.sec5 .ruls .rule1 p.ex {padding-top:0px; }
.seaction1 .cir1{background-position:initial;}
.pag-dis .title .magnet {margin-top:-58px;}
.pag-dis .title2  a .p1{width:130px;}
.pag-dis .title2 .tit {font-size:32.37px;}
.pag-dis .title3 p {width:250px;font-size:15.18px;}
.pag-dis .title p {font-size:55.71px;}
.pag-dis .title3 p{padding-top:18px;}
}
@media (max-width:580px){
.pag-dis .title2 .p1{padding-top:15px;}
.pag-dis .title p {font-size:51.71px;}
.pag-dis .title3 p {padding-top:20px;}
.sec2 .set1 .p2 {font-size:40.58px;}
}
@media (max-width: 522px){
.thankyou p{font-size:26px !important;}
}
@media (max-width: 520px){
.thankyou h2{font-size:31px;}
.thankyou1 h2{font-size:22px;}
.thankyou h3{font-size:30px;}
}
@media (max-width:490px){
.pag-dis .title .moment {padding-top:20%;}
.pag-dis .title2 {margin-top:10px;}
.pag-dis .title3 p {width:200px;font-size:12.18px;padding-top:0px;}
.pag-dis .title2 a .p1 {width:100px;}
.pag-dis .title2 .tit, .pag-dis .title .plus{font-size:23.37px;}
.pag-dis .title .plus {margin-top:-30px;}
.pag-dis .title2 .p1 {font-size:14.79px;padding:5px 0px;}
.pag-dis .title .magnet {margin-top:-35px;}
.pag-dis .title p {font-size:35.71px;}
}
@media (max-width:425px){
.pag-dis .title2 {margin-top:0px;}
.pag-dis .title .moment {padding-top:19%;}
.pag-dis .title3 p {padding-top:0px;padding-bottom:25%;}
.pag-dis .title2 .tit {font-size:19.37px;}
.sec5 form input {width:220px;}
.sec2 .set1 .p2  img{display:none;}
.sec5 .membr-add { width:95%;}
.pag-dis .title .plus { margin-top:-25px;font-size:14.37px;}
.thankyou h2{font-size:27px;}
.thankyou p {font-size:25px !important;}
.thankyou1 h2{font-size:22px !important;}
.sec6{min-height:657px !important;}
.sec5 .ruls .rule1 p{margin:0;padding:0;}
.yourself{font-size:30px !important;}
.yourself5{margin-top:20px;}
.thankyou5  h2{font-size: 47px !important;}
.sec7{min-height: 594px !important;}
}
@media(max-width:380px){
.pag-dis .title3 p {margin-top:-20px;}
.pag-dis .title2{margin-top:-10px;}
}
@media (max-width:360px){
.pag-dis .title3 p {width:160px;font-size:10.18px;}
.pag-dis .title p {font-size:30.71px;}
.pag-dis .title2 {margin-top:-1px;}
.pag-dis .title .magnet {margin-top:-28px;}
.pag-dis .title .moment {padding-top:15%;}
.pag-dis .title3 p {margin-top:-20px;}
h5.process{font-size: 28px;}
.thankyou p {font-size: 20px !important;}
}
@media (max-width:320px){
.pag-dis .title2 {margin-top:-10px;}
.thankyou h2{font-size:23px;}
.thankyou1 h2{font-size:22px !important;}
.sec5 .ruls .rule1 p{margin:0;padding:0;}
}
/**responsive end**/