@font-face {
 font-family: 'bebas-neue-bold';
 src: url('http://www.agneskowalski.com/wp-content/themes/wealthyselfworth/mastermind/assets/fonts/bebas-neue-bold.eot');
 src: url('http://www.agneskowalski.com/wp-content/themes/wealthyselfworth/mastermind/assets/fonts/bebas-neue-bold.eot?#iefix') format('embedded-opentype'),
		url('http://www.agneskowalski.com/wp-content/themes/wealthyselfworth/mastermind/assets/fonts/bebas-neue-bold.ttf') format('truetype'),
		url('http://www.agneskowalski.com/wp-content/themes/wealthyselfworth/mastermind/assets/fonts/bebas-neue-bold.woff') format('woff'),
		url('http://www.agneskowalski.com/wp-content/themes/wealthyselfworth/mastermind/assets/fonts/bebas-neue-bold.otf');
font-weight:normal;
font-style:normal;
}


@font-face {
 font-family: 'roboto-condensed-bold';
 src: url('http://www.agneskowalski.com/wp-content/themes/wealthyselfworth/mastermind/assets/fonts/roboto-condensed-bold.eot');
 src: url('http://www.agneskowalski.com/wp-content/themes/wealthyselfworth/mastermind/assets/fonts/roboto-condensed-bold.eot?#iefix') format('embedded-opentype'),
		url('http://www.agneskowalski.com/wp-content/themes/wealthyselfworth/mastermind/assets/fonts/roboto-condensed-bold.ttf') format('truetype'),
		url('http://www.agneskowalski.com/wp-content/themes/wealthyselfworth/mastermind/assets/fonts/roboto-condensed-bold.woff') format('woff'),
		url('http://www.agneskowalski.com/wp-content/themes/wealthyselfworth/mastermind/assets/fonts/roboto-condensed-bold.otf');
font-weight:normal;
font-style:normal;
}

@font-face {
 font-family: 'roboto-condensed-regular';
 src: url('http://www.agneskowalski.com/wp-content/themes/wealthyselfworth/mastermind/assets/fonts/roboto-condensed-regular.eot');
 src: url('http://www.agneskowalski.com/wp-content/themes/wealthyselfworth/mastermind/assets/fonts/roboto-condensed-regular.eot?#iefix') format('embedded-opentype'),
		url('http://www.agneskowalski.com/wp-content/themes/wealthyselfworth/mastermind/assets/fonts/roboto-condensed-regular.ttf') format('truetype'),
		url('http://www.agneskowalski.com/wp-content/themes/wealthyselfworth/mastermind/assets/fonts/roboto-condensed-regular.woff') format('woff'),
		url('http://www.agneskowalski.com/wp-content/themes/wealthyselfworth/mastermind/assets/fonts/roboto-condensed-regular.otf');
font-weight:normal;
font-style:normal;
}

@font-face {
 font-family: 'roboto-light';
 src: url('http://www.agneskowalski.com/wp-content/themes/wealthyselfworth/mastermind/assets/fonts/roboto-light.eot');
 src: url('http://www.agneskowalski.com/wp-content/themes/wealthyselfworth/mastermind/assets/fonts/roboto-light.eot?#iefix') format('embedded-opentype'),
		url('http://www.agneskowalski.com/wp-content/themes/wealthyselfworth/mastermind/assets/fonts/roboto-light.ttf') format('truetype'),
		url('http://www.agneskowalski.com/wp-content/themes/wealthyselfworth/mastermind/assets/fonts/roboto-light.woff') format('woff'),
		url('http://www.agneskowalski.com/wp-content/themes/wealthyselfworth/mastermind/assets/fonts/roboto-light.otf');
font-weight:normal;
font-style:normal;
}

@font-face {
 font-family: 'roboto-medium';
 src: url('http://www.agneskowalski.com/wp-content/themes/wealthyselfworth/mastermind/assets/fonts/roboto-medium.eot');
 src: url('http://www.agneskowalski.com/wp-content/themes/wealthyselfworth/mastermind/assets/fonts/roboto-medium.eot?#iefix') format('embedded-opentype'),
		url('http://www.agneskowalski.com/wp-content/themes/wealthyselfworth/mastermind/assets/fonts/roboto-medium.ttf') format('truetype'),
		url('http://www.agneskowalski.com/wp-content/themes/wealthyselfworth/mastermind/assets/fonts/roboto-medium.woff') format('woff'),
		url('http://www.agneskowalski.com/wp-content/themes/wealthyselfworth/mastermind/assets/fonts/roboto-medium.otf');
font-weight:normal;
font-style:normal;
}

@font-face {
 font-family: 'roboto-regular';
 src: url('http://www.agneskowalski.com/wp-content/themes/wealthyselfworth/mastermind/assets/fonts/roboto-regular.eot');
 src: url('http://www.agneskowalski.com/wp-content/themes/wealthyselfworth/mastermind/assets/fonts/roboto-regular.eot?#iefix') format('embedded-opentype'),
		url('http://www.agneskowalski.com/wp-content/themes/wealthyselfworth/mastermind/assets/fonts/roboto-regular.ttf') format('truetype'),
		url('http://www.agneskowalski.com/wp-content/themes/wealthyselfworth/mastermind/assets/fonts/roboto-regular.woff') format('woff'),
		url('http://www.agneskowalski.com/wp-content/themes/wealthyselfworth/mastermind/assets/fonts/roboto-regular.otf');
font-weight:normal;
font-style:normal;
}


@font-face {
 font-family: 'roboto-bold';
 src: url('http://www.agneskowalski.com/wp-content/themes/wealthyselfworth/mastermind/assets/fonts/roboto-bold.eot');
 src: url('http://www.agneskowalski.com/wp-content/themes/wealthyselfworth/mastermind/assets/fonts/roboto-bold.eot?#iefix') format('embedded-opentype'),
		url('http://www.agneskowalski.com/wp-content/themes/wealthyselfworth/mastermind/assets/fonts/roboto-bold.ttf') format('truetype'),
		url('http://www.agneskowalski.com/wp-content/themes/wealthyselfworth/mastermind/assets/fonts/roboto-bold.woff') format('woff'),
		url('http://www.agneskowalski.com/wp-content/themes/wealthyselfworth/mastermind/assets/fonts/roboto-bold.otf');
font-weight:normal;
font-style:normal;
}



@font-face {
 font-family: 'lato-regular';
 src: url('http://www.agneskowalski.com/wp-content/themes/wealthyselfworth/mastermind/assets/fonts/lato-regular.eot');
 src: url('http://www.agneskowalski.com/wp-content/themes/wealthyselfworth/mastermind/assets/fonts/lato-regular.eot?#iefix') format('embedded-opentype'),
		url('http://www.agneskowalski.com/wp-content/themes/wealthyselfworth/mastermind/assets/fonts/lato-regular.ttf') format('truetype'),
		url('http://www.agneskowalski.com/wp-content/themes/wealthyselfworth/mastermind/assets/fonts/lato-regular.woff') format('woff'),
		url('http://www.agneskowalski.com/wp-content/themes/wealthyselfworth/mastermind/assets/fonts/lato-regular.otf');
font-weight:normal;
font-style:normal;
}


*{outline:0;}
body{margin:0px;padding:0px;}
h1,h2,h3,h4,h5,p{margin:0px;}



#first_section{background-image:url(http://www.agneskowalski.com/wp-content/themes/wealthyselfworth/mastermind/assets/images/background1.png);background-size:cover;background-repeat:no-repeat;}
#first_section .banner_img{background-image:url(http://www.agneskowalski.com/wp-content/themes/wealthyselfworth/mastermind/assets/images/img1.png);background-repeat:no-repeat;background-position:100% 100%;  background-size: contain;}
.main_title{padding:70px 10px;}

.bg-green{background:#67a9a5;}
.bg-lightgreen{background:#89cbc7;}

.green, h2.title{color:#67a9a5;}
.maroon{color:#c8485f;}
.white{color:#fff;}

.italic{font-style:italic;}


.top-buffer1{margin-top:10px;}
.top-buffer2{margin-top:20px;}
.top-buffer3{margin-top:30px;}
.top-buffer5{margin-top:50px;}

.pt-50{padding-top:50px;}
.pb-50{padding-bottom:50px;}


.main_title h1, h2.title, .button button{font-family:bebas-neue-bold;}
.main_title h2, .your_sec p span, h3.sub-title{font-family:roboto-condensed-bold;}
.your_sec p{font-family:roboto-condensed-regular;}
.start_sec .box, .group_info, #methodology p{font-family:roboto-light;}
.start_date{font-family:roboto-medium;}
.roboto-regular,#methodology ul.step p{font-family:roboto-regular;}
#payment_section p{font-family:roboto-bold;}

.text-decoration{text-decoration:underline;}


.main_title h1{font-size:80px;}
h2.title{font-size:55px;}
.main_title h2{font-size:42px;}
.your_sec p{font-size:33px;}
h3.sub-title{font-size:30px;}
.start_date, .start_sec .box p, .group_info{font-size:24px;}
#payment_section p{font-size:20px;}
#methodology p{font-size:18px;}

.unset-hover:hover{color:#fff;}

.inline-block{display:inline-block;}

.main_title h2{padding:5px 15px 5px 10px;letter-spacing:1px;}

.your_sec p span{color:#c8485f;text-transform:uppercase;}
.your_sec p{line-height: 38px;}

.start_sec{position:relative; margin: 20px 0px 40px 0px;}
.start_sec .box{border: 2px solid #67a9a5; width: 270px;  margin: auto; padding: 10px 10px 35px 10px; position: relative;}
.start_date{ display: inline-block; background: #c8485f;  color: #fff;  padding: 5px 15px;  position: absolute;  bottom: -18px; left: 38px;  right: 38px;  width: auto;}


ul.step{padding: 0px;  list-style-type: none;  display: inline-block;  text-align: left;}
ul.step li{padding-left:20px;background-image:url(http://www.agneskowalski.com/wp-content/themes/wealthyselfworth/mastermind/assets/images/right_arrow.png);background-position:0px 5px; background-repeat:no-repeat; margin-bottom: 15px;color:#67a9a5;font-family:roboto-regular;}

ul.true-icon li{background-image:url(http://www.agneskowalski.com/wp-content/themes/wealthyselfworth/mastermind/assets/images/true-icon.png); background-position: 0px 2px;}
ul.close-icon li{background-image:url(http://www.agneskowalski.com/wp-content/themes/wealthyselfworth/mastermind/assets/images/close-icon.png); background-position: 0px 2px;}

#who_section ul.step li p,.link{color:#fff;font-family:roboto-regular;font-size:18px;}
#payment_section p{text-transform:uppercase;}

.button button{background-image:url(http://www.agneskowalski.com/wp-content/themes/wealthyselfworth/mastermind/assets/images/button.png);background-size:100%;background-repeat:no-repeat;color:#fff;border-radius:20px;border:0px;padding:5px 35px; margin-top: 10px; font-size: 20px; letter-spacing: 1px;}
.button img{margin-top:-20px;}

.underline:hover{text-decoration:none;}
.underline{position:relative;}
.underline:before{position:absolute;content:'';height:1px;width:100%;left:0;right:0;background:#fff;bottom:0;}

#payment_section .border-right{border-right:1px solid #000;}
#payment_section .col-md-4{ padding-top: 20px; padding-bottom: 20px;}

footer p{font-family: lato-regular; font-size: 13px; text-transform: uppercase;  padding: 10px; letter-spacing: 1px;}

@media(min-width:1440px){
	.main_title { padding: 150px 10px;}
}

@media(max-width:1199px){
	#first_section .banner_img{background-position: 150% 100%;}
}

@media(max-width:1024px){
	#first_section .banner_img{background-position: 250% 100%;}
}


@media(max-width:991px){
	#first_section .banner_img{background:none;}
	.xs-border-rm{border:none !important;}
	.xs-left{margin-left:25%;}
}

@media(max-width:767px){
    .xs-left{margin-left:0px;}
	.xs-pb-0{padding-bottom:0px;}
}

@media(max-width:425px){
	#first_section .col-md-6.col-lg-8{padding:0px;}
}
