@font-face {
 font-family: 'Roboto-Regular';
 src: url('http://www.agneskowalski.com/wp-content/themes/mindsetpack/fonts/Roboto-Regular.eot');
 src: url('http://www.agneskowalski.com/wp-content/themes/mindsetpack/fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
		url('http://www.agneskowalski.com/wp-content/themes/mindsetpack/fonts/Roboto-Regular.ttf') format('truetype'),
		url('http://www.agneskowalski.com/wp-content/themes/mindsetpack/fonts/Roboto-Regular.woff') format('woff'),
		url('http://www.agneskowalski.com/wp-content/themes/mindsetpack/fonts/Roboto-Regular.svg') format('svg'),
		url('http://www.agneskowalski.com/wp-content/themes/mindsetpack/fonts/Roboto-Regular.otf');
font-weight:normal;
font-style:normal;
}


@font-face {
 font-family: 'MongolianBaiti';
 src: url('http://www.agneskowalski.com/wp-content/themes/mindsetpack/fonts/MongolianBaiti.eot');
 src: url('http://www.agneskowalski.com/wp-content/themes/mindsetpack/fonts/MongolianBaiti.eot?#iefix') format('embedded-opentype'),
		url('http://www.agneskowalski.com/wp-content/themes/mindsetpack/fonts/MongolianBaiti.ttf') format('truetype'),
		url('http://www.agneskowalski.com/wp-content/themes/mindsetpack/fonts/MongolianBaiti.woff') format('woff'),
		url('http://www.agneskowalski.com/wp-content/themes/mindsetpack/fonts/MongolianBaiti.svg') format('svg'),
		url('http://www.agneskowalski.com/wp-content/themes/mindsetpack/fonts/MongolianBaiti.otf');
font-weight:normal;
font-style:normal;
}


@font-face {
 font-family: 'NoteraPersonalUseOnly';
 src: url('http://www.agneskowalski.com/wp-content/themes/mindsetpack/fonts/NoteraPersonalUseOnly.eot');
 src: url('http://www.agneskowalski.com/wp-content/themes/mindsetpack/fonts/NoteraPersonalUseOnly.eot?#iefix') format('embedded-opentype'),
		url('http://www.agneskowalski.com/wp-content/themes/mindsetpack/fonts/NoteraPersonalUseOnly.ttf') format('truetype'),
		url('http://www.agneskowalski.com/wp-content/themes/mindsetpack/fonts/NoteraPersonalUseOnly.woff') format('woff'),
		url('http://www.agneskowalski.com/wp-content/themes/mindsetpack/fonts/NoteraPersonalUseOnly.svg') format('svg'),
		url('http://www.agneskowalski.com/wp-content/themes/mindsetpack/fonts/NoteraPersonalUseOnly.otf');
font-weight:normal;
font-style:normal;
}

@font-face {
 font-family: 'RobotoCondensed';
 src: url('http://www.agneskowalski.com/wp-content/themes/mindsetpack/fonts/Roboto_Condensed.eot');
 src: url('http://www.agneskowalski.com/wp-content/themes/mindsetpack/fonts/Roboto_Condensed.eot?#iefix') format('embedded-opentype'),
		url('http://www.agneskowalski.com/wp-content/themes/mindsetpack/fonts/Roboto_Condensed.ttf') format('truetype'),
		url('http://www.agneskowalski.com/wp-content/themes/mindsetpack/fonts/Roboto_Condensed.woff') format('woff'),
		url('http://www.agneskowalski.com/wp-content/themes/mindsetpack/fonts/Roboto_Condensed.svg') format('svg'),
		url('http://www.agneskowalski.com/wp-content/themes/mindsetpack/fonts/Roboto_Condensed.otf');
font-weight:normal;
font-style:normal;
}


@font-face {
 font-family: 'Bebas-Neue-Bold';
 src: url('http://www.agneskowalski.com/wp-content/themes/mindsetpack/fonts/Bebas-Neue-Bold.eot');
 src: url('http://www.agneskowalski.com/wp-content/themes/mindsetpack/fonts/Bebas-Neue-Bold.eot?#iefix') format('embedded-opentype'),
		url('http://www.agneskowalski.com/wp-content/themes/mindsetpack/fonts/Bebas-Neue-Bold.ttf') format('truetype'),
		url('http://www.agneskowalski.com/wp-content/themes/mindsetpack/fonts/Bebas-Neue-Bold.woff') format('woff'),
		url('http://www.agneskowalski.com/wp-content/themes/mindsetpack/fonts/Bebas-Neue-Bold.svg') format('svg'),
		url('http://www.agneskowalski.com/wp-content/themes/mindsetpack/fonts/Bebas-Neue-Bold.otf');
font-weight:normal;
font-style:normal;
}
*{outline:none;}
.top-buffer10{margin-top:120.5px;overflow:auto;display:inline-block;}
.top-buffer11{margin-top:105px;overflow:auto;display:inline-block;}
.top-buffer9{margin-top:85px;overflow:auto;display:inline-block;}
.top-buffer1{margin-top:10px;overflow:auto;}
.top-buffer4{margin-top:40px;overflow:auto;}
.bottom-buffer5{margin-bottom:50px;overflow:auto;}
.top-buffer5{ margin-top:50px;overflow:auto;}
.top-buffer05{ margin-top:5px;overflow:auto;width:100%;}

#mc_embed_signup{clear:left; font:14px Helvetica,Arial,sans-serif; }
/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */



#mc_embed_signup div#mce-responses {
    float: left;
    top: -1.4em;
    padding: 0em .5em 0em .5em;
    overflow: hidden;
    width: 90%;
    margin: 0 5%;
    clear: both;
}

#mc_embed_signup #mce-error-response {
    display: none;
}

#mc_embed_signup #mce-success-response {
    color: #529214;
    display: none;
}

#mc_embed_signup div.response {
    margin: 1em 0;
    padding: 1em .5em .5em 0;
    font-weight: bold;
    float: left;
    top: -1.5em;
    z-index: 1;
}


#mc_embed_signup div.mce_inline_error{
    width: 90%;
    margin: auto !important;
}



.background{background-image:url(http://www.agneskowalski.com/wp-content/themes/mindsetpack/images/background.png); background-repeat:no-repeat; background-position: 100% ; background-size:100% 100%;}

.detail{width:65%;text-align:center;}

.section .div_2 {
    margin-right: -20%;
    padding-right: 20%;
    background-image: url(http://www.agneskowalski.com/wp-content/themes/mindsetpack/images/whiteback.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 100%;
}

.section .div_2  .tag2inn {
    width: 80%;
    margin: auto;
}

h1 ,h2{margin-top:0px;margin-bottom:20px;}

.tag2inn .input1 {
    width: 50%;
}
	
.tag2inn .input1 input {
    letter-spacing: 2px;
    width: 90%;
    padding: 10px 20px;
    margin: 10px 0px;
    border: 1px solid #B8B8B8;
}

.sub-button img {
    margin-top: -20px;
    padding: 0px 10px;
}

.sub-button button {
    background-image: url(http://www.agneskowalski.com/mindsetpack/images/button.png);
    background-position: 58% 69%;
    background-color: #C8485F;
    border-radius: 20px;
    padding: 7px 30px;
    letter-spacing: 1px;
    margin-top: 20px;
	margin-bottom:0px;
    border: none;
    color: #fff;
}

.sub-button button {    font-family: Bebas-Neue-Bold;
    font-size: 25px;text-transform: uppercase;
}

.add_img img{
    position: absolute;
    right: 0px;
    top: 0px;
}

.s49,.s83{color:#C8485F;}
.s22,.s27{color:#67A9A5;}

.s49{font-size:49.40px;font-family: MongolianBaiti; text-transform: uppercase;background: #fff; display: inline;  padding: 0px 10px;}
.s22{font-size:22px;font-family:Roboto-Regular;}
.s83{font-size:83px;font-family:NoteraPersonalUseOnly;    -ms-transform: rotate(-5deg);  -webkit-transform: rotate(-5deg); transform: rotate(-5deg);width: 98%;}
.s27{font-size:27px;font-family:RobotoCondensed;}

@media (min-width: 1444px){
.section .div_2 {
    background-size: 100% 100%;
}
}


@media (max-width: 1250px){
.add_img {
   display:none;
}
.detail{width:100%;}

.section .div_2 {  margin-right: 0%;  padding-right: 0%;}
}


@media (max-width:767px){
.s49{display:block;width:475px;margin:auto;}
.section .div_2  .tag2inn{width:100%;}
.top-buffer11, .top-buffer10{margin-top:75px;}
}

@media (max-width:640px){
.sub-button button{width:300px;line-height:30px;}
.sub-button img{margin-top:5px;}

}

@media (max-width:480px){
.s49{width:90%;padding:10px;}
.s83{font-size:50px;}
.sub-button img{display:none;}
.sub-button button{width:75%;}
.s27{line-height:22px;}
.tag2inn .input1{width:100%;}

}