
@font-face {
 font-family: 'poppins';
 src: url('../fonts/poppins.eot');
 src: url('../fonts/poppins.eot?#iefix') format('embedded-opentype'),
		url('../fonts/poppins.ttf') format('truetype'),
		url('../fonts/poppins.woff') format('woff'),
		url('../fonts/poppins.svg') format('svg'),
		url('../fonts/poppins.otf');
font-weight:700;
font-style:normal;
}

@font-face {
 font-family: 'Poppins-Light';
 src: url('../fonts/Poppins-Light.eot');
 src: url('../fonts/Poppins-Light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Poppins-Light.ttf') format('truetype'),
		url('../fonts/Poppins-Light.woff') format('woff'),
		url('../fonts/Poppins-Light.svg') format('svg'),
		url('../fonts/Poppins-Light.otf');
font-weight:700;
font-style:normal;
}

@font-face {
 font-family: 'poppins-regular';
 src: url('../fonts/Poppins-regular.eot');
 src: url('../fonts/Poppins-regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Poppins-regular.ttf') format('truetype'),
		url('../fonts/Poppins-regular.woff') format('woff'),
		url('../fonts/Poppins-regular.svg') format('svg'),
		url('../fonts/Poppins-regular.otf');
font-weight:700;
font-style:normal;
}


@font-face {
 font-family: 'Montserrat-Bold';
 src: url('../fonts/Montserrat-Bold.eot');
 src: url('../fonts/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Montserrat-Bold.ttf') format('truetype'),
		url('../fonts/Montserrat-Bold.woff') format('woff'),
		url('../fonts/Montserrat-Bold.svg') format('svg'),
		url('../fonts/Montserrat-Bold.otf');
font-weight:normal;
font-style:normal;
}

@font-face {
 font-family: 'Montserrat-Regular';
 src: url('../fonts/Montserrat-Regular.eot');
 src: url('../fonts/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Montserrat-Regular.ttf') format('truetype'),
		url('../fonts/Montserrat-Regular.woff') format('woff'),
		url('../fonts/Montserrat-Regular.svg') format('svg'),
		url('../fonts/Montserrat-Regular.otf');
font-weight:normal;
font-style:normal;
}


@font-face {
 font-family: 'montserrat-light';
 src: url('../fonts/montserrat-light.eot');
 src: url('../fonts/montserrat-light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/montserrat-light.ttf') format('truetype'),
		url('../fonts/montserrat-light.woff') format('woff'),
		url('../fonts/montserrat-light.svg') format('svg'),
		url('../fonts/montserrat-light.otf');
font-weight:normal;
font-style:normal;
}




.money-mindset-class p,.money-mindset-class .main_div h2{margin:0px !important;}

.link, .link:hover{color:#000;text-decoration:none;}
 .links,.links:hover{color:#fff;text-decoration:none;}
.white{color:#fff;}
.orange{color:#E1C278;}

.s25{font-size:25px;}
.s20{font-size:20px;}
.s16 ,.pera p{font-size:16px;}
.s14{font-size:14px;} 
.s30{font-size:30px;}
.s19{font-size:19px;}
.s34{font-size:34px;}
.s15, .notes p{font-size:15px;}
.s18, .topic p{font-size:17.35px !important; font-family:"Helvetica Neue",Helvetica,Arial,sans-serif !important;}
.pera h2{font-size:22px;}
.pera h4{font-size:16px;}
.money-mindset-class .s20.mo-bols {
    font-family:montserrat-bold !important; 
    color:#333333 !important;
}
.s18s{font-size:17px !important;}

.popins-reg{font-family:poppins-regular;}
.Popins-light{font-family:Poppins-Light;}
.main_div h2,.popins-bold{font-family:poppins !important;}
.sec-dis .s16, .mo-light, .topic p, .pera p{font-family:montserrat-light;}
.sec-dis .s16 span, .mo-bols, .pera h2, .pera h4{font-family:montserrat-bold;}


.buffer-top1{margin-top:10px;overflow:auto;}
.buffer-top2{margin-top:20px;overflow:auto;}
.buffer-top05{margin-top:5px;overflow:auto;}
.buffer-top5{margin-top:50px; overflow:auto;}

.main_div h2{ text-transform: uppercase;}
.page-id-371 .s35 {
    color:#67a9a5 !important;
}

.sec-dis{width:70%;}
.sec1-body{background-image:url(../images/board.png);height:479px;width:100%;}
.back-img{position: absolute;  top: 16px; left: 27px;}
.back-img img{ height: 463px;}
.sec-dis{float:right;text-align:center;}
.contents{background: rgba(0,0,0,0.7);}
.titles{ width: 75%;  margin: auto; line-height: 20px;margin:auto !important;}
.topic p{margin-bottom:8px !important;background-image:url(../images/arrow.png);background-repeat:no-repeat;background-position:0% 50%;padding-left:20px;}
.space{letter-spacing:2px;text-transform: uppercase;}
.upper{text-transform: uppercase;}
.pera p{text-align: justify;}
.pera h2{font-size:22px;}

.post{background-image:url(../images/sec3_new.png);width:100%; background-position: 46% 0%;    background-size: cover;}
.post .box{width:350px;text-align:justify;padding:35px 33px;color:#fff;    background: rgba(0,0,0,0.7);margin-left:53%; word-spacing: 0px;  line-height: 25px;}
.box h4{background: rgba(0,0,0,0.4); margin-top: 0px;  padding: 6px;  text-transform: uppercase; word-spacing: 0px;  text-align: center;}
@media(max-width:1199px){
.back-img { position: absolute; top: 103px; left: 44px;}
.back-img img {height: 312px;}
.post .box{margin-left: 45%;}
}

@media(max-width:991px){
.back-img{display:none;}
.sec-dis{width:100%;}
.post{background-image:none;}
.post .box{margin:auto;}
.post .buffer-top5, .post .buffer-top2{margin:0px;}
.buffer{margin-top: 50px !important;}
.sec1-body{min-height:479px;}
}

@media(max-width:375px){
.post .box{width:100%;}
.sec1-body{height:560px;background-size:cover;}
.arrow{background-position: 0% 20% !important;}
}