@font-face{font-family:'Journal';src:url('../fonts/JOURNAL.eot');src:url('../fonts/JOURNAL.eot?#iefix') format('embedded-opentype'),
url('../fonts/JOURNAL.ttf') format('truetype'),
url('../fonts/JOURNAL.woff') format('woff'),
url('./fonts/Journal.svg') format('svg'),
url('../fonts/JOURNAL.otf');font-weight:normal;font-style:normal;}
@font-face{font-family:'RobotoCondensed';src:url('../fonts/Roboto_Condensed.eot');src:url('../fonts/Roboto_Condensed.eot?#iefix') format('embedded-opentype'),
url('../fonts/Roboto_Condensed.ttf') format('truetype'),
url('../fonts/Roboto_Condensed.woff') format('woff'),
url('./fonts/Roboto_Condensed.svg') format('svg'),
url('../fonts/Roboto_Condensed.otf');font-weight:normal;font-style:normal;}
@font-face{font-family:'BebasNeuewebfont';src:url('../fonts/BebasNeuewebfont.eot');src:url('../fonts/BebasNeuewebfont.eot?#iefix') format('embedded-opentype'),
url('../fonts/BebasNeuewebfont.ttf') format('truetype'),
url('../fonts/BebasNeuewebfont.woff') format('woff'),
url('./fonts/BebasNeuewebfont.svg') format('svg'),
url('../fonts/BebasNeuewebfont.otf');font-weight:normal;font-style:normal;}
@font-face{font-family:'RobotoCondensedBold';src:url('../fonts/RobotoCondensedBold.eot');src:url('../fonts/RobotoCondensedBold.eot?#iefix') format('embedded-opentype'),
url('../fonts/RobotoCondensedBold.ttf') format('truetype'),
url('../fonts/RobotoCondensedBold.woff') format('woff'),
url('./fonts/RobotoCondensedBold.svg') format('svg'),
url('../fonts/RobotoCondensedBold.otf');font-weight:normal;font-style:normal;}
@font-face{font-family:'RobotoCondensedLight';src:url('../fonts/RobotoCondensedLight.eot');src:url('../fonts/RobotoCondensedLight.eot?#iefix') format('embedded-opentype'),
url('../fonts/RobotoCondensedLight.ttf') format('truetype'),
url('../fonts/RobotoCondensedLight.woff') format('woff'),
url('./fonts/RobotoCondensedLight.svg') format('svg'),
url('../fonts/RobotoCondensedLight.otf');font-weight:normal;font-style:normal;}
@font-face{font-family:'RobotoCondensedRegular';src:url('../fonts/RobotoCondensedRegular.eot');src:url('../fonts/RobotoCondensedRegular.eot?#iefix') format('embedded-opentype'),
url('../fonts/RobotoCondensedRegular.ttf') format('truetype'),
url('../fonts/RobotoCondensedRegular.woff') format('woff'),
url('./fonts/RobotoCondensedRegular.svg') format('svg'),
url('../fonts/RobotoCondensedRegular.otf');font-weight:normal;font-style:normal;}
@font-face{font-family:'BebasNeueBook';src:url('../fonts/BebasNeueBook.eot');src:url('../fonts/BebasNeueBook.eot?#iefix') format('embedded-opentype'),
url('../fonts/BebasNeueBook.ttf') format('truetype'),
url('../fonts/BebasNeueBook.woff') format('woff'),
url('./fonts/BebasNeueBook.svg') format('svg'),
url('../fonts/BebasNeueBook.otf');font-weight:normal;font-style:normal;}
@font-face{font-family:'Lato-Regular';src:url('../fonts/Lato-Regular.eot');src:url('../fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'),
url('../fonts/Lato-Regular.ttf') format('truetype'),
url('../fonts/Lato-Regular.woff') format('woff'),
url('./fonts/Lato-Regular.svg') format('svg'),
url('../fonts/Lato-Regular.otf');font-weight:normal;font-style:normal;}
@font-face{font-family:'HelveticaNeueLTPro45Light';src:url('../fonts/HelveticaNeueLTPro45Light.eot');src:url('../fonts/HelveticaNeueLTPro45Light.eot?#iefix') format('embedded-opentype'),
url('../fonts/HelveticaNeueLTPro45Light.ttf') format('truetype'),
url('../fonts/HelveticaNeueLTPro45Light.woff') format('woff'),
url('./fonts/HelveticaNeueLTPro45Light.svg') format('svg'),
url('../fonts/HelveticaNeueLTPro45Light.otf');font-weight:normal;font-style:normal;}
@font-face{font-family:'MongolianBaiti';src:url('../fonts/MongolianBaiti.eot');src:url('../fonts/MongolianBaiti.eot?#iefix') format('embedded-opentype'),
url('../fonts/MongolianBaiti.ttf') format('truetype'),
url('../fonts/MongolianBaiti.woff') format('woff'),
url('./fonts/MongolianBaiti.svg') format('svg'),
url('../fonts/MongolianBaiti.otf');font-weight:normal;font-style:normal;}
@font-face{font-family:'NoteraPersonalUseOnly';src:url('../fonts/NoteraPersonalUseOnly.eot');src:url('../fonts/NoteraPersonalUseOnly.eot?#iefix') format('embedded-opentype'),
url('../fonts/NoteraPersonalUseOnly.ttf') format('truetype'),
url('../fonts/NoteraPersonalUseOnly.woff') format('woff'),
url('./fonts/NoteraPersonalUseOnly.svg') format('svg'),
url('../fonts/NoteraPersonalUseOnly.otf');font-weight:normal;font-style:normal;}
@font-face{font-family:'Bebas-Neue-Regular';src:url('../fonts/Bebas-Neue-Regular.eot');src:url('../fonts/Bebas-Neue-Regular.eot?#iefix') format('embedded-opentype'),
url('../fonts/Bebas-Neue-Regular.ttf') format('truetype'),
url('../fonts/Bebas-Neue-Regular.woff') format('woff'),
url('./fonts/Bebas-Neue-Regular.svg') format('svg'),
url('../fonts/Bebas-Neue-Regular.otf');font-weight:normal;font-style:normal;}
@font-face{font-family:'Bebas-Neue-Bold';src:url('../fonts/Bebas-Neue-Bold.eot');src:url('../fonts/Bebas-Neue-Bold.eot?#iefix') format('embedded-opentype'),
url('../fonts/Bebas-Neue-Bold.ttf') format('truetype'),
url('../fonts/Bebas-Neue-Bold.woff') format('woff'),
url('./fonts/Bebas-Neue-Bold.svg') format('svg'),
url('../fonts/Bebas-Neue-Bold.otf');font-weight:normal;font-style:normal;}
@font-face{font-family:'Roboto-Light';src:url('../fonts/Roboto-Light.eot');src:url('../fonts/Roboto-Light.eot?#iefix') format('embedded-opentype'),
url('../fonts/Roboto-Light.ttf') format('truetype'),
url('../fonts/Roboto-Light.woff') format('woff'),
url('./fonts/Roboto-Light.svg') format('svg'),
url('../fonts/Roboto-Light.otf');font-weight:normal;font-style:normal;}
@font-face{font-family:'Roboto-Regular';src:url('../fonts/Roboto-Regular.eot');src:url('../fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
url('../fonts/Roboto-Regular.ttf') format('truetype'),
url('../fonts/Roboto-Regular.woff') format('woff'),
url('./fonts/Roboto-Regular.svg') format('svg'),
url('../fonts/Roboto-Regular.otf');font-weight:normal;font-style:normal;}
@font-face{font-family:'Roboto-Bold';src:url('../fonts/Roboto-Bold.eot');src:url('../fonts/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
url('../fonts/Roboto-Bold.ttf') format('truetype'),
url('../fonts/Roboto-Bold.woff') format('woff'),
url('./fonts/Roboto-Bold.svg') format('svg'),
url('../fonts/Roboto-Bold.otf');font-weight:normal;font-style:normal;}
@font-face{font-family:'Allura-Regular';src:url('../fonts/Allura-Regular.eot');src:url('../fonts/Allura-Regular.eot?#iefix') format('embedded-opentype'),
url('../fonts/Allura-Regular.ttf') format('truetype'),
url('../fonts/Allura-Regular.woff') format('woff'),
url('./fonts/Allura-Regular.svg') format('svg'),
url('../fonts/Allura-Regular.otf');font-weight:normal;font-style:normal;}

@font-face {
 font-family: 'Poppins-Bold';
 src: url('../fonts/Poppins-Bold.ttf') format('truetype');
font-weight:normal;
font-style:normal;
}


@font-face {
 font-family: 'Montserrat-Regular';
 src: url('../fonts/Montserrat-Regular.ttf') format('truetype');
font-weight:normal;
font-style:normal;
}



*{outline:0px;font-weight:normal;}
body{margin:auto;padding:0px;display:block;}
.bottom-buffer1{margin-bottom:10px;overflow:auto;}
.bottom-buffer2{margin-bottom:20px;overflow:auto;}
.bottom-buffer3{margin-bottom:30px;overflow:auto;}
.top-buffer{margin-top:5px;overflow:auto;}
.top-buffer1{margin-top:10px;overflow:auto;}
.top-buffer2, .top-bufferr2{margin-top:20px;overflow:auto;}
.top-buffer100{margin-top:100px;overflow:auto;}
.top-buffer3,.top-bufferr3{margin-top:30px;overflow:auto;}
a:hover{text-decoration:none;}
/*.header .nav>li:nth-of-type(6n)>a{border-right:none;}*/
.header .toggleMenu{display:none;padding:12px 0px 13px 15px;color:#fff;}
.header .nav{list-style:none;background:#89CBC7;}
.header{background:#89CBC7;}
.header ul{padding-left:0px;width:90%;margin:auto;}
.header .nav:before,.nav:after{content:" ";display:table;}
.header .nav:after{clear:both;}
.header .nav ul{list-style:none;}
.header .nav a{padding:10px 15px;color:#fff;}
.header .nav li{position:relative;}
.header .nav li ul li{width:100%;}
.header .nav > li{float:left;}
.header .nav > li:last-child > a {border-right: none;}
.header .nav > li > a{display:block;padding:0px 15px;margin:10px 0px;border-right:1px solid #fff;}
.header .nav li ul{position:absolute;left:-9999px;}
.header .nav > li.hover > ul{left:0;padding-left:0px;width:100%;}
.header .nav li li.hover ul{left:100%;top:0;}
.header .nav li li a{display:block;background:#FFF;position:relative;z-index:100;color:#67A9A5;}
.header .nav li li li a{background:#FFF;z-index:200;color:#67A9A5;}
.header .nav li li a:hover{background:#67A9A5;color:#fff;}
.header .nav > li {width:11.8%;}
/*.header .nav>li:nth-of-type(3n){width:20%;}
.header .nav>li:nth-of-type(4n){width:15%;}
.header .nav>li:nth-of-type(5n){width:22%;}*/
.header .nav>li:nth-of-type(6n){width:17%;} 
p{margin-bottom:0px;}
.seaction2, .h-seaction6, .m-seaction .main-sec , .c-seaction, .s-seaction{background-image:url(../images/background.png);background-position:center;background-size:cover;}
.s-seaction{min-height:633px;}
.h-seaction6 .sec6{width:90%;margin:auto;background:rgba(255, 255, 255, 0.6);}
.seaction2 .sec1{min-height:810px;}
.sec1 .set1,.seaction2 .add-img{position:absolute;}
.sec1 .set1{width:35%;}
.seaction2 .add-img{right:0px;top:39.5px;}
.sec1 .set1 img{box-shadow:23px 0px 37px -5px rgba(0, 0, 0, 0.2);}
.seaction2 .add-img img{box-shadow:-32px 0px 44px -12px rgba(0, 0, 0, 0.2);max-height:741px;}
.sec1 .set2, .seaction2 .set2 .hed1{width:65%;}
.eual, .footer p{font-family:Lato-Regular;}
.s25, .s20, .s23, .set3 .s27, .s22, .sec6 .discrib .s25, .mbody .vid1 p, .client-dis .s22, .csec6 .s21{font-family:RobotoCondensedRegular;}
.s36, .s34 ,.s68, .s35, .sec9 .s50 span, .seaction2 .hed1 p span, .seaction2 .hed2 p span, .sec3 .s47,.sec6 .discrib .s64, .wnews .bold, .m-seaction .s40, .ched .s40 span{font-family:BebasNeuewebfont;}
.m-seaction .s40 strong, .ched .s40 strong,.seaction2 .hed1 p strong, .seaction2 .hed2 p strong,.seaction2 .hed1 .he1 p strong{font-weight:normal;font-family:BebasNeuewebfont;}
.seaction2 .hed2 p strong{color:#67a9a5;}
.s94, .s-hed .s73{font-family:MongolianBaiti;}
.s76,.goodies_box h2{font-family:NoteraPersonalUseOnly;}
.s18, .tag2inn .input1 input , .s27, .sec4 .menu, .sec4 .s23, .s50, .sec5 .s25, .sec5 .ita, .sec5 .s23, .sec7 .s23, .discript .s18 , .s16,.header .nav li , .s-hed .s38{font-family:RobotoCondensedLight;}
.seaction3 .set2 .p1,.sec5 .s38, .sec9 .s50, .seaction2 .hed2 p, .wnews .book{font-family:BebasNeueBook;}
.s22 span, .sec5 .hed5 p{font-family:RobotoCondensedBold;}
.sec5 .one{font-family:arial;}
.news .s36{font-family:Allura-Regular;}
.sec6 h1, .sec7 .s36, .seaction2 .hed1 p, .sec4 .hmenu p, .ched .s40, .s-hed .s41, .ctitle .s65{font-family:Bebas-Neue-Regular;}
.seaction2 .hed1 .s22, .sec3 .s23, .hhelp .s30,.sec5 .ad1, .sec6 .discrib p, .wnews p, .tag1 .s18 , .tag2 .s18, .sec4 .s23, .sec5 .s23,.sec7 .s23,.discript .s16, .client-dis p , .sec5 .box .s50, .s-hed .s27, .experience p, .seaction4 .adds .s22, .result-dis p, .csec6 p{font-family:Roboto-Light;}
.seaction2 .set2 .s20, .sec6 .s25{font-family:Roboto-Regular;}
.sec6 .s25 span, .discript .s20{font-family:Roboto-Bold;}
.sub-button button, .set2 p span, .sec4 h3, .sec5 .s38 span, .sec8 .s36 , .h-seaction4 .s47 , .s-hed .s41 span,.s-hed .s41 strong, .experience .s35, .seaction4 .adds .s45, .result .s35{font-family:Bebas-Neue-Bold;}
.s-hed .s41 strong{font-weight:normal;}
.sec4 h3, .sec4 .s35 , .sec8 .s23, .seaction2 .hed1 .he1 p, .sec4 .hmenu p, .footer p, .experience .s35{letter-spacing:1px;}
.s25, .sub-button button, .sec5 .hed5 p{font-size:25px;}
.s36{font-size:36.8px;}
.eual, .sec4 .menu{font-size:30px;line-height:35px;}
.s94{font-size:80px;}
.s20, .sec5 .ad1{font-size:20.51px;}
.s76{font-size:76.22px;}
.s18, .client-dis p,.goodies_box p{font-size:18px;}
.s23, .sec6 .discrib p, .wnews p{font-size:23.57px;}
.s27{font-size:27.98px;}
.s34 ,.seaction3 .set2 .p1 , .sec4 .hmenu p{font-size:34px;}
.s68{font-size:68.74px;}
.sec4 h3,.wnews .s45{font-size:45px;}
.s35, .experience .s35{font-size:35px;}
.s50{font-size:50px;}
.goodies_box h2{font-size:51px;}
.s38, .seaction2 .hed1 p{font-size:38px;}
.s16{font-size:16px;}
.s22, .seaction2 .hed1 .s22, .client-dis p.s22, .experience p , .result-dis p, .csec6 p{font-size:22px;}
.s47, .seaction2 .hed2 p{font-size:47.63px;}
.s30{font-size:30px;}
.sec6 .discrib .s64{font-size:64.95px;}
.s40{font-size:40px;}
.mbody .vid1 p{font-size:26px;}
.s73{font-size:73px;}
.s41{font-size:41.25px;}
.s65{font-size:65px;}
.footer p{font-size:13px;line-height:50px;}
.s45{font-size:45.95px;}
.csec6 .s21{font-size:21px;}
.title_m h2{font-size:56px;}



.eual, .s36 , .s25, .s20, .s23 , .s34, .sec4 h3 , .s35, .sec6 h1, .sec9 .s50, .s22 , .seaction2 .hed1 .he1 p , .seaction2 .hed2 p span, .sec3 .s47, .sec4 .hmenu p, .hhelp .s47,.sec5 .hed5 p, .h-seaction6 .sec6 .s64, .wnews .s45, .m-seaction .s40, .mbody .vid1 p, .ched .s40, .s-hed .s41, .seaction4 .adds .s45{color:#67A9A5;}
.sec4 .s23, .seaction2 .hed1 .s22, .sec3 .s23,.hhelp .s30, .news .s36, .pagination>li>a, .pagination>li>span, .sec7 .s23, .sec8 .tag2inn .input1 input, .seaction4 .adds .s22{color:#000;}
.sec1 .s76{-ms-transform:rotate(-5deg);-webkit-transform:rotate(-5deg);transform:rotate(-5deg);}
.s94{line-height:80px;background:#fff;width:48%;margin:auto;color:#C8485F;}
.tag1 .s18{width:50%;margin:auto;}
.nav>li>a:focus, .nav>li>a:hover , .header .nav>li>a:focus,.header .nav>li>a:hover{background:none !important;}
.seaction2 .tag2{margin-left:-20%;padding-left:20%;background-image:url(../images/whiteback.png);background-size:cover;background-repeat:no-repeat;background-position:100%;}
.mailchimp___submit{background-image:url(../images/button.png);background-position:58% 69%;background-color:#C8485F;border-radius:20px;padding:7px 30px;letter-spacing:1px;margin:10px 0px;border:none;color:#fff;font-size:25px;font-family:Bebas-Neue-Bold;}
.mc4wp-alert.mc4wp-success,
.mc4wp-alert.mc4wp-notice{background:#67a9a5 none repeat scroll 0 0;color:#fff;font-family:Arial;font-size:14px;line-height:20px;margin:5px 0;padding:5px 10px;}
.mc4wp-alert.mc4wp-notice{background:#D66478;}
.seaction2 .tag2 .tag2inn{width:80%;margin:auto;}
.tag2inn .input1{width:50%;}
.tag2inn .input1 input{width:90%;padding:10px 20px;margin:10px 0px;border:1px solid #B8B8B8;}
.wpcf7-text, .wpcf7-textarea{width:100%;padding:10px 20px;margin:10px 0px;border:1px solid #B8B8B8;}
.wpcf7-submit{font-size:25px;font-family:Bebas-Neue-Bold;background-image:url(../images/button.png);background-position:58% 69%;background-color:#C8485F;border-radius:20px;padding:7px 30px;letter-spacing:1px;margin:10px 0px;border:none;color:#fff;}
.tag2inn .input1 input,.sec5 .s38,.sec6 h1,.sec9 p ,.header ul li a, .sec6 .discrib .s25, .seaction3 .set2 .p1, .sec7 .s36, .sec4 .hhelp .s47, .ctitle .s65{letter-spacing:2px;}
.seaction3 .set2 .p1 strong, .sec5 .s38 strong{font-family:Bebas-Neue-Bold;font-weight:normal;}
.sec6 .s25 strong{font-family:Roboto-Bold;font-weight:normal;color:#c8485f;}
.sub-button button, .bookaride{background-image:url(../images/button.png);background-position:58% 69%;background-color:#C8485F;border-radius:20px;padding:7px 30px;letter-spacing:1px;margin:10px 0px;border:none;color:#fff;}
.sub-button img{margin-top:-20px;padding:0px 10px;}
.seaction3 .sec3{background-image:url(../images/sec3.png);background-repeat:no-repeat;background-position:right;background-size:cover;}
.sec3 .set1 ,.seaction3 .set2 .centr, .seaction4 .sec4, .seaction5 .sec5, .sec6 h1, .sec6 .s25, .seaction7 .sec7, .seaction8 .box, .sec9, .footer,.sec1 .set2,.container .sec3,.sec4 .hhelp , .sec6 .discrib .s64, .news .s36, .h-seaction7 .wnews, .m-seaction .mhed, .mbody .vid1 p, .mbody nav, .header .nav>li, .ched .s40, .s-seaction .s-sec .disc, .ctitle .s65, .seaction4 .adds, .csec6{text-align:center;}
.sec3 .set2{background-image:url(../images/lable2.png);background-repeat:no-repeat;background-size:90% 100%;}
.set2 .s27, .s68 ,.seaction3 .set2 .p1, .sec5 .s25,.sec5 .s20, .sec5 .s23 , .sec8 .s23 , .sec8 .s36, .sec4 .hmenu p span, .hp1 .s47, .hhelp .s30, .csec6 .s21{color:#fff;}
.set2 .centr{width:75%;}
.seaction3 .set2 .p1 ,.wnews .s45, .sec8 .s36, .s-hed .s27, .csec6 .s21{line-height:35px;}
.seaction3 .set2 .lst{width:50%;margin:auto;}
.csec6 .s21, .seaction3 .set2 .lst{background:#67A9A5;}
.sec4 .s35, .sec4 .s23, .sec5 .s23{width:85%;margin:auto;line-height:35px;}
.seaction5 .sec5, footer{background:#89CBC7;color:#fff;}
.sec5 .box{background:#519D98;width:43%;margin:auto;text-align:left;padding-left:50px;padding-bottom:10px;}
.seaction6{-webkit-box-shadow:0 8px 56px -22px #000;-moz-box-shadow:0 8px 56px -22px #000;box-shadow:0 8px 56px -22px #000;}
.sec6 .video{width:60%;margin:auto;}
.sec6 .s25 span, .mbody nav .page-link .clr, .mbody nav .page-link .sr-only, .sec7 .s76,.glyphicon, .s22 span, .sec1 .s76, .hp1 .s47 span, .client-dis .s22,.s-hed .s73, .ctitle .s65 span, .seaction4 .adds .s45 span{color:#C8485F;}
.mbody nav .page-link:hover, .mbody nav li:hover>.page-link .clr{color:#fff;}
.pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover{background:#C8485F !important;color:#fff;}
.seaction7{position:relative;width:100%;}
.seaction7 .sec7{background:#F8F8F8;}
.seaction7 .sec7, .seaction2 .hed2 ,.h-seaction6 .sec6 .s64{line-height:60px;}
.sec7 .s36{margin-top:30px;}
.carousel-inner > .item > img, .carousel-inner > .item > a > img{width:15%;border-radius:50%;margin:auto;}
.tag1 .s76{margin:0px 10px;}
.glyphicon{margin-top:100%;}
.discript .s16{margin-top:-7px;}
.discript{width:68%;margin:auto;text-align:center;line-height:30px;}
.carousel-control.left, .carousel-control.right{background:none !important;}
.seaction8{background-image:url(../images/formback.png);background-size:cover;background-repeat:no-repeat;}
.sec8 .box{background:rgba(0,0,0,0.6);width:90%;margin:auto;color:#fff;}
.box form,.sec3 .s23{width:85%;margin:auto;}
.sec9 .box{width:90%;margin:auto;border:1px solid #9E9E9E;line-height:40px;}
.seaction2 .hed1 .s22{width:75%;}
.seaction2 .hed1 .he1 p{line-height:40px;}
.seaction2 .hed2{background:rgba(255,255,255,0.7);}
.h-seaction4 .sec4{background-image:url(../images/sec4.png);background-size:cover;background-repeat:no-repeat;}
.sec4 .hp1 .s47 , .sec4 .hhelp{background:rgba(0,0,0,0.98);}
.sec4 .hp1 .s47{width:80%;margin:auto;padding:5px 12px;}
.sec4 .hmenu{width:220px;margin:auto;}
.sec4 .menus{width:620px;background-image:url(../images/mback.png);background-size:cover;background-repeat:no-repeat;margin:-10px auto;}
.sec4 .hhelp .s47{width:63%;margin:auto;line-height:50px;}
.h-seaction5 .sec5{background-image:url(../images/img3.png);background-position:left;background-repeat:no-repeat;height:922px;}
.sec5 .advice{margin-left:40%;}
.sec5 .arrow .hed5 p, .sec5 .true .hed5 p, .sec5 .star .hed5 p{background-image:none;margin-left:0px;padding-left:0px;}
.sec5 .arrow p{background-image:url(../images/right-arrow.png);}
.sec5 .true p{background-image:url(../images/true.png);}
.sec5 .star p{background-image:url(../images/star.png);}
.result-dis p{background-image:url(../images/true1.png);}
.sec5 .arrow p,.sec5 .true p,.sec5 .star p{background-repeat:no-repeat;background-position:0px 5px;padding-left:25px;margin-left:10px;}
.result-dis p{background-repeat:no-repeat;background-position:0px 5px;padding-left:35px;margin-left:10px;text-align:justify;line-height:27px;}
.cseaction5{min-height:760px;}
.news .s36{background-image:url(../images/uparroow.png);background-repeat:no-repeat;background-position:75% 30%;-ms-transform:rotate(-7deg);-webkit-transform:rotate(-7deg);transform:rotate(-7deg);margin-left:-80px;}
.sec6 .discrib p{width:85%;margin:auto;}
.m-seaction .mlogo img{width:380px;margin:auto;}
.vid1 img{box-shadow:0px 0px 5px 3px rgba(0, 0, 0, 0.2);width:100%;}
.m-seaction .modal-body{background:#fff;}
.modal-dialog{margin:60px 10px;}
.client .img img{width:100%;border-radius:50%;box-shadow:0px 8px 6px 0px rgba(0, 0, 0, 0.3);}
.cbody .top-buffer2{width:100%;display:inline-block;}
.client-dis p{text-align:justify;}
.sec7 .s76 , .sec5 .box .s50, .sec5 .one, .sec5 .s25, .sec5 .ita, .sec5 .s23, .sec6 .s25, .sec7 .s36, .sec8 .s23, .sec9 .s50, .sec9 p, .footer p, .sec7 .s23{font-weight:200;}
.discript .s18{font-weight:400;}
.sec4 .hp1 .s47, .experience .s35{line-height:50px;}
.tag2 .tag2inn .s18{line-height:20px;}
.discript .s18, .seaction2 .hed1 .s22, .sec9 .box .s22, .csec6 p{line-height:25px;}
.experience p{line-height:27px;}
.button .sub-button button, .bookaride{background-size:cover;padding:7px 60px;letter-spacing:1px;}
.bookaride{font-size:25px;font-family:Bebas-Neue-Bold;text-transform:none;padding:10px 60px;}
.bookaride:hover,.bookaride:active,.bookaride:focus{text-decoration:none;color:#ffffff;}
.breakthrough_ride{cursor:pointer;}
.breakthrough_ride:active,.breakthrough_ride:focus,.breakthrough_ride:hover{text-decoration:none;}
.sec5 .s23{line-height:30px;}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover{background:#C8485F !important;border-color:#ddd !important;}
.client-dis p.s22{text-transform:uppercase;}
.sec6 .set1 .nav{display:block !important;}
.experience{padding-left:20px;}
.icon1 img{width:100%;}
.experience p{text-align:justify;}
.s-seaction .s-sec .disc{margin-left:32%;}
.s-hed .s73{background:#EDEDED;line-height:80px;}
.s-seaction .s-sec .image img{position:absolute;left:0px;top:40px;}
.rimage{position:absolute;left:0px;}
.cseaction5 .result{margin-left:32%;}
.seaction4 .adds{background:#EBEBEB;}
.rimage img{box-shadow:2px 3px 22px 0px rgba(0, 0, 0, 0.2);}
.seaction4 .adds .s45{padding:0px 10px;}
.seaction4 .adds .s45 a { color:#c8485f !important; }
.seaction4 .adds .s45 a:hover { color:#c8485f; }
.mhed .mlogo{padding-bottom:40px;}
.wpcf7-form-control.wpcf7-captchac.wpcf7-captcha-captcha-170{height:40px;width:auto;}
.wpcf7-form-control.wpcf7-captchar.contactform{border:1px solid #B8B8B8;margin:10px 0;padding:10px 5px 10px 20px;}
.responsive-title{display:none;}
.s25.popins-bold.text-center{
    color:#333333 !important;
}
.as-seen-forbes{
	font-family: Bebas-Neue-Regular;
    font-size: 28px;
    color: #67A9A5;
    letter-spacing: 2px;
}
.as-seen-forbes img {display: inline;}
@media(min-width:1444px){.seaction2 .tag2{background-size:100% 100%;}
}
@media (max-width:1400px) and (min-width:1200px){.cseaction5 .result{margin-left:40%;}
}
@media (max-width:1299px){.s-sec .image{display:none;}
.s-seaction .s-sec .disc{margin-left:0px;}
.s-hed .s73{display:inline-block;padding:0px 15px;}
.cseaction5 .result{margin-left:38%;}
}
@media (max-width:1199px){.sec1 .set1, .rimage{display:none;}
.sec1 .set2, .news img{width:100%;}
.seaction3 .set2 .lst,.sec5 .box{width:55%;}
.seaction2 .tag2, .sec5 .advice, .cseaction5 .result{margin-left:0px;padding-left:0px;}
.sec4 .hp1 .s47, .sec4 .hhelp .s47{width:auto;text-align:center;}
.h-seaction5 .sec5{background-image:none !important;}
.csec6 .s21{line-height:25px;padding:5px 0px;}
.top-bufferr2{margin:0px;}
.c-seaction3 .buffer{margin-top:30px;overflow:auto;}
.h-seaction5 .sec5{height:auto;}
.goodies_ref { background-position: 115% 100% !important;}
}
@media (max-width:1024px){.sec3 .set2{background-size:100% 100%;}
.set2 .centr{width:90%;}
.set1 ul{text-align:center;}
.set1 ul li:first-of-type, .set1 ul li:nth-of-type(3n) ,.set1 ul li:nth-of-type(2n){width:33.3333% !important;}
.set1 ul li:nth-of-type(4n) ,.set1 ul li:nth-of-type(5n){width:50% !important;}
.header .nav, .seaction2 .set2 .hed1,.seaction2 .hed1 .s22{width:100%;}
.seaction2 .sec1{display:inline-block;}
.seaction3 .sec3{background-image:none !important;}
.seaction4 .container .top-bufferr3{margin:0px;}
.seaction2 .add-img{display:none;}
.h-seaction6 .sec6{width:95%;}
.news .s36{background-position:85% 30%;width:280px;margin:auto;padding-right:60px;}
.sec4 .menus{width:550px;background-size:100% 100%;}
.tv img{width:100%;}
.sec5 .s38{line-height:40px;}
.header .nav li ul li{width:120px;}
.goodies_ref { background-position: 135% 100% !important;}
}
@media (max-width:991px){.client .buffer,.client .buffer1{margin-top:30px;}
.s-hed .s73{width:60%;margin:auto;}
.seaction4 .adds .s45{line-height:45px;}
.goodies_ref{background:none !important;}
}
@media(max-width:767px){.s94,.tag2inn .input1 input, .mbody .vid1, .button .sub-button{width:65%;}
.set1 ul li:first-of-type, .set1 ul li:nth-of-type(3n) ,.set1 ul li:nth-of-type(2n),.set1 ul li:nth-of-type(4n) ,.set1 ul li:nth-of-type(5n){width:auto !important;}
.sec6 .set1, .tag2inn .input1, .nav ul, .header .nav li, .header .nav>li:nth-of-type(3n),.header .nav>li:nth-of-type(5n), .nav>li:nth-of-type(6n) , .header .nav>li:nth-of-type(4n), .header .nav li ul li, .set2 .centr{width:100%;}
.carousel-inner > .item > img, .carousel-inner > .item > a > img{width:20%;}
.glyphicon{margin-top:125%;}
.tv img, .client .img img, .icon1 img{width:auto;}
.tag2 .s36{line-height:40px;margin-top:10px;}
.mbody .vid1, .button .sub-button{margin:auto;}
.header .nav > li > a{border:none;}
.active ,.header .nav ul{display:block;}
.header .nav > li , .client .pull-right{float:none !important;}
.header .nav > li > .parent{background-position:95% 50%;}
.header .nav li li .parent{background-image:url("images/downArrow.png");background-repeat:no-repeat;background-position:95% 50%;}
.header .nav > li.hover > ul ,.header .nav li li.hover ul{position:static;}
.navbar-toggle .icon-bar{background:#fff;}
.client .buffer1{margin-top:0px;}
.client .img, .icon1, .experience .s35{text-align:center;}
.sec3 .set2{background-image:none;background:#89CBC7;}
.tag2 .tag2inn .s18{padding-bottom:30px;}
.experience{padding-left:0px;}
.csec6 .s21{padding:5px;}
.button .sub-button img{position:absolute;margin-top:25px;}
.sub-button .imge1{left:11%;}
.seaction4 .row{margin-right:15px;margin-left:15px;}
.s-hed .s73{width:70%;margin:auto;}
.responsive-title{display:inline-block;font-size:40px;margin-left:15px;}
}
@media (max-width:640px){.sec5 .box, .tag1 .s18{width:82%;}
.s94{font-size:75px;width:70%;}
.sec1 .s76{font-size:60px;}
.sec3 .s23, .tv img{width:100%;}
.sec6 .discrib .s64{font-size:50.95px;}
.sec4 .menus{width:350px;}
#fancybox-wrap, #fancybox-content div{width:100% !important;}
#fancybox-wrap{left:0px !important;}
.button .sub-button button, .bookaride{padding:7px 20px;width:75%;}
.bookaride{display:inline-block;}
.sub-button .imge1{left:17%;}
.ctitle .s65{line-height:60px;}
.s-hed .s73{width:90%;}
}
@media (max-width:480px){.s94,.sec6 .video, .seaction2 .tag2 .tag2inn,.seaction3 .set2 .lst{width:92%;}
.box form, .mbody .vid1, .m-seaction .mlogo img, .button .sub-button button, .bookaride{width:100%;}
.carousel-inner > .item > img, .carousel-inner > .item > a > img{width:35%;}
.glyphicon{margin-top:200px;}
.sec4 .hp1 .s47,.sec3 .s47,.wnews .s45{line-height:50px;}
.sec6 .discrib .s64{font-size:40.95px;}
.sec4 .menus{background:rgba(0,0,0,0.7);width:290px;}
.tag1 .s36, .sec3 .set1 .s34{line-height:35px;margin-top:10px;}
.s-hed .s73{font-size:55px;line-height:55px;}
.button .sub-button img{display:none;}
.result .s35{line-height:35px;}
.s-hed .s73{font-size:50px;width:100%;}
}
@media (max-width:375px){.s94{font-size:60px;}
.sec1 .s76{font-size:50px;}
.tag1 .s18,.tag2inn .input1 input{width:95%;}
.sec8 .box,.sec9 .box, .sec6 .discrib .s25, .sec6 .discrib .s64{width:100%;}
.sub-button img{display:none;}
.carousel-inner > .item > img, .carousel-inner > .item > a > img{width:45%;}
.seaction2 .hed2 p{font-size:31.63px;}
.set2 .s68{font-size:57.74px;}
}
#mce-responses,
#mce-responses2{display:block;float:left;width:100%;}
#mc-embedded-subscribe-form input.mce_inline_error,
#mc-embedded-subscribe-form2 input.mce_inline_error{border:2px solid #e85c41;}
#mce-success-response,
#mce-success-response2{color:#529214;display:none;float:left;font-weight:bold;padding:0 20px;}
#mce-error-response,
#mce-error-response2{display:none;float:left;font-weight:bold;padding:0 20px;}
.a22{color:#000;font-family:Roboto-Light !important;font-size:16px;letter-spacing:3px;}
.a22 img{padding:5px;background-color:#67a9a5;border-radius:50%;}
.a23{color:#000;font-family:Roboto-Light !important;font-size:20.5px;text-align:justify;}
.button5 a input[type="button"]{letter-spacing:4px;font-family:BebasNeueBook;font-size:20px;padding:3px 20px;border:none;color:#fff;background:#d6566d;}
.a35{font-family:Roboto-Light;font-size:17px;}
.a35 a{color:#000;}
.button6{float:right;}
.a36{font-size:24px;text-align:center;}
.seaction9new{box-shadow:inset -1px 17px 48px -12px #ececec;-webkit-box-shadow:inset -1px 17px 48px -12px #ececec;-moz-box-shadow:inset -1px 17px 48px -12px #ececec;-o-box-shadow:inset -1px 17px 48px -12px #ececec;}
.responsive2 img{margin:0 auto;}
.a22 a{color:#000;}
.b22{width:24.3333%;display:inline-block;}
.b23{width:33.3333%;display:inline-block;}
.b24{width:40.3333%;display:inline-block;}
@media (max-width:320px){.a22{font-size:15px;}
}
@media(max-width:767px){.b22{width:100%;}
.b23{width:100%;}
.textsatting{text-align:center;margin-bottom:45px;}
.responsive2{margin-bottom:25px;}
}
@media (max-width:991px){.b22{width:40%;}
.b23{width:59%;}
}
@media (max-width:1199px){.a22{width:100%}
.b22{width:30%;}
.b23{width:69%;}
.b24{width:100%;}
}
.blog_content_sec p{color:#000;font-family:Roboto-Light !important;font-size:20.5px;text-align:justify;margin-bottom:30px;overflow:auto;}
.comment-form textarea{border:1px solid #b8b8b8;margin:10px 0;padding:10px 20px;width:100%;}
.comment-form{font-family:Roboto-Light !important;color:#000;}
.comment-form a{color:#67a9a5;font-family:Roboto-Light !important;font-size:18px;line-height:1.42857;}
.comment-form-comment{margin:10px 0 0;}
.comment-form-comment > label{text-transform:uppercase;}
.comment-respond h3{color:#000;font-family:Roboto-Light !important;font-size:22px;}
.form-submit #submit{background:#d6566d none repeat scroll 0 0;border:medium none;color:#fff;font-family:BebasNeueBook;font-size:20px;letter-spacing:4px;padding:3px 20px;margin:10px 0;}
.comment-form-author > label , .comment-form-email > label , .comment-form-url > label{float:left;width:20%;}
.comment-form-author > input, .comment-form-email > input, .comment-form-url > input{border:1px solid #b8b8b8;float:left;padding:5px;width:80%;}
.comment-form-author , .comment-form-email , .comment-form-url{float:left;margin:10px 0;width:100%;}
.url , .comment-body a{color:#67a9a5;font-family:Roboto-Light !important;font-size:18px;}
.says{margin:0 5px;}
.comment-respond a{color:#67a9a5;}
.textsatting ul{list-style:outside none none;padding:0;}
.textsatting ul li{list-style:url("../images/right-arrow.png");padding-left:15px;}
.textsatting ul a, .cat-item a{color:#000;display:block;font-family:Roboto-Light;font-size:17px;line-height:1.42857;margin:5px 0;}
.textsatting ul a:hover, .cat-item a:hover{color:#67a9a5;}
.page-id-294 iframe{border:medium none;}
.page-numbers{display:inline;}
.page-numbers > li{border:1px solid #ddd;display:table-cell;margin:0;border-right:none;}
ul .page-numbers{color:#000;display:block;margin:0;padding:5px 13px;text-align:center;width:100%;}
ul li:first-child{border-bottom-left-radius:4px;border-top-left-radius:4px;}
ul li:last-child{border-bottom-right-radius:4px;border-top-right-radius:4px;}
ul .page-numbers.current{color:#fff;background:#c8485f;}
ul .page-numbers:hover{color:#fff;background:#c8485f;}
@media screen and (max-width:480px){#commentform p label{display:block;width:100%;}
#comments{display:block;float:left;width:100%;}
ol.commentlist{float:left;padding-left:20px;width:100%;}
.comment-respond{display:block;float:left;width:100%;}
.metasinglemeta{display:block;margin:5px 0;width:100%;}
}
/* ----------------------------------- */

.bottom-buffer1{margin-bottom:10px;overflow:auto;}
.bottom-buffer2{margin-bottom:20px;overflow:auto;}
.bottom-buffer3{margin-bottom:30px;overflow:auto;}
.bottom-buffer5{margin-bottom:50px;overflow:auto;}
.top-buffer{margin-top:5px;overflow:auto;}
.top-buffer1{margin-top:10px;overflow:auto;}
.top-buffer2, .top-bufferr2{margin-top:20px;overflow:auto;}
.top-buffer100{margin-top:100px;overflow:auto;}
.top-buffer6{margin-top:60px;overflow:auto;display:inline-block;}
.top-buffer3,.top-bufferr3{margin-top:30px;overflow:auto;}
.top-buffer5{margin-top:50px;overflow:auto;}
.top-buffer8{margin-top:80px;overflow:auto;display:inline-block;}
.display-buffer{margin-top:10px;display:inline-block;width:100%;}
a:hover{text-decoration:none;}


.sec4 h3{color: #67A9A5; font-size: 45px;letter-spacing: 1px;font-family: Bebas-Neue-Bold;}
.login-form input{padding: 10px 20px; border: 1px solid #B8B8B8;letter-spacing: 2px;font-family: Roboto-Light;width:100%;font-size:16px;}
.login-form .text-right{margin-bottom:5px;}
.login{width:330px;margin:auto;text-align:center;}

.sub-button button { background-image: url(../images/button.png);  background-position: 58% 69%; background-color: #C8485F; border-radius: 20px; padding: 7px 30px; letter-spacing: 1px; margin: 10px 0px; border: none;color: #fff;  font-size: 25px;    font-family: Bebas-Neue-Bold;}

.login .login-form button{width:100%;}
.login .login-form a,.login .login-form a:hover,.login .login-form a:focus{font-size:18px;font-family:Roboto-Light;color:#000;}
.header  .nav > li > a{ padding: 0px 8px;}

.admin_table .table{max-width:845px;margin:auto;text-align:center;}
.admin_table .table th{text-align:center;font-family:Roboto-Regular;font-size:18px;text-transform:uppercase;letter-spacing:2px;background:#89CBC7;color:#fff;border:none;}
.admin_table .table td{font-family:Roboto-Light;font-size:16px;letter-spacing:2px;}
.table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th{border: 1px solid #B5B5B5;}
.s35{font-size:35px;}
.dash-box{background:#89CBC7;height:210px;}
.dash-box h1,.dash-box h1 a{margin:0px;font-family:Bebas-Neue-Bold;text-align:center;color:#fff;}
.program1 h4{font-size:30px;font-family:Bebas-Neue-Regular;color:#67A9A5;padding-left:15px;letter-spacing:1px;}
.program1 .dash-box{background:#F7F7F7;border:1px solid #EDEDED;margin-bottom:10px;}
.program1 .dash-box h1{font-size:32px;font-family:Roboto-Bold;color:#67A9A5;}
.program1  p a,.program1  p {font-size:20px;font-family:Roboto-Regular;color:#67A9A5;}
.page-template-tpl_video-php .program1 .col-md-4{ margin: 5px 0px; min-height: 278px; }
.program1 .col-md-4{ margin: 20px 0px; }
.program1 .dash-box img{ position: absolute; right: 25px; bottom: 50px;}
.videos .dash-box img{right:auto;bottom:auto;position:inherit;  height: 100%; width: 100%;}
.pdfs .sec4 h3 span{font-size:35px;}
.videos .icon{position: absolute !important; width: 60px !important;height:40px !important;left: 42.5%;top: 34%;}


.jucy_resource h1,.jucy_resource h2,.jucy_resource h3,.jucy_resource h4,.jucy_resource h5,.jucy_resource h6,p{margin:0px;color:#000;}
.jucy_resource{margin:auto; padding:0px;display:block;background-image:url(../images/background.png);background-size:cover;background-repeat:no-repeat;}
.jucy_resource p{margin-bottom:0px;}

.jucy_resource .box h1{font-size:117px;}
.jucy_resource .box h2,.jucy_resource .box1 h1{font-size:59px;}
.jucy_resource .box h3{font-size:40px;}
.jucy_resource .box1 h3{font-size:47px;}
.jucy_resource .box1 h4{font-size:72px;}
.jucy_resource .title h2{font-size:44px;}
.jucy_resource .title p{font-size:23px;}

.jucy_resource .title_m h2{font-family:MongolianBaiti;}
.jucy_resource .box h1,.jucy_resource .box h2{font-family:Poppins-Bold;}
.jucy_resource .box h3{font-family:Montserrat-Regular;}
.jucy_resource .box1 h1,.jucy_resource .title p{font-family:RobotoCondensed;}
.jucy_resource .box1 h3,.goodies_box p{font-family:Roboto-Light;}
.jucy_resource .box1 h4,.jucy_resource .title h2{font-family:Bebas-Neue-Bold;}

.jucy_resource .title_m h2,.jucy_resource .box1 h4 span,.goodies_box h2{color:#C8485F;}

.jucy_resource .title_m h2,.jucy_resource .box,.jucy_resource .title h2{text-transform:uppercase;}

.jucy_resource .box{background:#fff;}


.jucy_resource .title_m h2{ display: inline-block; background: #fff; padding: 0px 8px;}
.jucy_resource .box {min-height:430px;display:table; width: 100%;}
.jucy_resource .box_title{ display: table-cell;  vertical-align: middle;}
.jucy_resource .box h1{ display: inline-block; color: #fff; padding:13px 22px 0px 22px;background:#000;}
.jucy_resource .box h2{  color: #c8485f; background: url(../images/btnbk.png);  -webkit-background-clip: text;    -webkit-text-fill-color: transparent;   padding-top: 4px;}
.jucy_resource .box1 h1{background:unset;padding:0px;color:#000; text-transform: capitalize;}
.jucy_resource .box1 h3{text-transform:lowercase;}
.jucy_resource .box1 h4 ,.jucy_resource .title h2{color:#67A9A5;}
.jucy_resource .title p{line-height: 25px; margin-top: 6px;}
.jucy_resource .resource .col-sm-6 .title{min-height:110px;}
.jucy_resource .right-border{border-right:1px solid #868686;}
.jucy_resource a:hover .title h2 { color: #C8485F; } .jucy_resource a:hover .title p { text-decoration: underline; }

.inner_box{padding:55px;background:#fff;-webkit-transform: rotate(-2deg); -moz-transform: rotate(-2deg);  -ms-transform: rotate(-2deg);  -o-transform: rotate(-2deg); transform: rotate(-2deg);}
.goodies_ref{background-image:url(../images/goodies.png);background-position:100% 100%;background-repeat:no-repeat;}
.goodies_box{background:#89CBC7;-webkit-transform: rotate(2deg); -moz-transform: rotate(2deg);  -ms-transform: rotate(2deg);  -o-transform: rotate(2deg); transform: rotate(2deg);}
.goodies_box ul{padding: 0px; list-style-type: none;}
.goodies_box p{line-height:22px;}
.embedd .subsc_video iframe{background:#fff;}



@media(max-width:991px){
.jucy_resource .box h1{font-size:85px;}
.jucy_resource .box h2, .jucy_resource .box1 h1{font-size:42px;}
.jucy_resource .box h3{font-size:32px;}
.jucy_resource .box { min-height: 360px;}
.jucy_resource .box1 h4 { font-size: 55px;}
}

@media(max-width:767px){
.header  .nav > li > a{ padding: 0px 15px;}
.nav ul, .header .nav li, .header .nav>li:nth-of-type(3n),.header .nav>li:nth-of-type(5n), .nav>li:nth-of-type(6n) , .header .nav>li:nth-of-type(4n), .header .nav li ul li{width:100%;}
.header  .nav > li > a{border:none;}
.header .nav ul {  display: block;}
.header .nav > li , .client .pull-right{  float: none !important;}
.header .nav > li > .parent {  background-position: 95% 50%; }
.header .nav li li .parent {   background-image: url("images/downArrow.png");  background-repeat: no-repeat; background-position: 95% 50%;}
.header .nav > li.hover > ul ,.header .nav li li.hover ul {  position: static;}
.navbar-toggle .icon-bar{background:#fff;}
.login-page .top-buffer100{margin-top:25px !important;}
.a_table .top-buffer100{margin-top:50px;}
.dash-box{width: 50%; margin: 10px auto;}
.program1 .dash-box img {right: 27.4%;}
.videos .icon{left:45.5%}
.jucy_resource .right-border{border:unset;}
}



@media (max-width:640px){
.program1 .dash-box{width:80%;}
.program1 .dash-box img {right: 14.4%;}
#fancybox-wrap { left: 0px !important;}
#fancybox-wrap, #fancybox-content div {width: 100% !important;}
.page-template-tpl_video-php .program1 .col-md-4{ min-height: 260px; }
.subsc_video iframe{height:300px;}
.embedd .subsc_video iframe{height:755px;}
.jucy_resource .box {  min-height: 280px;}
}

@media (max-width:480px){
.dash-box,.program1 .dash-box{width: 100%; margin: 10px auto;}
.program1 .dash-box img {right: 6.4%;}
.videos .icon {left: 43.5%;}
.page-template-tpl_video-php .program1 .col-md-4 { min-height: 240px; }
.goodies_box{background:#89CBC7;-webkit-transform: rotate(1deg); -moz-transform: rotate(1deg);  -ms-transform: rotate(1deg);  -o-transform: rotate(1deg); transform: rotate(1deg);}
.inner_box{padding:35px;background:#fff;-webkit-transform: rotate(-1deg); -moz-transform: rotate(-1deg);  -ms-transform: rotate(-1deg);  -o-transform: rotate(-1deg); transform: rotate(-1deg);}
}

@media (max-width:375px){
.login{width:290px;}
.admin_table .table th,.admin_table .table td{font-size:14px;}
.videos .dash-box{height:170px;}
.videos .icon{ top: 31%;}
.page-template-tpl_video-php .program1 .col-md-4 { min-height: 240px; }
.subsc_video iframe{height:250px;}
.title_m h2 {font-size: 45px;}
.jucy_resource .box h3 {font-size: 28px;}
}
.title.sec4 {
  position: relative;
}
.back_btn_dash {
  color: #67a9a5;
  font-family: Bebas-Neue-Regular;
  font-size: 30px;
  font-weight: normal;
  letter-spacing: 1px;
  position: absolute;
  right: 0;
  top: 4px;
}
.s36 span {
  font-size: 28px;
}
.banner_img_div{
    display: inline;
    text-align: center;
}
.banner_img_div img{
    max-width: 100%;
    height: auto;
    width: auto;
}