@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700,700i');
@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i');

section.main-section {
  /*height: 100vh;*/
  position: relative;
}
.height-100vh {
	height: 100vh;
}
.footer {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
}
.image {
  background-image: url("http://www.agneskowalski.com/wp-content/themes/wwo/image/g3.png"), url("http://www.agneskowalski.com/wp-content/themes/wwo/image/top_background.jpg");
  background-position: 75% top, top center;
  background-repeat: no-repeat;
  background-size: auto 100%, 100% 100%;
  height: 100vh;
  position: relative;
  width: 100%;
}
.logo {
	position: absolute;
	top: 54px;
	right: 44px;
	width: 100%;
	max-width: 151px;
}
.symbol a {
  background-color: #67a9a5;
  border: medium none;
  border-radius: 25px;
  display: table-cell;
  height: 30px;
  vertical-align: middle;
  width: 30px;
  transition: 0.5s;
}
.symbol a:hover {
  background-color: #c8485f;
}
.share {
  display: inline-block;
  margin-top: 30px;
}
.line1 {
  color: #67a9a5;
  font-family: "bebas_neueregular";
  font-size: 115px;
  line-height: 80px;
}
.line2 {
	font:400 39.1px 'Roboto Condensed', sans-serif;
	color: #67A9A5;
}
.line3, .line5{
	font: 21px 'Roboto', sans-serif;
	color: #67A9A5;
}
.line4 {
	font: 21px 'Roboto', sans-serif;;
	color: #C8485F;
}
.line6{
	font:800 28px 'Roboto Condensed', sans-serif;
	color: #C8485F;
	text-transform: uppercase;
}
.line7 {
  font: 300 24px "Roboto",sans-serif;
  letter-spacing: 0.25px;
}
.line8, .line9{
	font: 21.7px 'Roboto', sans-serif;
	color:#67A9A5;
}
.sign{
	font:500 38px 'Roboto Condensed', sans-serif;
	color:#67A9A5;
}
.agnes {
  color: #b6903d;
  font: 600 42px "quickpenregular";
  transform: rotate(-5deg);
}	
.sign-o {
  display: inline-block;
  position: relative;
}
.mindset {
  background-color: #000;
  bottom: 5px;
  color: #fff;
  display: inline-block;
  font: 600 11px "Roboto",sans-serif;
  letter-spacing: 2px;
  padding: 2px 2px 2px 5px;
  position: absolute;
  right: 0;
  text-transform: uppercase;
}
.featured {
  color: #67a9a5;
  display: inline-block;
  font: 200 18px "Roboto Condensed",sans-serif;
  letter-spacing: 1.4px;
  margin-bottom: -10px;
}
.elephant {
	width: 100%;
	max-width: 70px;
}
.fb {
	color: #fff;
}
.footer {
  background-color: rgb(137, 203, 199);
  color: rgb(255, 255, 255);
  font: 13px/40px "Lato",sans-serif;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}
.line2 p, .line3 p, .line4 p, .line5 p {
	margin-bottom: 12px;
}
@media only screen and (max-width: 1024px){
	.logo {
		top: 23%;
		right: 12px;
	}
	.image {
		background-size: auto 75%;
		background-position: right bottom;
	}
	.line2 {
		font: 400 32px 'Roboto Condensed', sans-serif;
	}
	.line3, .line5, .line8{
		font: 17px 'Roboto', sans-serif;
		color: #67A9A5;
	}
	.line4 {
		font: 17px 'Roboto', sans-serif;
	}
	.line6 {
		font: 800 25px 'Roboto Condensed', sans-serif;
	}
	.line7 {
		font: 200 14px 'Roboto', sans-serif;
	}
	.logo-img .elephant {
		width: 100%;
		max-width: 60px;
	}
}
@media only screen and (max-width: 960px){
	.image{
		background: none;
	}
	.logo {
		display: none;
	}

	.line2 {
		font: 400 36px 'Roboto Condensed', sans-serif;
	}
	.line3 {
		font: 29px 'Roboto', sans-serif;
	}
	.line4 {
		font: 21px 'Roboto', sans-serif;
	}
	.line5, .line8{
		font: 21px 'Roboto', sans-serif;
	}
	.line6 {
		font: 800 30px 'Roboto Condensed', sans-serif;
	}
	.line7 {
		font: 200 18px 'Roboto', sans-serif;
	}	

	.sign {
		font: 500 40px 'Roboto Condensed', sans-serif;;
	}
}
@media only screen and (max-width: 414px){
	.logo {
	display: none;
	}
	.image {
	background-image: none;
	}
	.line3, .line5, .line8, .line9{
		font: 15px 'Roboto', sans-serif;
	}
	.line6 {
		font: 800 20px 'Roboto Condensed', sans-serif;
	}
	.mindset {
		font: 600 10px 'Roboto', sans-serif;
	}
	.logo-img .elephant {
		width: 100%;
		max-width: 80px;
	}
	.line1 {
		font-size: 90px;
	}
	.line2 {
		font: 400 29px 'Roboto Condensed', sans-serif;
	}	
}
@media only screen and (max-width: 360px){

	.logo-img .elephant {
		width: 100%;
		max-width: 70px;
	}
}
@media only screen and (max-width: 320px){
	.line1 {
		font-size: 85px;
	}
	.line2 {
		font: 400 24px 'Roboto Condensed', sans-serif;
	}
	.line3, .line5, .line8, .line9 {
		font: 13px 'Roboto', sans-serif;
	}
	.line4 {
		font: 15px 'Roboto', sans-serif;
	}
	.line6 {
		font: 800 19px 'Roboto Condensed', sans-serif;
	}
	.line7 {
		font: 200 11px 'Roboto', sans-serif;
	}
	.featured {
		font: 200 15px 'Roboto Condensed', sans-serif;
	}
	.sign {
		font: 500 30px 'Roboto Condensed', sans-serif;
	}
	.logo-img .elephant {
		width: 100%;
		max-width: 60px;
	}
}