@font-face {
 font-family: 'BebasNeueBold';
 src: url('../fonts/BebasNeueBold.eot');
 src: url('../fonts/BebasNeueBold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/BebasNeueBold.ttf') format('truetype'),
		url('../fonts/BebasNeueBold.woff') format('woff'),
		url('../fonts/BebasNeueBold.svg') format('svg'),
		url('../fonts/BebasNeueBold.otf');
font-weight:normal;
font-style:normal;
}

@font-face {
 font-family: 'Bebas-Neue-Regular';
 src: url('../fonts/Bebas-Neue-Regular.eot');
 src: url('../fonts/Bebas-Neue-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Bebas-Neue-Regular.ttf') format('truetype'),
		url('../fonts/Bebas-Neue-Regular.woff') format('woff'),
		url('../fonts/Bebas-Neue-Regular.svg') format('svg'),
		url('../fonts/Bebas-Neue-Regular.otf');
font-weight:normal;
font-style:normal;
}

@font-face {
 font-family: 'RobotoCondensedLight';
 src: url('../fonts/RobotoCondensedLight.eot');
 src: url('../fonts/RobotoCondensedLight.eot?#iefix') format('embedded-opentype'),
		url('../fonts/RobotoCondensedLight.ttf') format('truetype'),
		url('../fonts/RobotoCondensedLight.woff') format('woff'),
		url('../fonts/RobotoCondensedLight.svg') format('svg'),
		url('../fonts/RobotoCondensedLight.otf');
font-weight:normal;
font-style:normal;
}

@font-face {
 font-family: 'Roboto-Bold';
 src: url('../fonts/Roboto-Bold.eot');
 src: url('../fonts/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Roboto-Bold.ttf') format('truetype'),
		url('../fonts/Roboto-Bold.woff') format('woff'),
		url('../fonts/Roboto-Bold.svg') format('svg'),
		url('../fonts/Roboto-Bold.otf');
font-weight:normal;
font-style:normal;
}

@font-face {
 font-family: 'RobotoCondensedRegular';
 src: url('../fonts/RobotoCondensedRegular.eot');
 src: url('../fonts/RobotoCondensedRegular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/RobotoCondensedRegular.ttf') format('truetype'),
		url('../fonts/RobotoCondensedRegular.woff') format('woff'),
		url('../fonts/RobotoCondensedRegular.svg') format('svg'),
		url('../fonts/RobotoCondensedRegular.otf');
font-weight:normal;
font-style:normal;
}

@font-face {
 font-family: 'NoteraPersonal';
 src: url('../fonts/NoteraPersonal.eot');
 src: url('../fonts/NoteraPersonal.eot?#iefix') format('embedded-opentype'),
		url('../fonts/NoteraPersonal.ttf') format('truetype'),
		url('../fonts/NoteraPersonal.woff') format('woff'),
		url('../fonts/NoteraPersonal.svg') format('svg'),
		url('../fonts/NoteraPersonal.otf');
font-weight:normal;
font-style:normal;
}
@font-face {
 font-family: 'Roboto-Regular';
 src: url('../fonts/Roboto-Regular.eot');
 src: url('../fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Roboto-Regular.ttf') format('truetype'),
		url('../fonts/Roboto-Regular.woff') format('woff'),
		url('../fonts/Roboto-Regular.svg') format('svg'),
		url('../fonts/Roboto-Regular.otf');
font-weight:normal;
font-style:normal;
}
@font-face {
 font-family: 'Roboto-Light';
 src: url('../fonts/Roboto-Light.eot');
 src: url('../fonts/Roboto-Light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Roboto-Light.ttf') format('truetype'),
		url('../fonts/Roboto-Light.woff') format('woff'),
		url('../fonts/Roboto-Light.svg') format('svg'),
		url('../fonts/Roboto-Light.otf');
font-weight:normal;
font-style:normal;
}


@font-face {
 font-family: 'Poppins-Bold';
 src: url('../fonts/Poppins-Bold.ttf') format('truetype');
font-weight:normal;
font-style:normal;
}
@font-face {
 font-family: 'Poppins-Light';
 src: url('../fonts/Poppins-Light.ttf') format('truetype');
font-weight:normal;
font-style:normal;
}
@font-face {
 font-family: 'Poppins-Medium';
 src: url('../fonts/Poppins-Medium.ttf') format('truetype');
font-weight:normal;
font-style:normal;
}
@font-face {
 font-family: 'Poppins-Regular';
 src: url('../fonts/Poppins-Regular.ttf') format('truetype');
font-weight:normal;
font-style:normal;
}
@font-face {
 font-family: 'Poppins-SemiBold';
 src: url('../fonts/Poppins-SemiBold.ttf') format('truetype');
font-weight:normal;
font-style:normal;
}






@font-face {
 font-family: 'Montserrat-Black_0';
 src: url('../fonts/Montserrat-Black_0.otf');
font-weight:normal;
font-style:normal;
}
@font-face {
 font-family: 'Montserrat-Bold_0';
 src: url('../fonts/Montserrat-Bold_0.otf');
font-weight:normal;
font-style:normal;
}
@font-face {
 font-family: 'Montserrat-ExtraBold';
 src: url('../fonts/Montserrat-ExtraBold.otf');
font-weight:normal;
font-style:normal;
}
@font-face {
 font-family: 'Montserrat-Light_1';
 src: url('../fonts/Montserrat-Light_1.otf');
font-weight:normal;
font-style:normal;
}
@font-face {
 font-family: 'Montserrat-Regular';
 src: url('../fonts/Montserrat-Regular.ttf') format('truetype');
font-weight:normal;
font-style:normal;
}
@font-face {
 font-family: 'Montserrat-SemiBold';
 src: url('../fonts/Montserrat-SemiBold.otf');
font-weight:normal;
font-style:normal;
}
@font-face {
 font-family: 'Montserrat-UltraLight';
 src: url('../fonts/Montserrat-UltraLight.otf');
font-weight:normal;
font-style:normal;
}







*:focus {outline: none;}
body{margin:auto; padding:0px;display:block; font-weight:normal;}
.top-buffer1{margin-top:10px;overflow:auto;}
.top-buffer2{margin-top:20px;overflow:auto;}
.top-buffer3{margin-top:30px;overflow:auto;}
.top-buffer05{margin-top:5px;overflow:auto;}
.top-buffer5{margin-top:50px;overflow:auto;}

/**thank you start**/
p{margin:0;}
.seaction5{background-image:url(../images/background.png); background-repeat: no-repeat; background-size: 100% 105%;}
.sec6{ background-image: url(../images/img1.png); background-repeat: no-repeat;    background-position: left 25px;}
.rule1{text-align:center;color:#fff;}
.color-1{font-family: Poppins-Bold; font-size: 43px;  text-transform: uppercase; color: #c8485f; background: url(../images/font_back.png) no-repeat; -webkit-background-clip: text; -webkit-text-fill-color: transparent;}

.font-1{font-family:Montserrat-UltraLight; font-size:22px; letter-spacing:0.25px;}
.font-2{font-family:Montserrat-SemiBold; font-size:22px;}
.rule1 h3{font-family:Montserrat-SemiBold; font-size:22px;padding:5px 10px; background-color:rgba(0, 0, 0, 0.5); display:inline-block; margin:0;}
.rule1 h3 a{color:#fff; text-decoration:none; letter-spacing:1px; text-transform:uppercase; }
.rule1 h1{font-family:NoteraPersonal; font-size:60px;-ms-transform: rotate(-5deg); -webkit-transform: rotate(-5deg);transform: rotate(-5deg); display:inline-block; color:#fff;margin-top:0px;}
.rule1 h4{font-family:BebasNeueBold; font-size:40px; color:#67a9a5; text-transform:uppercase; letter-spacing:1px;}
.rule1 h5{font-family:Roboto-Light; font-size:20px; letter-spacing:0.25px;line-height: 28px;}
.rule1 h5 span{font-family:Roboto-Bold;}
.seaction6 h2{font-family:Poppins-SemiBold; font-size:30px; color:#515860; letter-spacing:0.5px; text-transform:uppercase; text-align:center;}
.seaction6 ul {list-style-image: url('../images/right_arrow.png');padding-left: 25px;}
.seaction6 ul  li{font-size:20px;font-family:Montserrat-UltraLight; line-height: 26px;}
.seaction6 p{text-align:center;font-family:Montserrat-UltraLight; font-size:20px; letter-spacing:0.25px;}

.seaction7{background-image:url(../images/background1.png); background-repeat: no-repeat;  background-size: cover;color:#fff;}
.sec7{ background-image: url(../images/img2.png); background-position: right 20px;background-repeat: no-repeat; background-size: auto 100%;}
.seaction7 h3{font-family:Poppins-SemiBold; font-size:30px; text-transform:uppercase; color:#fff; letter-spacing:1px;background:rgba(0, 0, 0, 0.5);  display: inline; padding: 0px 15px;}
.seaction7 ul {list-style-image: url('../images/right_arrow.png');padding-left: 25px;}
.seaction7 ul  li{font-size:20px;font-family:Montserrat-Light_1; line-height: 20px;}
.seaction7 p{font-family:Poppins-Light; font-size:30px;}

p.img_title {font-size:30px !important;font-family:Poppins-SemiBold !important; text-transform:uppercase !important;text-align:center !important;color:#515860 !important; line-height: 35px;}
.img_dis{ text-transform:capitalize !important;}
.img_dis, .link{font-size:16px !important;font-family:Montserrat-UltraLight !important;text-align:center !important;}
.link a{color:#000; font-style: italic;}
.img_class img{margin:auto;border-radius:50%;}


.vertical_dis p{font-family:Montserrat-UltraLight;font-size:20px; text-align: justify;}

.forsapn span{font-family:Montserrat-UltraLight;font-size:20px;float:left;}
.forsapn  .part p{margin-left:30px;font-style: italic;}

.director{background:#F2F2F2;}
.padd{padding-right:50px;}
.pera-center{display: table-cell;  vertical-align: middle;}
.vertical_dis .con_pres{display: table; position: absolute; min-height: 600px; width: 100%;}

.vertical_dis  .con_pre{display: table; position: absolute; min-height: 485px; width: 100%;}

.seaction8 p.title{font-size:30px;font-family:Poppins-SemiBold;text-align:center;text-transform:uppercase;color:#515860; line-height: 35px;}

.seaction9{background-image:url(../images/background1.png); background-repeat: no-repeat; background-size: cover;color:#fff;}
.seaction9 h2{font-family:Poppins-Bold; font-size:45px; text-align:center; letter-spacing:0.5px; text-transform:uppercase;}
.seaction9 h3{font-family:Poppins-Regular; font-size:30px; text-align:center; letter-spacing:0.5px; margin-top:0;text-transform:uppercase;}
.seaction9 ul {list-style-image: url('../images/right_arrow.png');padding-left: 25px;}
.seaction9 ul  li{font-size:20px;font-family:Montserrat-Light_1; line-height: 22px;}
.seaction9 h4{font-family:Poppins-SemiBold; font-size:30px; padding:6px 10px 3px 10px; background-color:rgba(0, 0, 0, 0.5); display:table; margin:5px auto; letter-spacing:1px;text-transform:uppercase}
.popins_semi{font-size:30px !important;}
.popins_semi span{font-family:Poppins-SemiBold !important; font-size:30px !important;}
.text_center p{font-family:Poppins-Regular; font-size:22px;text-transform:uppercase;}


.seaction9 h5{font-family:Montserrat-SemiBold; font-size:25px; text-align:center; letter-spacing:0.5px; margin-top:0;}
.bottom-btn, .text_center{text-align:center;}
.bottom-btn p{font-family:Poppins-Bold; font-size:45px; text-transform:uppercase;letter-spacing:1px;}
.sub-button button {background-image: url(../images/font_back.png); background-position: 0% 19%;border-radius: 20px;padding: 10px 30px 7px 30px;margin: 10px;	border: none;color: #000; font-family:Poppins-Bold; font-size:22px; letter-spacing:1px; margin-top: 0px;}
.sub-button img{margin-top:-33px;}
.seaction10{background-color:#000;}
.seaction10 p{font-size:14px;font-family:Roboto-Regular; padding: 10px; text-align:center; color:#fff; margin:0; letter-spacing:0.5px;
	text-transform:uppercase;}
	.bottom-margin0{margin-bottom:0px;}
	.top-margin0{margin-top:0px;}
	.no-padding{padding:0px;}
	.fluff{margin:0px 70px;background:#F2F2F2;}
	.fluff ul{margin:40px 50px;display:inline-block;}
	

/**responsive start**/
/*@media (max-width:1199px){
	.sec6, .sec7{background-image:none; min-height:auto;}
}*/
@media (max-width:1024px){
.vertical_dis  .con_pre{min-height:428px;}
.vertical_dis .con_pres{min-height:524px;}
	.color-1{font-size:45px;}
}
@media (max-width:991px){
   .color-1{font-size:37px;}
   .seaction7 .top-buffer2, .seaction9  .top-buffer2{margin-top:20px;}
	.top-buffer3{margin-top:20px;}
	.top-buffer2{margin-top:10px;}
	.vertical_dis .con_pres, .vertical_dis  .con_pre{min-height:370px;}

}
@media (max-width: 767px){
    .rigt{margin-bottom:30px;}
	.seaction9 h5, .bottom-btn p{font-size:34px;}
	.seaction9 h3{font-size:22px;}
	.seaction8 p, .seaction7 p,.seaction7 ul  li, .seaction6 p, .seaction6 ul  li, .forsapn span{font-size:18px;}
	.vertical_dis  .con_pre, .vertical_dis .con_pres{position:initial;min-height:auto;}
	.padd, .vertical_dis .con_pres, .vertical_dis  .con_pre{padding:20px 0px}
	.pera-center p{padding:0px !important;}
	.fluff{margin:0px;}
}
@media (max-width:580px){
	.color-1 {font-size: 36px;}
}
@media (max-width:490px){
	.color-1 {font-size: 33px;}
	.seaction6 h2{font-size:26px;}
	.none{display:none;}
	.rule1 h3{font-size:20px;}
	.bottom-btn p { font-size: 30px; line-height: 29px;}
}
@media (max-width:425px){
	.seaction8 img{width:100%;}
	.rule1 h1{font-size:40px;}
	.font-2{line-height:23px;}
	.font-1{font-size:20px;}
	.seaction7 h3{font-size:25px;}
}
@media (max-width:360px){
        p.img_title{font-size:27px !important;}
		.seaction7 h3{font-size:20px;}
		
}
@media (max-width:1350px){
 .sec6{background-image:none; min-height:auto;}
 .res-size{width:100%;}
}
@media (max-width:1199px){
 .sec7{background-image:none; min-height:auto;}
}