@font-face {
 font-family: 'BebasNeueBold';
 src: url('http://www.agneskowalski.com/wp-content/themes/moneymindsetmakeover/fonts/BebasNeueBold.eot');
 src: url('http://www.agneskowalski.com/wp-content/themes/moneymindsetmakeover/fonts/BebasNeueBold.eot?#iefix') format('embedded-opentype'),
		url('http://www.agneskowalski.com/wp-content/themes/moneymindsetmakeover/fonts/BebasNeueBold.ttf') format('truetype'),
		url('http://www.agneskowalski.com/wp-content/themes/moneymindsetmakeover/fonts/BebasNeueBold.woff') format('woff'),
		url('http://www.agneskowalski.com/wp-content/themes/moneymindsetmakeover/fonts/BebasNeueBold.svg') format('svg'),
		url('http://www.agneskowalski.com/wp-content/themes/moneymindsetmakeover/fonts/BebasNeueBold.otf');
font-weight:normal;
font-style:normal;
}

@font-face {
 font-family: 'Bebas-Neue-Regular';
 src: url('http://www.agneskowalski.com/wp-content/themes/moneymindsetmakeover/fonts/Bebas-Neue-Regular.eot');
 src: url('http://www.agneskowalski.com/wp-content/themes/moneymindsetmakeover/fonts/Bebas-Neue-Regular.eot?#iefix') format('embedded-opentype'),
		url('http://www.agneskowalski.com/wp-content/themes/moneymindsetmakeover/fonts/Bebas-Neue-Regular.ttf') format('truetype'),
		url('http://www.agneskowalski.com/wp-content/themes/moneymindsetmakeover/fonts/Bebas-Neue-Regular.woff') format('woff'),
		url('http://www.agneskowalski.com/wp-content/themes/moneymindsetmakeover/fonts/Bebas-Neue-Regular.svg') format('svg'),
		url('http://www.agneskowalski.com/wp-content/themes/moneymindsetmakeover/fonts/Bebas-Neue-Regular.otf');
font-weight:normal;
font-style:normal;
}

@font-face {
 font-family: 'RobotoCondensedLight';
 src: url('http://www.agneskowalski.com/wp-content/themes/moneymindsetmakeover/fonts/RobotoCondensedLight.eot');
 src: url('http://www.agneskowalski.com/wp-content/themes/moneymindsetmakeover/fonts/RobotoCondensedLight.eot?#iefix') format('embedded-opentype'),
		url('http://www.agneskowalski.com/wp-content/themes/moneymindsetmakeover/fonts/RobotoCondensedLight.ttf') format('truetype'),
		url('http://www.agneskowalski.com/wp-content/themes/moneymindsetmakeover/fonts/RobotoCondensedLight.woff') format('woff'),
		url('http://www.agneskowalski.com/wp-content/themes/moneymindsetmakeover/fonts/RobotoCondensedLight.svg') format('svg'),
		url('http://www.agneskowalski.com/wp-content/themes/moneymindsetmakeover/fonts/RobotoCondensedLight.otf');
font-weight:normal;
font-style:normal;
}

@font-face {
 font-family: 'Roboto-Bold';
 src: url('http://www.agneskowalski.com/wp-content/themes/moneymindsetmakeover/fonts/Roboto-Bold.eot');
 src: url('http://www.agneskowalski.com/wp-content/themes/moneymindsetmakeover/fonts/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
		url('http://www.agneskowalski.com/wp-content/themes/moneymindsetmakeover/fonts/Roboto-Bold.ttf') format('truetype'),
		url('http://www.agneskowalski.com/wp-content/themes/moneymindsetmakeover/fonts/Roboto-Bold.woff') format('woff'),
		url('http://www.agneskowalski.com/wp-content/themes/moneymindsetmakeover/fonts/Roboto-Bold.svg') format('svg'),
		url('http://www.agneskowalski.com/wp-content/themes/moneymindsetmakeover/fonts/Roboto-Bold.otf');
font-weight:normal;
font-style:normal;
}

@font-face {
 font-family: 'RobotoCondensedRegular';
 src: url('http://www.agneskowalski.com/wp-content/themes/moneymindsetmakeover/fonts/RobotoCondensedRegular.eot');
 src: url('http://www.agneskowalski.com/wp-content/themes/moneymindsetmakeover/fonts/RobotoCondensedRegular.eot?#iefix') format('embedded-opentype'),
		url('http://www.agneskowalski.com/wp-content/themes/moneymindsetmakeover/fonts/RobotoCondensedRegular.ttf') format('truetype'),
		url('http://www.agneskowalski.com/wp-content/themes/moneymindsetmakeover/fonts/RobotoCondensedRegular.woff') format('woff'),
		url('http://www.agneskowalski.com/wp-content/themes/moneymindsetmakeover/fonts/RobotoCondensedRegular.svg') format('svg'),
		url('http://www.agneskowalski.com/wp-content/themes/moneymindsetmakeover/fonts/RobotoCondensedRegular.otf');
font-weight:normal;
font-style:normal;
}

@font-face {
 font-family: 'NoteraPersonal';
 src: url('http://www.agneskowalski.com/wp-content/themes/moneymindsetmakeover/fonts/NoteraPersonal.eot');
 src: url('http://www.agneskowalski.com/wp-content/themes/moneymindsetmakeover/fonts/NoteraPersonal.eot?#iefix') format('embedded-opentype'),
		url('http://www.agneskowalski.com/wp-content/themes/moneymindsetmakeover/fonts/NoteraPersonal.ttf') format('truetype'),
		url('http://www.agneskowalski.com/wp-content/themes/moneymindsetmakeover/fonts/NoteraPersonal.woff') format('woff'),
		url('http://www.agneskowalski.com/wp-content/themes/moneymindsetmakeover/fonts/NoteraPersonal.svg') format('svg'),
		url('http://www.agneskowalski.com/wp-content/themes/moneymindsetmakeover/fonts/NoteraPersonal.otf');
font-weight:normal;
font-style:normal;
}
@font-face {
 font-family: 'Roboto-Regular';
 src: url('http://www.agneskowalski.com/wp-content/themes/moneymindsetmakeover/fonts/Roboto-Regular.eot');
 src: url('http://www.agneskowalski.com/wp-content/themes/moneymindsetmakeover/fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
		url('http://www.agneskowalski.com/wp-content/themes/moneymindsetmakeover/fonts/Roboto-Regular.ttf') format('truetype'),
		url('http://www.agneskowalski.com/wp-content/themes/moneymindsetmakeover/fonts/Roboto-Regular.woff') format('woff'),
		url('http://www.agneskowalski.com/wp-content/themes/moneymindsetmakeover/fonts/Roboto-Regular.svg') format('svg'),
		url('http://www.agneskowalski.com/wp-content/themes/moneymindsetmakeover/fonts/Roboto-Regular.otf');
font-weight:normal;
font-style:normal;
}


*:focus {outline: none;}
body{margin:auto; padding:0px;display:block;}
.bottom-buffer1{margin-bottom:10px;overflow:auto;display:inline-block;}
.bottom-buffer2{margin-bottom:20px;overflow:auto;}
.bottom-buffer3{margin-bottom:30px;overflow:auto;}
.top-buffer1{margin-top:10px;overflow:auto;display:inline-block;}
.top-buffer2{margin-top:20px;overflow:auto;}
.top-buffer3{margin-top:30px;overflow:auto;}
.top-buffer05{margin-top:5px;overflow:auto;}


/**thank you start**/

.sec6{ background-image: url(http://www.agneskowalski.com/wp-content/themes/moneymindsetmakeover/images/top_b.png); background-position: left;background-repeat: no-repeat;  background-size: contain;}
.ruls{float:right; text-align:center;}
.rule1 h2{font-family:BebasNeueBold; text-transform:uppercase;font-size:86px; color:#67a9a5; margin-bottom:0; margin-top:5px;}
.rule1 h4{font-family:RobotoCondensedLight; font-size:30px; margin:0;line-height: 30px;}
.rule1 h1{font-family:Roboto-Bold; font-size:21px; font-weight:normal; text-transform:uppercase;background-color: #6fadaa; margin:0; color:#fff; display: inline-block;padding: 7px 18px; letter-spacing:1px;}
.rule1 h5{font-family:RobotoCondensedLight; font-size:35px;line-height:30px;}
.rule1 h5 span{color:#67a9a5;font-family:RobotoCondensedRegular; }
.font-1{font-family:RobotoCondensedRegular !important; font-size:30px !important;}
.rule1 h6{font-family:NoteraPersonal; font-size:76px; color:#c8485f; -ms-transform: rotate(-5deg); -webkit-transform: rotate(-5deg);transform: rotate(-5deg); margin:0;display: inline-block;}
.color-1{color:#c8485f !important; }
.top-input input{ width:100%; padding:10px 25px;font-family:RobotoCondensedLight; font-size:20px;border-radius: 5px;border: 1px solid #c0c0c0; color:#c0c0c0;}
.sub-button button {background-image: url(http://www.agneskowalski.com/wp-content/themes/moneymindsetmakeover/images/button.png);background-position: 58% 69%;background-color: #C8485F;border-radius: 20px;padding: 4px 15px 0 15px;margin: 10px;
	border: none;color: #fff; font-family:BebasNeueBold; font-size:32px; letter-spacing:2px;}
.sub-button img{margin-top:-33px;}
.seaction6{background-color:#67a9a5; text-align:center; color:#fff;}
.seaction6 h2{font-family:Bebas-Neue-Regular; font-size:40px; letter-spacing:2px;}
.seaction6 p, .seaction6 h3{font-family:RobotoCondensedRegular; font-size:22px; letter-spacing:0.5px; margin:0;}
.seaction6 h3{background-color:#457d7a; display:inline-block; padding:2px 10px; margin:20px 0;}
.seaction6 h4{font-size:40px; font-family:BebasNeueBold;}
.sec7{ background-image: url(http://www.agneskowalski.com/wp-content/themes/moneymindsetmakeover/images/center_b.png); background-position: right;background-repeat: no-repeat; background-size: contain;}
.seaction7 p{font-size:22px; font-family:Roboto-Regular; text-align:justify;} 
.seaction7 h5{font-size:32px; font-family:RobotoCondensedLight; line-height:40px; color:#000; text-align:justify;}
.seaction7 ul {list-style-image: url('http://www.agneskowalski.com/wp-content/themes/moneymindsetmakeover/images/arrow.png');padding-left: 25px;}
.seaction7 ul  li{font-size:22px;font-family:RobotoCondensedLight; line-height: 26px;}
.seaction8 h2{font-family:Bebas-Neue-Regular; font-size:40px; color:#67a9a5; text-align:center; letter-spacing:2px;}
.seaction8 .sub-button{text-align:center;}
.seaction9{background-color:#67a9a5; color:#fff;}
.seaction9 ul{list-style:none;}
.seaction9 li{font-size:22px; font-family:Roboto-Regular; letter-spacing:0.5px; display:flex; text-align:justify;}
.seaction9 li h2{width: 61px;display: inline-block;height: 70px;font-size: 66px;margin-top: 0px; font-family:BebasNeueBold;}
.img-res img{margin-top: 50px;right: 30px;position: absolute;}
.sec8{ background-image: url(http://www.agneskowalski.com/wp-content/themes/moneymindsetmakeover/images/bottom-b.png); background-position: right;background-repeat: no-repeat; min-height: 559px; background-size: contain;}
.seaction11{background-color:#67a9a5; color:#fff;}
.seaction11 h2{font-size:40px;font-family:Bebas-Neue-Regular; letter-spacing:1px; line-height:50px;}
.seaction11 h2 span{font-family:BebasNeueBold;}
.seaction11 p{font-size:22px; font-family:Roboto-Regular; text-align:justify; letter-spacing:0.5px;}
.seaction12{background-color:#89cbc7;}
.seaction12 p{font-size:14px;font-family:Roboto-Regular; padding: 10px; text-align:center; color:#fff; margin:0; letter-spacing:0.5px;
	text-transform:uppercase;}
/**responsive start**/

@media (max-width: 1320px) and (min-width: 1200px){
	.seaction7 p{font-size:19px;}
}
@media (max-width:1199px){
	.sec6, .sec7, .sec8{background-image:none; min-height:auto;}
	.top-buffer3{margin-top:10px;}
}
@media (max-width:991px){
	.rule1 h5{font-size:30px;}
	.img-res img{position: static;}
}
@media (max-width: 767px){
	.top-input input{ margin-bottom:10px;}
	.seaction10 img{width:60%;}
}
@media (max-width: 640px){
	.rule1 h5{font-size:26px;}
	.seaction8 h2{font-size:30px;}
	.seaction9 li{font-size:15px;}
	.seaction9 li h2{font-size:47px; height:45px;}
	.seaction6 p, .seaction6 h3{font-size:16px;}
	.seaction10 img{width:100%;}
	.seaction11 h2{font-size:32px;}
	.seaction11 p{font-size:16px;}
	.seaction7 p, .seaction7 ul  li{font-size:18px;}
	.seaction7 h5{font-size:22px;}
}
@media (max-width:580px){
	.sub-button img{display:none;}
	.seaction11 h2{line-height:34px;font-size: 25px;}
	.seaction11 h2 span{font-size:30px;}
}
@media (max-width:490px){
	.rule1 h1{font-size:24px;}
}
@media (max-width:425px){
	.rule1 h6{font-size:50px;}
	.seaction9 ul{padding:0;}
	.seaction9 ul li{margin-bottom:15px;}
}
@media (max-width:360px){
	.rule1 h2{font-size:70px;}
}