@font-face {
 font-family: 'bebas-neue-bold';
 src: url('http://www.agneskowalski.com/wp-content/themes/wealthyselfworth/salespage/assets/fonts/bebas-neue-bold.eot');
 src: url('http://www.agneskowalski.com/wp-content/themes/wealthyselfworth/salespage/assets/fonts/bebas-neue-bold.eot?#iefix') format('embedded-opentype'),
		url('http://www.agneskowalski.com/wp-content/themes/wealthyselfworth/salespage/assets/fonts/bebas-neue-bold.ttf') format('truetype'),
		url('http://www.agneskowalski.com/wp-content/themes/wealthyselfworth/salespage/assets/fonts/bebas-neue-bold.woff') format('woff'),
		url('http://www.agneskowalski.com/wp-content/themes/wealthyselfworth/salespage/assets/fonts/bebas-neue-bold.otf');
font-weight:normal;
font-style:normal;
}


@font-face {
 font-family: 'roboto-condensed-bold';
 src: url('http://www.agneskowalski.com/wp-content/themes/wealthyselfworth/salespage/assets/fonts/roboto-condensed-bold.eot');
 src: url('http://www.agneskowalski.com/wp-content/themes/wealthyselfworth/salespage/assets/fonts/roboto-condensed-bold.eot?#iefix') format('embedded-opentype'),
		url('http://www.agneskowalski.com/wp-content/themes/wealthyselfworth/salespage/assets/fonts/roboto-condensed-bold.ttf') format('truetype'),
		url('http://www.agneskowalski.com/wp-content/themes/wealthyselfworth/salespage/assets/fonts/roboto-condensed-bold.woff') format('woff'),
		url('http://www.agneskowalski.com/wp-content/themes/wealthyselfworth/salespage/assets/fonts/roboto-condensed-bold.otf');
font-weight:normal;
font-style:normal;
}

@font-face {
 font-family: 'roboto-condensed-regular';
 src: url('http://www.agneskowalski.com/wp-content/themes/wealthyselfworth/salespage/assets/fonts/roboto-condensed-regular.eot');
 src: url('http://www.agneskowalski.com/wp-content/themes/wealthyselfworth/salespage/assets/fonts/roboto-condensed-regular.eot?#iefix') format('embedded-opentype'),
		url('http://www.agneskowalski.com/wp-content/themes/wealthyselfworth/salespage/assets/fonts/roboto-condensed-regular.ttf') format('truetype'),
		url('http://www.agneskowalski.com/wp-content/themes/wealthyselfworth/salespage/assets/fonts/roboto-condensed-regular.woff') format('woff'),
		url('http://www.agneskowalski.com/wp-content/themes/wealthyselfworth/salespage/assets/fonts/roboto-condensed-regular.otf');
font-weight:normal;
font-style:normal;
}

@font-face {
 font-family: 'roboto-light';
 src: url('http://www.agneskowalski.com/wp-content/themes/wealthyselfworth/salespage/assets/fonts/roboto-light.eot');
 src: url('http://www.agneskowalski.com/wp-content/themes/wealthyselfworth/salespage/assets/fonts/roboto-light.eot?#iefix') format('embedded-opentype'),
		url('http://www.agneskowalski.com/wp-content/themes/wealthyselfworth/salespage/assets/fonts/roboto-light.ttf') format('truetype'),
		url('http://www.agneskowalski.com/wp-content/themes/wealthyselfworth/salespage/assets/fonts/roboto-light.woff') format('woff'),
		url('http://www.agneskowalski.com/wp-content/themes/wealthyselfworth/salespage/assets/fonts/roboto-light.otf');
font-weight:normal;
font-style:normal;
}

@font-face {
 font-family: 'roboto-medium';
 src: url('http://www.agneskowalski.com/wp-content/themes/wealthyselfworth/salespage/assets/fonts/roboto-medium.eot');
 src: url('http://www.agneskowalski.com/wp-content/themes/wealthyselfworth/salespage/assets/fonts/roboto-medium.eot?#iefix') format('embedded-opentype'),
		url('http://www.agneskowalski.com/wp-content/themes/wealthyselfworth/salespage/assets/fonts/roboto-medium.ttf') format('truetype'),
		url('http://www.agneskowalski.com/wp-content/themes/wealthyselfworth/salespage/assets/fonts/roboto-medium.woff') format('woff'),
		url('http://www.agneskowalski.com/wp-content/themes/wealthyselfworth/salespage/assets/fonts/roboto-medium.otf');
font-weight:normal;
font-style:normal;
}

@font-face {
 font-family: 'roboto-regular';
 src: url('http://www.agneskowalski.com/wp-content/themes/wealthyselfworth/salespage/assets/fonts/roboto-regular.eot');
 src: url('http://www.agneskowalski.com/wp-content/themes/wealthyselfworth/salespage/assets/fonts/roboto-regular.eot?#iefix') format('embedded-opentype'),
		url('http://www.agneskowalski.com/wp-content/themes/wealthyselfworth/salespage/assets/fonts/roboto-regular.ttf') format('truetype'),
		url('http://www.agneskowalski.com/wp-content/themes/wealthyselfworth/salespage/assets/fonts/roboto-regular.woff') format('woff'),
		url('http://www.agneskowalski.com/wp-content/themes/wealthyselfworth/salespage/assets/fonts/roboto-regular.otf');
font-weight:normal;
font-style:normal;
}


@font-face {
 font-family: 'roboto-bold';
 src: url('http://www.agneskowalski.com/wp-content/themes/wealthyselfworth/salespage/assets/fonts/roboto-bold.eot');
 src: url('http://www.agneskowalski.com/wp-content/themes/wealthyselfworth/salespage/assets/fonts/roboto-bold.eot?#iefix') format('embedded-opentype'),
		url('http://www.agneskowalski.com/wp-content/themes/wealthyselfworth/salespage/assets/fonts/roboto-bold.ttf') format('truetype'),
		url('http://www.agneskowalski.com/wp-content/themes/wealthyselfworth/salespage/assets/fonts/roboto-bold.woff') format('woff'),
		url('http://www.agneskowalski.com/wp-content/themes/wealthyselfworth/salespage/assets/fonts/roboto-bold.otf');
font-weight:normal;
font-style:normal;
}



@font-face {
 font-family: 'lato-regular';
 src: url('http://www.agneskowalski.com/wp-content/themes/wealthyselfworth/salespage/assets/fonts/lato-regular.eot');
 src: url('http://www.agneskowalski.com/wp-content/themes/wealthyselfworth/salespage/assets/fonts/lato-regular.eot?#iefix') format('embedded-opentype'),
		url('http://www.agneskowalski.com/wp-content/themes/wealthyselfworth/salespage/assets/fonts/lato-regular.ttf') format('truetype'),
		url('http://www.agneskowalski.com/wp-content/themes/wealthyselfworth/salespage/assets/fonts/lato-regular.woff') format('woff'),
		url('http://www.agneskowalski.com/wp-content/themes/wealthyselfworth/salespage/assets/fonts/lato-regular.otf');
font-weight:normal;
font-style:normal;
}

@font-face {
 font-family: 'Notera_PersonalUseOnly';
 src: url('http://www.agneskowalski.com/wp-content/themes/wealthyselfworth/salespage/assets/fonts/Notera_PersonalUseOnly.eot');
 src: url('http://www.agneskowalski.com/wp-content/themes/wealthyselfworth/salespage/assets/fonts/Notera_PersonalUseOnly.eot?#iefix') format('embedded-opentype'),
		url('http://www.agneskowalski.com/wp-content/themes/wealthyselfworth/salespage/assets/fonts/Notera_PersonalUseOnly.ttf') format('truetype'),
		url('http://www.agneskowalski.com/wp-content/themes/wealthyselfworth/salespage/assets/fonts/Notera_PersonalUseOnly.woff') format('woff'),
		url('http://www.agneskowalski.com/wp-content/themes/wealthyselfworth/salespage/assets/fonts/Notera_PersonalUseOnly.otf');
font-weight:normal;
font-style:normal;
}


*{outline:0;}
body{margin:0px;padding:0px;}
h1,h2,h3,h4,h5,p{margin:0px;}



#first_section{background-image:url(http://www.agneskowalski.com/wp-content/themes/wealthyselfworth/salespage/assets/images/background1.png);background-size:cover;background-repeat:no-repeat;}
#first_section .banner_img{background-image:url(http://www.agneskowalski.com/wp-content/themes/wealthyselfworth/salespage/assets/images/img1.png);background-repeat:no-repeat;background-position:100% 100%;  background-size: contain;}
.main_title{padding:70px 10px;}

.bg-green{background:#67a9a5;}
.bg-lightgreen{background:#89cbc7;}

.green, h2.title{color:#67a9a5;}
.maroon{color:#c8485f;}
.white, h2.title.white{color:#fff;}

.italic{font-style:italic;}


.top-buffer1{margin-top:10px;}
.top-buffer2{margin-top:20px;}
.top-buffer3{margin-top:30px;}
.top-buffer5{margin-top:50px;}

.pt-50{padding-top:50px;}
.pb-50{padding-bottom:50px;}
.pt-70{padding-top:70px;}
.pb-70{padding-bottom:70px;}

.main_title h1, h2.title, .button button{font-family:bebas-neue-bold;}
.main_title h2, .your_sec p span, h3.sub-title{font-family:roboto-condensed-bold;}
.your_sec p{font-family:roboto-condensed-regular;}
.start_sec .box, .group_info, #methodology p{font-family:roboto-light;}
.start_date{font-family:roboto-medium;}
.roboto-regular,#methodology .colom p, #payment_section .sign h2{font-family:roboto-regular;}
#payment_section p{font-family:roboto-bold;}

.text-decoration{text-decoration:underline;}


.main_title h1{font-size:80px;}
h2.title{font-size:55px;}
.main_title h2,.your_sec p{font-size:33px;}
h3.sub-title{font-size:25px;}
.start_date, .start_sec .box p, .group_info{font-size:24px;}
#methodology p, ul.step p{font-size:18px;}
#payment_section .sign h1{font-size:67px;}
#payment_section .sign h2{font-size:21px;}
#payment_section p{font-size:20px;}
#payment_section .date  p{font-size:16px;}

.unset-hover:hover{color:#fff;}

.inline-block{display:inline-block;}

.main_title h2{padding:5px 15px 5px 10px;letter-spacing:1px;}

.your_sec p span{color:#c8485f;text-transform:uppercase;}
.your_sec p{line-height: 38px;}

.start_sec{position:relative; margin: 20px 0px 40px 0px;}
.start_sec .box{border: 2px solid #67a9a5; width: 270px;  margin: auto; padding: 10px 10px 25px 10px; position: relative;}
.start_date{ display: inline-block; background: #c8485f;  color: #fff;  padding: 5px 15px;  position: absolute;  bottom: -18px; left: 38px;  right: 38px;  width: auto;}


.colom{ background: #f6f6f6;  display: inline-block;  width: 100%;  padding: 10px 0px;}


ul.step{padding: 0px; list-style-type: none; text-align: left;}
ul.step li{ padding: 10px 20px; color: #fff; font-family: roboto-regular;  display: inline-flex; width: 100%; font-size: 18px;}
ul.step li:nth-child(even) { background: #67a9a5;}

#payment_section .banner_img{background-image:url(http://www.agneskowalski.com/wp-content/themes/wealthyselfworth/salespage/assets/images/img2.png);background-repeat:no-repeat;background-position:0% 50px;}

#who_section ul.step li p{color:#fff;}
#payment_section p{text-transform:uppercase;}

.button button{ background-image: url(http://www.agneskowalski.com/wp-content/themes/wealthyselfworth/salespage/assets/images/button.png); background-size: 100%; background-repeat: no-repeat; color: #fff; border-radius: 16px; border: 0px; padding: 5px 15px; margin-top: 10px; font-size: 23px; letter-spacing: 1px; background-position: 0px 76%;}

.button img{margin-top:-20px;}

#payment_section .border-right{border-right:1px solid #8e8e8e;}
#payment_section .col-lg-6{ padding-top: 40px; padding-bottom: 60px;}
#payment_section .sign h1{font-family:Notera_PersonalUseOnly; -ms-transform: rotate(-5deg);  -webkit-transform: rotate(-5deg);  transform: rotate(-5deg);}
#payment_section .sign h2{margin-top:-10px;}
#payment_section .date p{text-transform:capitalize;font-family:roboto-light;}


footer p{font-family:lato-regular;font-size:14px;text-transform:uppercase;padding:10px;}


@media(min-width:1440px){
	.main_title { padding: 150px 10px;}
}

@media(max-width:1199px){
	.xs-border-rm{border:none !important;}
	#payment_section .banner_img{ background-position: 0% 110px;}
	#payment_section .col-lg-6{padding:0px !important;}
}

@media(max-width:991px){
	#first_section .banner_img{background:none;}
	#payment_section .sign h1 {  font-size: 65px;}
}

@media(max-width:767px){
    .xs-left{margin-left:0px;}
	.xs-pb-0{padding-bottom:0px;}
	#payment_section .banner_img{background:none;}
	#methodology p.pb-50{padding:0px;}
}

@media (max-width: 440px){
   #payment_section .sign h1 { font-size: 43px;}
   #payment_section .sign h2 { font-size: 14px;}
   .button img{display:none;}
   #first_section .col-md-6.col-lg-8{padding:0px;}
   .main_title{padding:70px 0px;}
}
