@font-face {
 font-family: 'BebasNeueBold';
 src: url('http://www.agneskowalski.com/wp-content/themes/moneymindsetmakeover/thankyou-fonts/BebasNeueBold.eot');
 src: url('http://www.agneskowalski.com/wp-content/themes/moneymindsetmakeover/thankyou-fonts/BebasNeueBold.eot?#iefix') format('embedded-opentype'),
		url('http://www.agneskowalski.com/wp-content/themes/moneymindsetmakeover/thankyou-fonts/BebasNeueBold.ttf') format('truetype'),
		url('http://www.agneskowalski.com/wp-content/themes/moneymindsetmakeover/thankyou-fonts/BebasNeueBold.woff') format('woff'),
		url('http://www.agneskowalski.com/wp-content/themes/moneymindsetmakeover/thankyou-fonts/BebasNeueBold.svg') format('svg'),
		url('http://www.agneskowalski.com/wp-content/themes/moneymindsetmakeover/thankyou-fonts/BebasNeueBold.otf');
font-weight:normal;
font-style:normal;
}

@font-face {
 font-family: 'RobotoCondensedLight';
 src: url('http://www.agneskowalski.com/wp-content/themes/moneymindsetmakeover/thankyou-fonts/RobotoCondensedLight.eot');
 src: url('http://www.agneskowalski.com/wp-content/themes/moneymindsetmakeover/thankyou-fonts/RobotoCondensedLight.eot?#iefix') format('embedded-opentype'),
		url('http://www.agneskowalski.com/wp-content/themes/moneymindsetmakeover/thankyou-fonts/RobotoCondensedLight.ttf') format('truetype'),
		url('http://www.agneskowalski.com/wp-content/themes/moneymindsetmakeover/thankyou-fonts/RobotoCondensedLight.woff') format('woff'),
		url('http://www.agneskowalski.com/wp-content/themes/moneymindsetmakeover/thankyou-fonts/RobotoCondensedLight.svg') format('svg'),
		url('http://www.agneskowalski.com/wp-content/themes/moneymindsetmakeover/thankyou-fonts/RobotoCondensedLight.otf');
font-weight:normal;
font-style:normal;
}

@font-face {
 font-family: 'Roboto-Bold';
 src: url('http://www.agneskowalski.com/wp-content/themes/moneymindsetmakeover/thankyou-fonts/Roboto-Bold.eot');
 src: url('http://www.agneskowalski.com/wp-content/themes/moneymindsetmakeover/thankyou-fonts/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
		url('http://www.agneskowalski.com/wp-content/themes/moneymindsetmakeover/thankyou-fonts/Roboto-Bold.ttf') format('truetype'),
		url('http://www.agneskowalski.com/wp-content/themes/moneymindsetmakeover/thankyou-fonts/Roboto-Bold.woff') format('woff'),
		url('http://www.agneskowalski.com/wp-content/themes/moneymindsetmakeover/thankyou-fonts/Roboto-Bold.svg') format('svg'),
		url('http://www.agneskowalski.com/wp-content/themes/moneymindsetmakeover/thankyou-fonts/Roboto-Bold.otf');
font-weight:normal;
font-style:normal;
}

@font-face {
 font-family: 'RobotoCondensedRegular';
 src: url('http://www.agneskowalski.com/wp-content/themes/moneymindsetmakeover/thankyou-fonts/RobotoCondensedRegular.eot');
 src: url('http://www.agneskowalski.com/wp-content/themes/moneymindsetmakeover/thankyou-fonts/RobotoCondensedRegular.eot?#iefix') format('embedded-opentype'),
		url('http://www.agneskowalski.com/wp-content/themes/moneymindsetmakeover/thankyou-fonts/RobotoCondensedRegular.ttf') format('truetype'),
		url('http://www.agneskowalski.com/wp-content/themes/moneymindsetmakeover/thankyou-fonts/RobotoCondensedRegular.woff') format('woff'),
		url('http://www.agneskowalski.com/wp-content/themes/moneymindsetmakeover/thankyou-fonts/RobotoCondensedRegular.svg') format('svg'),
		url('http://www.agneskowalski.com/wp-content/themes/moneymindsetmakeover/thankyou-fonts/RobotoCondensedRegular.otf');
font-weight:normal;
font-style:normal;
}
@font-face {
 font-family: 'Roboto-Regular';
 src: url('http://www.agneskowalski.com/wp-content/themes/moneymindsetmakeover/thankyou-fonts/Roboto-Regular.eot');
 src: url('http://www.agneskowalski.com/wp-content/themes/moneymindsetmakeover/thankyou-fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
		url('http://www.agneskowalski.com/wp-content/themes/moneymindsetmakeover/thankyou-fonts/Roboto-Regular.ttf') format('truetype'),
		url('http://www.agneskowalski.com/wp-content/themes/moneymindsetmakeover/thankyou-fonts/Roboto-Regular.woff') format('woff'),
		url('http://www.agneskowalski.com/wp-content/themes/moneymindsetmakeover/thankyou-fonts/Roboto-Regular.svg') format('svg'),
		url('http://www.agneskowalski.com/wp-content/themes/moneymindsetmakeover/thankyou-fonts/Roboto-Regular.otf');
font-weight:normal;
font-style:normal;
}

@font-face {
 font-family: 'NoteraPersonal';
 src: url('http://www.agneskowalski.com/wp-content/themes/moneymindsetmakeover/thankyou-fonts/NoteraPersonal.eot');
 src: url('http://www.agneskowalski.com/wp-content/themes/moneymindsetmakeover/thankyou-fonts/NoteraPersonal.eot?#iefix') format('embedded-opentype'),
 url('http://www.agneskowalski.com/wp-content/themes/moneymindsetmakeover/thankyou-fonts/NoteraPersonal.ttf') format('truetype'),
		url('http://www.agneskowalski.com/wp-content/themes/moneymindsetmakeover/thankyou-fonts/NoteraPersonal.woff') format('woff'),
		url('http://www.agneskowalski.com/wp-content/themes/moneymindsetmakeover/thankyou-fonts/NoteraPersonal.svg') format('svg'),
		url('http://www.agneskowalski.com/wp-content/themes/moneymindsetmakeover/thankyou-fonts/NoteraPersonal.otf');
font-weight:normal;
font-style:normal;
}



*:focus {outline: none;}
body{margin:auto; padding:0px;display:block;}
.top-buffer1{margin-top:10px;overflow:auto;display:inline-block;}
.top-buffer2{margin-top:20px;overflow:auto;}
.top-buffer3{margin-top:30px;overflow:auto;}
.top-buffer4{margin-top:12px;overflow:auto;}
.top-buffer05{margin-top:5px;overflow:auto;}
/**thank you start**/
.sec6{ background-image: url(http://www.agneskowalski.com/wp-content/themes/moneymindsetmakeover/thankyou-images/thankyou.png); background-position: left;background-repeat: no-repeat; background-size: contain;}
.ruls{float:right; text-align:center;}
.rule1 h2{font-family:BebasNeueBold; text-transform:uppercase;font-size:61px; color:#67a9a5;}
.rule1 h2 span{color:#c8485f;}
.rule1 h4{font-family:RobotoCondensedLight; font-size:30px; margin:0;line-height: 30px;}
.rule1 p{font-family:RobotoCondensedLight; font-size:21px; margin:0;line-height: 30px; letter-spacing:0.25px;}
.rule1 h1{font-family:Roboto-Bold; font-size:35px; font-weight:normal;background-color: #6fadaa; margin:0; color:#fff; display: inline-block;padding: 7px 18px; letter-spacing:1px;}
.rule1 h3{font-family:RobotoCondensedLight; font-size:21px; letter-spacing:1px; line-height:30px;}
.rule1 h3 b{font-family:Roboto-Bold; font-size:21px}
.rule1 h5{font-family:RobotoCondensedRegular; font-size:30px;line-height:30px;}
.rule1 h5 span{ font-size:30px; color:#67a9a5; }
.font-1{font-family:RobotoCondensedRegular !important; font-size:30px !important;}
.rule1 h6{font-family:NoteraPersonal; font-size:76px; color:#c8485f; -ms-transform: rotate(-5deg); -webkit-transform: rotate(-5deg);transform: rotate(-5deg); margin:0;display: inline-block;}
.seaction12 p {font-size: 14px;font-family: Roboto-Regular;padding: 10px;text-align: center;color: #fff;margin: 0;letter-spacing: 0.5px;
text-transform: uppercase;}
.seaction12 {background-color: #89cbc7;}
/**responsive start**/

@media (max-width:1199px){
	.sec6{background-image:none;}
}
@media (max-width: 640px){
	.rule1 h4{font-size:25px;}
}
@media (max-width:580px){
	.rule1 h4{font-size:22px;}
	.rule1 p, .rule1 h3{font-size:18px;}
	.rule1 h3 b{font-size:18px;}
	.rule1 h5, .rule1 h5 span{ font-size:25px;}
	.rule1 h6{font-size:60px;}
}
@media (max-width:490px){
	.rule1 h1{font-size:24px;}
}
@media (max-width:425px){
	.rule1 h6{font-size:50px;}
}
@media (max-width:360px){
	.rule1 h1{font-size:19px;}
	.rule1 p, .rule1 h3{ font-size:14px; line-height: 22px;}
	.rule1 h4{font-size:20px;line-height: 25px;}
	.rule1 h6{font-size:40px;}
	.rule1 h5, .rule1 h5 span{font-size:16px;}
}
/**responsive end**/