@font-face {
 font-family: 'Lato-Regular';
 src: url('http://www.agneskowalski.com/wp-content/themes/workwithmewaitlist/fonts/Lato-Regular.eot');
 src: url('http://www.agneskowalski.com/wp-content/themes/workwithmewaitlist/fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'),
		url('http://www.agneskowalski.com/wp-content/themes/workwithmewaitlist/fonts/Lato-Regular.ttf') format('truetype'),
		url('http://www.agneskowalski.com/wp-content/themes/workwithmewaitlist/fonts/Lato-Regular.woff') format('woff'),
		url('http://www.agneskowalski.com/wp-content/themes/workwithmewaitlist/fonts/Lato-Regular.svg') format('svg'),
		url('http://www.agneskowalski.com/wp-content/themes/workwithmewaitlist/fonts/Lato-Regular.otf');
font-weight:normal;
font-style:normal;
}

@font-face {
 font-family: 'Bebas-Neue-Bold';
 src: url('http://www.agneskowalski.com/wp-content/themes/workwithmewaitlist/fonts/Bebas-Neue-Bold.eot');
 src: url('http://www.agneskowalski.com/wp-content/themes/workwithmewaitlist/fonts/Bebas-Neue-Bold.eot?#iefix') format('embedded-opentype'),
		url('http://www.agneskowalski.com/wp-content/themes/workwithmewaitlist/fonts/Bebas-Neue-Bold.ttf') format('truetype'),
		url('http://www.agneskowalski.com/wp-content/themes/workwithmewaitlist/fonts/Bebas-Neue-Bold.woff') format('woff'),
		url('http://www.agneskowalski.com/wp-content/themes/workwithmewaitlist/fonts/Bebas-Neue-Bold.svg') format('svg'),
		url('http://www.agneskowalski.com/wp-content/themes/workwithmewaitlist/fonts/Bebas-Neue-Bold.otf');
font-weight:normal;
font-style:normal;
}


@font-face {
 font-family: 'Roboto-Light';
 src: url('http://www.agneskowalski.com/wp-content/themes/workwithmewaitlist/fonts/Roboto-Light.eot');
 src: url('http://www.agneskowalski.com/wp-content/themes/workwithmewaitlist/fonts/Roboto-Light.eot?#iefix') format('embedded-opentype'),
		url('http://www.agneskowalski.com/wp-content/themes/workwithmewaitlist/fonts/Roboto-Light.ttf') format('truetype'),
		url('http://www.agneskowalski.com/wp-content/themes/workwithmewaitlist/fonts/Roboto-Light.woff') format('woff'),
		url('http://www.agneskowalski.com/wp-content/themes/workwithmewaitlist/fonts/Roboto-Light.svg') format('svg'),
		url('http://www.agneskowalski.com/wp-content/themes/workwithmewaitlist/fonts/Roboto-Light.otf');
font-weight:normal;
font-style:normal;
}

@font-face {
 font-family: 'Roboto_Condensed';
 src: url('http://www.agneskowalski.com/wp-content/themes/workwithmewaitlist/fonts/Roboto_Condensed.eot');
 src: url('http://www.agneskowalski.com/wp-content/themes/workwithmewaitlist/fonts/Roboto_Condensed.eot?#iefix') format('embedded-opentype'),
		url('http://www.agneskowalski.com/wp-content/themes/workwithmewaitlist/fonts/Roboto_Condensed.ttf') format('truetype'),
		url('http://www.agneskowalski.com/wp-content/themes/workwithmewaitlist/fonts/Roboto_Condensed.woff') format('woff'),
		url('http://www.agneskowalski.com/wp-content/themes/workwithmewaitlist/fonts/Roboto_Condensed.svg') format('svg'),
		url('http://www.agneskowalski.com/wp-content/themes/workwithmewaitlist/fonts/Roboto_Condensed.otf');
font-weight:normal;
font-style:normal;
}




*{outline:0px;}
body{margin:0px;padding:0px;}

.top-buffer10{margin-top:10px;}
.top-buffer20{margin-top:20px;}
.top-buffer30{margin-top:30px;}
.top-buffer50{margin-top:50px;}
.top-buffer9{margin-top:80px;}

h1,h2,h3,h4,h5{margin:0px auto;color:#000;}
p{color:#000;}
.uppercase{text-transform:uppercase;}
.justify{text-align:justify}

h1{font-size:65px;}
h2{font-size:28px;letter-spacing:1px;}
h3{font-size:36px;}
h4{font-size:23px;}
.mf-19{font-size:19px;margin:0px;}
#_form_9_submit{font-size:25px;color:#fff;letter-spacing:1px; margin: 0px 8px;}

h1,h3,#_form_9_submit{font-family:Bebas-Neue-Bold;}
.mf-19{font-family:Roboto-Light;}
h4{font-family:Roboto_Condensed;}

h1,h2,h3,h4{color:#67A9A5;}
h2 span{color:#C8485F;}

input{border:1px solid #B5B5B5 !important;}

.footer{background-image:url(http://www.agneskowalski.com/wp-content/themes/workwithmewaitlist/images/bg-img.png);background-repeat:no-repeat;background-size:cover;}

.submit-buttons button{letter-spacing:1px;background-image:url(http://www.agneskowalski.com/wp-content/themes/workwithmewaitlist/images/button-bg.png);background-repeat:no-repeat;border:none;padding:0px 20px;border-radius:18px;height:45px;background-size: 100%;}
.submit-buttons img{margin-top:-30px;}
form .form-group  .form-control{height:45px;font-size:16px;border:none;border-radius:0px;padding:6px 15px;letter-spacing:1px;}
.footer-bg{background-image:url(http://www.agneskowalski.com/wp-content/themes/workwithmewaitlist/images/foot-img.png);background-repeat:no-repeat;background-position:100% 100%; background-size: 461px;}
footer p{margin:0px;background:#89CBC7;color:#fff;padding:10px;font-size:13px;font-family:Lato-Regular;text-align:center;text-transform:uppercase;letter-spacing:1px;}
._form-thank-you { position:relative; left:0; right:0; text-align:center; font-size:18px; }

.thankyou{background-image:url(http://www.agneskowalski.com/wp-content/themes/workwithmewaitlist/images/background.png);background-repeat:no-repeat;background-position:0% 0%;height:800px;}
.thanx-head{display:table-cell;}
.thanx-head h2{display:table-cell;vertical-align: middle;color:#3e3e3e;height:800px;}



 ._error { display:block; position:absolute; font-size:13px; z-index:10000001; }
 ._error._above { padding-top:4px; top:-41px; right:15px; }
 ._error._below { padding-bottom:4px; top: -40px; right:15px; }
 ._error._above ._error-arrow { bottom:0; right:15px; border-left:5px solid transparent; border-right:5px solid transparent; border-bottom:5px solid #f37c7b; }
 ._error._below ._error-arrow { top: 34px; right:15px; border-left:5px solid transparent; border-right:5px solid transparent; border-top:5px solid #f37c7b; }
 ._error-inner { padding:8px 12px; background-color:#f37c7b; font-size:13px; font-family:arial, sans-serif; color:#fff; text-align:center; text-decoration:none; -webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px; }
 ._error-inner._form_error { margin-bottom:5px; text-align:left; }
 ._button-wrapper ._error-inner._form_error { position:static; }
 ._error-inner._no_arrow { margin-bottom:10px; }
 ._error-arrow { position:absolute; width:0; height:0; }
 ._error-html { margin-bottom:10px; }


@media(max-width:1024px)
{
.footer-bg{background:none;}
#_form_9_submit{margin:0px;}
.thanx-head h2,.thankyou{height:600px;}
.thankyou{background-size:contain;}
}

@media (max-width:767px){
.thankyou{background:none;}
}

