@font-face {
 font-family: 'Lato-Regular';
 src: url('http://www.agneskowalski.com/wp-content/themes/cashcommandments/fonts/Lato-Regular.eot');
 src: url('http://www.agneskowalski.com/wp-content/themes/cashcommandments/fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'),
		url('http://www.agneskowalski.com/wp-content/themes/cashcommandments/fonts/Lato-Regular.ttf') format('truetype'),
		url('http://www.agneskowalski.com/wp-content/themes/cashcommandments/fonts/Lato-Regular.woff') format('woff'),
		url('http://www.agneskowalski.com/wp-content/themes/cashcommandments/fonts/Lato-Regular.svg') format('svg'),
		url('http://www.agneskowalski.com/wp-content/themes/cashcommandments/fonts/Lato-Regular.otf');
font-weight:normal;
font-style:normal;
}


@font-face {
 font-family: 'Poppins-Bold';
 src: url('http://www.agneskowalski.com/wp-content/themes/cashcommandments/fonts/Poppins-Bold.ttf') format('truetype');
font-weight:normal;
font-style:normal;
}



@font-face {
 font-family: 'Montserrat-Light_1';
 src: url('http://www.agneskowalski.com/wp-content/themes/cashcommandments/fonts/Montserrat-Light_1.otf');
font-weight:Light;
font-style:normal;
}
@font-face {
 font-family: 'Montserrat-Regular';
 src: url('http://www.agneskowalski.com/wp-content/themes/cashcommandments/fonts/Montserrat-Regular.ttf') format('truetype');
font-weight:normal;
font-style:normal;
}
@font-face {
 font-family: 'Montserrat-SemiBold';
 src: url('http://www.agneskowalski.com/wp-content/themes/cashcommandments/fonts/Montserrat-SemiBold.otf');
font-weight:normal;
font-style:normal;
}



*{outline:0px;}
body{margin:0px;padding:0px;}

.top-buffer10{margin-top:10px;}
.top-buffer20{margin-top:20px;}
.top-buffer30{margin-top:30px;}
.top-buffer50{margin-top:50px;}
.top-buffer9{margin-top:80px;}

h1,h2,h3,h4,h5{margin:0px auto;color:#000;}
p{color:#000;}
.sec1{background-image:url(http://www.agneskowalski.com/wp-content/themes/cashcommandments/images/bg-img.png);background-repeat:no-repeat;/*background-size:100% 100%;*/}
.head{background-image:url(http://www.agneskowalski.com/wp-content/themes/cashcommandments/images/text-bg.png);background-repeat:no-repeat;background-size:cover;}
h2,.head h3, .head p{color:#fff;}
.uppercase{text-transform:uppercase;}
.comment-title,.footer p{font-family:Montserrat-Regular;}
.head h3, .comment p, .cash-comment h3,.submit-buttons input{font-family:Montserrat-Light_1;}
.head h3 span, h2, .cash-comment h3 span{font-family:Montserrat-SemiBold;}
h1,.submit-buttons button{font-family:Poppins-Bold;}
 h1{font-size:65px;}
.head h3{font-size:35px;}
h2{font-size:46px;}
.comment p, .submit-buttons button{font-size:22px;}
.cash-comment h3{font-size:26px;}
.cash-comment .comment p, .comment-title, .footer p{font-size:19px;}
.justify{text-align:justify;}
.head h3{font-style:italic;}
h1{ color: #c8485f;background: url(http://www.agneskowalski.com/wp-content/themes/cashcommandments/images/button-bg.png); -webkit-background-clip: text; -webkit-text-fill-color: transparent; padding-top:4px;}
.cash-title{display:inline-block;background:rgba(0,0,0,0.6);  padding: 0px 15px;  transform: skewX(-15deg);}
.comment{margin:0px 40px;}
.comment p{padding-left:30px;background-image:url(http://www.agneskowalski.com/wp-content/themes/cashcommandments/images/left-arrow.png);background-repeat:no-repeat;background-position:0% 10px;}
.comment-title{background-image:url(http://www.agneskowalski.com/wp-content/themes/cashcommandments/images/text-bg.png);background-repeat:no-repeat;background-size:100%;display:inline-block;padding:5px 10px;color:#ffff;}
.cash-comment .comment{padding:0px 150px;}
.cash-comment .comment p{background-image:url(http://www.agneskowalski.com/wp-content/themes/cashcommandments/images/true.png);padding-left:67px;background-position:0% 6px;font-weight: 600;}
.footer p{padding:0px 70px;}
.submit-buttons button{letter-spacing:1px;background-image:url(http://www.agneskowalski.com/wp-content/themes/cashcommandments/images/button-bg.png);background-repeat:no-repeat;border:none;padding:0px 20px;padding-top:5px;border-radius:18px;height:45px;background-size: 100%;}
.submit-buttons img{margin-top:-35px;}
form .form-group  .form-control{height:45px;font-size:16px;border:none;border-radius:0px;padding:6px 15px;}
.footer-bg{background-image:url(http://www.agneskowalski.com/wp-content/themes/cashcommandments/images/foot-img.png);background-repeat:no-repeat;background-position:100% 100%; background-size: 461px;}
footer p{margin:0px;background:#1A1A1A;color:#fff;padding:10px;font-size:13px;font-family:Lato-Regular;text-align:center;text-transform:uppercase;letter-spacing:1px;}
._form-thank-you { position:relative; left:0; right:0; text-align:center; font-size:18px; }


 ._error { display:block; position:absolute; font-size:13px; z-index:10000001; }
 ._error._above { padding-top:4px; top:-41px; right:15px; }
 ._error._below { padding-bottom:4px; top: -40px; right:15px; }
 ._error._above ._error-arrow { bottom:0; right:15px; border-left:5px solid transparent; border-right:5px solid transparent; border-bottom:5px solid #f37c7b; }
 ._error._below ._error-arrow { top: 34px; right:15px; border-left:5px solid transparent; border-right:5px solid transparent; border-top:5px solid #f37c7b; }
 ._error-inner { padding:8px 12px; background-color:#f37c7b; font-size:13px; font-family:arial, sans-serif; color:#fff; text-align:center; text-decoration:none; -webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px; }
 ._error-inner._form_error { margin-bottom:5px; text-align:left; }
 ._button-wrapper ._error-inner._form_error { position:static; }
 ._error-inner._no_arrow { margin-bottom:10px; }
 ._error-arrow { position:absolute; width:0; height:0; }
 ._error-html { margin-bottom:10px; }













@media(max-width:991px){
.footer-bg, .sec1 .head{background:none;}
.sec1{background:url(http://www.agneskowalski.com/wp-content/themes/cashcommandments/images/text-bg.png);background-size:cover;}
.cash-comment .comment{padding:0px;}
}

@media(max-width:580px){
.col-md-8{padding:0px !important;}
.comment{margin:0px 20px;}
.cash-title{width:310px;}
h1{font-size:55px;}
h2{font-size:35px;}
.submit-buttons button{word-wrap: break-word;width: 260px;height: auto;}
.submit-buttons img { display:none;}
.footer p{padding:0px 20px;}
.xs-buffer3{margin-top:30px !important;}
}

@media(max-width:425px){
.cash-title{width:265px;}
h2 { font-size: 28px;}
.head h3 { font-size: 30px;}
h1 { font-size: 48px;}
.cash-title { width: 255px;}
}
