@font-face {
 font-family: 'Roboto-Light';
 src: url('http://www.agneskowalski.com/wp-content/themes/prosperitytraining/fonts/Roboto-Light.eot');
 src: url('http://www.agneskowalski.com/wp-content/themes/prosperitytraining/fonts/Roboto-Light.eot?#iefix') format('embedded-opentype'),
		url('http://www.agneskowalski.com/wp-content/themes/prosperitytraining/fonts/Roboto-Light.ttf') format('truetype'),
		url('http://www.agneskowalski.com/wp-content/themes/prosperitytraining/fonts/Roboto-Light.woff') format('woff'),
		url('http://www.agneskowalski.com/wp-content/themes/prosperitytraining/fonts/Roboto-Light.svg') format('svg'),
		url('http://www.agneskowalski.com/wp-content/themes/prosperitytraining/fonts/Roboto-Light.otf');
font-weight:normal;
font-style:normal;
}


@font-face {
 font-family: 'NoteraPersonalUseOnly';
 src: url('http://www.agneskowalski.com/wp-content/themes/prosperitytraining/fonts/NoteraPersonalUseOnly.eot');
 src: url('http://www.agneskowalski.com/wp-content/themes/prosperitytraining/fonts/NoteraPersonalUseOnly.eot?#iefix') format('embedded-opentype'),
		url('http://www.agneskowalski.com/wp-content/themes/prosperitytraining/fonts/NoteraPersonalUseOnly.ttf') format('truetype'),
		url('http://www.agneskowalski.com/wp-content/themes/prosperitytraining/fonts/NoteraPersonalUseOnly.woff') format('woff'),
		url('http://www.agneskowalski.com/wp-content/themes/prosperitytraining/fonts/NoteraPersonalUseOnly.svg') format('svg'),
		url('http://www.agneskowalski.com/wp-content/themes/prosperitytraining/fonts/NoteraPersonalUseOnly.otf');
font-weight:normal;
font-style:normal;
}

@font-face {
 font-family: 'RobotoCondensed';
 src: url('http://www.agneskowalski.com/wp-content/themes/prosperitytraining/fonts/Roboto_Condensed.eot');
 src: url('http://www.agneskowalski.com/wp-content/themes/prosperitytraining/fonts/Roboto_Condensed.eot?#iefix') format('embedded-opentype'),
		url('http://www.agneskowalski.com/wp-content/themes/prosperitytraining/fonts/Roboto_Condensed.ttf') format('truetype'),
		url('http://www.agneskowalski.com/wp-content/themes/prosperitytraining/fonts/Roboto_Condensed.woff') format('woff'),
		url('http://www.agneskowalski.com/wp-content/themes/prosperitytraining/fonts/Roboto_Condensed.svg') format('svg'),
		url('http://www.agneskowalski.com/wp-content/themes/prosperitytraining/fonts/Roboto_Condensed.otf');
font-weight:normal;
font-style:normal;
}


@font-face {
 font-family: 'Bebas-Neue-Bold';
 src: url('http://www.agneskowalski.com/wp-content/themes/prosperitytraining/fonts/Bebas-Neue-Bold.eot');
 src: url('http://www.agneskowalski.com/wp-content/themes/prosperitytraining/fonts/Bebas-Neue-Bold.eot?#iefix') format('embedded-opentype'),
		url('http://www.agneskowalski.com/wp-content/themes/prosperitytraining/fonts/Bebas-Neue-Bold.ttf') format('truetype'),
		url('http://www.agneskowalski.com/wp-content/themes/prosperitytraining/fonts/Bebas-Neue-Bold.woff') format('woff'),
		url('http://www.agneskowalski.com/wp-content/themes/prosperitytraining/fonts/Bebas-Neue-Bold.svg') format('svg'),
		url('http://www.agneskowalski.com/wp-content/themes/prosperitytraining/fonts/Bebas-Neue-Bold.otf');
font-weight:normal;
font-style:normal;
}


@font-face {
 font-family: 'Lato-Regular';
 src: url('http://www.agneskowalski.com/wp-content/themes/prosperitytraining/fonts/Lato-Regular.eot');
 src: url('http://www.agneskowalski.com/wp-content/themes/prosperitytraining/fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'),
		url('http://www.agneskowalski.com/wp-content/themes/prosperitytraining/fonts/Lato-Regular.ttf') format('truetype'),
		url('http://www.agneskowalski.com/wp-content/themes/prosperitytraining/fonts/Lato-Regular.woff') format('woff'),
		url('http://www.agneskowalski.com/wp-content/themes/prosperitytraining/fonts/Lato-Regular.svg') format('svg'),
		url('http://www.agneskowalski.com/wp-content/themes/prosperitytraining/fonts/Lato-Regular.otf');
font-weight:normal;
font-style:normal;
}


*{outline:0px;}
.form-control:focus{border:1px solid #BEBEBE;box-shadow:none;}
body{margin:0px;padding:0px;}
.main-bg{background-image:url(http://www.agneskowalski.com/wp-content/themes/prosperitytraining/images/background.png);background-repeat:no-repeat;background-position:0%;}
.details{margin-left:40%;text-align:center;}
.s38{font-size:38px;font-family:RobotoCondensed;}
.s27{font-size:27.86px;font-family:Roboto-Light;}
h1{font-size:79.89px;font-family:Bebas-Neue-Bold;margin:auto;color:#67A9A5;}
h1 span{color:#C8485F;}
h2{ font-size: 67.44px;color:#C8485F; line-height:50px;font-family: NoteraPersonalUseOnly; -ms-transform: rotate(-5deg); -webkit-transform: rotate(-5deg);  transform: rotate(-5deg);}
#mc_embed_signup input.mce_inline_error { border-color:red !important; }

input[type='submit']{font-size:30.77px;font-family:Bebas-Neue-Bold;letter-spacing:1px;background-image:url(../images/button.png);background-position:100%;background-size:100%;width:220px;text-align:center; border-radius: 18px;border:none;color:#fff;}
.top-buffer140{/* margin-top:148px; */margin-top:124px;overflow:auto;}
.top-buffer1{margin-top:10px;overflow:auto;}
.top-buffer3,.buttons{margin-top:30px;overflow:auto;width:100%;}
.top-buffer5{margin-top:50px;overflow:auto;}
.bottom-buffer{margin-bottom:103px;overflow:auto;width:100%;}
.form-control{font-size:20px;height:45px;color:#BEBEBE;border:1px solid #BEBEBE;font-family:Roboto-Light;}
.buttons{display:inline-block;}
.buttons img{margin-top:-30px;}
footer {background: #89CBC7; color: #fff;}
.footer p {text-align:center; font-family: Lato-Regular; font-size:13px;line-height:40px;margin:0px;letter-spacing:1px;    text-transform: uppercase;}

@media (max-width:1024px){
   .main-bg{background:none;}
   .details{margin-left:0px;}
   .top-buffer140{margin-top:82px;}
}

@media (max-width:480px){
    h1{line-height: 65px;}
	.col-xs-6{width:100%;margin:5px 0px;}
	.top-buffer3{margin-top:10px;}
	h2{font-size:50px;}
	input[type='submit']{width:190px;}
}

@media (max-width:375px){
 .buttons img{display:none;}
 	h2{font-size:48px;}
}