@font-face {
 font-family: 'lato-regular';
 src: url('http://www.agneskowalski.com/wp-content/themes/31prosperityprompts/fonts/lato-regular.eot');
 src: url('http://www.agneskowalski.com/wp-content/themes/31prosperityprompts/fonts/lato-regular.eot?#iefix') format('embedded-opentype'),
		url('http://www.agneskowalski.com/wp-content/themes/31prosperityprompts/fonts/lato-regular.ttf') format('truetype'),
		url('http://www.agneskowalski.com/wp-content/themes/31prosperityprompts/fonts/lato-regular.woff') format('woff'),
		url('http://www.agneskowalski.com/wp-content/themes/31prosperityprompts/fonts/lato-regular.svg') format('svg'),
		url('http://www.agneskowalski.com/wp-content/themes/31prosperityprompts/fonts/lato-regular.otf');
font-weight:normal;
font-style:normal;
}


@font-face {
 font-family: 'poppins-bold';
 src: url('http://www.agneskowalski.com/wp-content/themes/31prosperityprompts/fonts/poppins-bold.ttf') format('truetype');
font-weight:normal;
font-style:normal;
}
@font-face {
 font-family: 'poppins-light';
 src: url('http://www.agneskowalski.com/wp-content/themes/31prosperityprompts/fonts/poppins-light.ttf') format('truetype');
font-weight:normal;
font-style:normal;
}
@font-face {
 font-family: 'poppins-medium';
 src: url('http://www.agneskowalski.com/wp-content/themes/31prosperityprompts/fonts/poppins-medium.ttf') format('truetype');
font-weight:normal;
font-style:normal;
}
@font-face {
 font-family: 'poppins-regular';
 src: url('http://www.agneskowalski.com/wp-content/themes/31prosperityprompts/fonts/poppins-regular.ttf') format('truetype');
font-weight:normal;
font-style:normal;
}
@font-face {
 font-family: 'poppins-semibold';
 src: url('http://www.agneskowalski.com/wp-content/themes/31prosperityprompts/fonts/poppins-semibold.ttf') format('truetype');
font-weight:normal;
font-style:normal;
}






@font-face {
 font-family: 'montserrat-black_0';
 src: url('http://www.agneskowalski.com/wp-content/themes/31prosperityprompts/fonts/montserrat-black_0.otf');
font-weight:normal;
font-style:normal;
}
@font-face {
 font-family: 'montserrat-bold_0';
 src: url('http://www.agneskowalski.com/wp-content/themes/31prosperityprompts/fonts/montserrat-bold_0.otf');
font-weight:normal;
font-style:normal;
}
@font-face {
 font-family: 'montserrat-extrabold';
 src: url('http://www.agneskowalski.com/wp-content/themes/31prosperityprompts/fonts/montserrat-extrabold.otf');
font-weight:normal;
font-style:normal;
}
@font-face {
 font-family: 'montserrat-light_1';
 src: url('http://www.agneskowalski.com/wp-content/themes/31prosperityprompts/fonts/montserrat-light_1.otf');
font-weight:light;
font-style:normal;
}
@font-face {
 font-family: 'montserrat-regular';
 src: url('http://www.agneskowalski.com/wp-content/themes/31prosperityprompts/fonts/montserrat-regular.ttf') format('truetype');
font-weight:normal;
font-style:normal;
}
@font-face {
 font-family: 'montserrat-semibold';
 src: url('http://www.agneskowalski.com/wp-content/themes/31prosperityprompts/fonts/montserrat-semibold.otf');
font-weight:normal;
font-style:normal;
}
@font-face {
 font-family: 'montserrat-ultralight';
 src: url('http://www.agneskowalski.com/wp-content/themes/31prosperityprompts/fonts/montserrat-ultralight.otf');
font-weight:normal;
font-style:normal;
}





*{outline:0px;color:#000;}

body{margin:auto; padding:0px;display:block;}
.top-buffer2{margin-top:20px;}
.top-buffer5{margin-top:50px;}
.top-buffer4{margin-top:40px;}
.top-buffer9{margin-top:80px;}



.sec1{background-image:url(http://www.agneskowalski.com/wp-content/themes/31prosperityprompts/images/bg_img.png);background-repeat:no-repeat;background-size:100% 100%;text-align:center;}
.backimg{background-image:url(http://www.agneskowalski.com/wp-content/themes/31prosperityprompts/images/img1.png);background-repeat:no-repeat;background-position:100% 80px;}
.header_dis{background-image:url(http://www.agneskowalski.com/wp-content/themes/31prosperityprompts/images/img4.png);background-repeat:no-repeat;}

.backimg *{color:#fff;}

.head_title, .button_start a, .block h3{font-family:poppins-bold;}
h2{font-family:montserrat-light_1;}
h2 span{font-family:montserrat-bold_0;}
h3{font-family:montserrat-semibold;}
.block p{font-family:poppins-regular;}
h4{font-family:poppins-semibold;}
.wealth_title  p,.user_dis p,.user_dis a{font-family:montserrat-ultralight;}


h2 span{background:#000;padding:0px 3px;}
.head_title{font-size:52px;text-transform:uppercase;font-style:italic;font-family: Poppins-Bold;color: #c8485f;  background: url(http://www.agneskowalski.com/wp-content/themes/31prosperityprompts/images/btn_bg.png);  -webkit-background-clip: text;  -webkit-text-fill-color: transparent; padding-top: 4px;}
	
	
.font-16{font-size:16px;}
.font-20{font-size:20px;}
.font-24{font-size:24px;}
.block p, .block h3{font-size:21px;}
.wealth_title h4{font-size:30px;}


.wealth_title h4,.user_dis p.font-16,.user_dis a{font-style:italic;}

.user_dis a{text-decoration:none;}

.margin0,.user_dis p{margin:0px;}
.user_dis h4{text-transform:uppercase;font-style:italic;margin-top: 20px; margin-bottom: 0px;}
.wealth_title  p a{text-decoration:underline;}
.wealth_title h2{text-transform:uppercase;letter-spacing:2px;}
.button_start a,.button_start a:hover{font-size:19px;text-transform:uppercase;padding-top: 10px; border-radius: 18px;background-image:url(http://www.agneskowalski.com/wp-content/themes/31prosperityprompts/images/btn_bg.png);background-size:100%;color:#000 !important;border:none;}
.button_start a:hover,.wealth_title  p,.wealth_title  p a,.wealth_title h2,.user_dis h4,.user_dis a{color:#000;}
.button_start img{ margin-bottom: 20px;}
.gray{background:#F1F1F1;height:218px; min-height:218px;}
.user_img{margin-top:-15%;}



.footer p{font-family:Lato-Regular;color:#fff !important;}
.footer p, .sec1 .dis .bek, .sec1 .dis .spc{letter-spacing:1px;}
footer{background:#000;text-align:center;}
.footer p {   font-size: 13px;  line-height: 50px;margin-bottom:0px;font-weight:200;}
 
 @media (max-width:1024px){
 .backimg{background:none;}
 .backimg .col-md-8,.user_img img{width:100%;}
 .header_dis{background-size:100% 70%;padding:0px 10px;}
 }
 
 
 @media (max-width:992px){
 .gray {height:auto;}
 .user_img{margin:10% 0%;}
 }
 
 
 @media (max-width:767px){
 .top-buffer9{margin-top:50px;}
 .user_img{margin:20px auto;}
 .user_img img {width: auto;}
.sm-size .user_dis, .sm-size .user_img{ float: unset; -moz-transform: rotate(180deg); -webkit-transform: rotate(180deg);transform: rotate(180deg);text-align:center;}
.sm-size{text-align:inherit; -moz-transform: rotate(180deg); -webkit-transform: rotate(180deg); transform: rotate(180deg);}
.sm-size .top-buffer5{margin-top:20px;}
.button_start a{ white-space: unset; width: 300px; word-break: break-all;padding-left:10px;padding-right:10px;}
 }
 
@media (max-width:480px){
   .head_title {font-size: 41px;}
   .button_start a{width:210px;}
   .button_start img{display:none;}
   .user_img img{width:100%;}
}
 
 