@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700,700i');
@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i');
p {
	margin: 0;
}
span {
  display: inline-block;
}
.banner {
  background-image: url("http://www.agneskowalski.com/wp-content/themes/subconscious-smackdown/image/top_background.jpg");
  background-position: center center;
  background-size: auto 100%;
  text-align: center;
}
.banner-image {
  max-width: 387px;
  width: 100%;
}
.body-part {
	margin: 50px;
}
.logo_icon {
	width: 100%;
	max-width: 32%;
}
.mindset {
	color: #C8485F;
}
.header-text {
  color: #67a9a5;
  font-family: "bebas_neueregular";
  font-size: 100.1px;
  line-height: 100px;
}
.header-text1 {
  font: 300 22px "Roboto",sans-serif;
  letter-spacing: 0.45px;
}
.header-text2 {
    font:  22px 'Roboto', sans-serif;
    color: #67A9A5;
}
.header-text3 {
  color: #67a9a5;
  font-size: 36px;
  font-style: italic;
  font-family: 'Roboto Condensed', sans-serif;
}
.journal {
  color: #c8485f;
  font-weight: 700;
  text-transform: uppercase;
}
.img-title {
  color: #67a9a5;
  font: 38px "Roboto Condensed",sans-serif;
}
.sub-img-title {
  font: 300 20px "Roboto",sans-serif;
  letter-spacing: 0.25px;
}
.line1{
	font:  24px 'Roboto', sans-serif;
	color: #67A9A5;
}
.line2 {
  font: 300 20px "Roboto",sans-serif;
  letter-spacing: 0.25px;
}
.line3{
	font:  24px 'Roboto', sans-serif;
	color: #67A9A5;
}
.reasons {
    background-color: #67A9A5;
    color: #fff;
}
.reason-head {
  font: bold 30px "Roboto Condensed",sans-serif;
}
.reasons-point ul {
	padding: 0;
	margin: 0;
	list-style: none;
}
.reasons-point ul li {
	font: 18px 'Roboto', sans-serif;
	letter-spacing: 0.25px;
	position: relative;
	padding-bottom: 15px;
}
.reasons-point ul li::after {
	position: absolute;
	content: "";
	top: 0px;
	left: -25px;
	font-family: "FontAwesome";
}
.point {

}
.point .fa {
  left: -25px;
  padding-right: 5px;
  position: absolute;
  top: 2px;
}
.sign-text {
  color: #67a9a5;
  font: 38px "Roboto Condensed",sans-serif;
}
.lady-img{
    width: 100%;
    max-width: 65%;
}
.signup {
	margin-top: 10px;
}	
.txt-name {
  border-color: #d2d2d2;
  color: #333;
  font: 400 15px "Roboto",sans-serif;
  height: 40px;
  letter-spacing: 1.5px;
  max-width: 338px;
  padding-left: 15px;
  width: 100%;
}
.btnsignup.btn.mt-5 {
	font-family: 'bebas_neueregular';
	letter-spacing: 0.25px;
	font-size: 18px;
	box-shadow: none;
	width: 255px;
	margin-top: 7px !important;
}
.btn-sign-up button.btn {
  background-color: #fff;
  background-image: url("http://www.agneskowalski.com/wp-content/themes/subconscious-smackdown/image/btnb .png");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: auto 203%;
  color: #fff;
  transition: all 0.5s ease 0s;
}
/* .btn-sign-up button.btn:hover {
  background-position: center bottom;
  letter-spacing: 1.5px;
} */
.main-body {
	position: relative;
}
.arrow {
  position: absolute;
  right: 6%;
  top: 20%;
}
.arrow-text {
  background-color: #f6f6f6;
  border-radius: 10px;
  color: #67a9a5;
  font: 600 18px "Roboto",sans-serif;
  max-width: 266px;
  padding: 10px;
  position: absolute;
  right: -5%;
  top: 29%;
  transform: rotate(-10deg);
  transform-origin: 24% 0 0;
  width: 100%;
}
.footer {
	background-color: #67A9A5;
	color: #fff;
	font: 13px 'Lato', sans-serif;
	line-height: 30px;
	letter-spacing: 0.50px;
	text-transform: uppercase;
}

@media only screen and (max-width: 1024px){
	.header-text {	
		font-size: 90.1px;
	}	
	.body-part {
		margin-top: 25px;
	}
	.reason-head {
		font-size: 27px; 
	}
	.point {
		font: 17px 'Roboto', sans-serif;
		line-height: 20px;
	}
	.arrow {
		top: 15%;
		right: 13%;
	}
	.arrow-content {
		width: 100%;
		max-width: 200px;
	}
	.arrow-text {
		top: 20%;
		right: 2%;
	}
	.point p{
		margin-bottom: 10px;
	}
}
@media only screen and (max-width: 980px)
{
.arrow-text {
  font-size: 14px;
  right: 2%;
  top: 17%;
  width: 230px;
}
.arrow {
  right: 18%;
  top: 13%;
}
.arrow-content {
  max-width: 180px;
  width: 100%;
}
	.reason-head {
		font-size: 20px;
	}
	.txt-name{
		float: none !important;
	}
	.txt-email{
		float: none !important;
	}
	.btnsignup.btn.mt-5 {
		margin-top: 10px !important;
	}

}
.bord {
	display: none;
}
@media only screen and (max-width: 768px){
	.arrow-textb {
  background-color: #f6f6f6;
  border-radius: 10px;
  color: #67a9a5;
  font: 600 18px "Roboto",sans-serif;
  max-width: 266px;
  padding: 10px;
  width: 100%;
}
.arrowb {
  position: absolute;
  right: -30px;
  top: -50px;
  transform: rotate(71deg);
  width: 140px;
}
.bord-a {
	display: none;
}
.bord {
	display: block;
}
.input-f {
  float: none !important;
  margin: 0 auto;
  max-width: 338px !important;
  width: 100% !important;
}

}
.input-f {
 	width: 338px !important;
 }
@media only screen and (max-width: 414px){
	.header-text {
		font-size: 64.1px;
	}	
	.header-text1 {
		font-size:16.7px;
		
	}
	.header-text2 {
		font-size: 17.7px;
	}
	.header-text3 {
		font-size: 29.34px;
	}
	.banner-text {
		padding-bottom: 0px !important;
	}
	.img-title {
		font: 27.44px 'Roboto Condensed', sans-serif;
	}
	.lady-img {
		width: 100%;
		max-width: 244px;
	}
	.line1 {
		font: 21px 'Roboto', sans-serif;
		color: #67A9A5;
		margin-top: 25px !important;
	}
	.body-part {
		margin-top: 14px;
		margin-bottom: 25px;
	}
	.arrow-text {
		display: none;
	}
	.arrow-content {
		display: none;
	}
	.arrow {
		top: 11%;
		right: 11%;
	}
	.logo_icon {
		width: 100%;
		max-width: 47%;
	}
	.reason-head {
		font-size: 27px;
	}
	.sign-text {
		font: 38.14px 'Roboto Condensed', sans-serif;
	}
	.reasons-content {
		padding-top: 0px !important;
	}
	.sub-text {
		margin-top: 0px !important;
	}
	.reasons-point{
		padding-bottom: 10px !important;
	}
	.btnsignup {
		margin-top: 0px !important;
	}
	.txt-name.border {
		float: none !important;
	}
.body-part {
  margin: 40px 0;
}
.txt-name {
	width: 100%;
}
.txt-name {
	margin: 0 auto;
	float: none;
}

}
@media only screen and (max-width: 384px){
	.header-text {
		font-size: 59.1px;
	}
	.header-text3 {
		font-size: 26.34px;
	}
}

@media only screen and (max-width: 375px){
	.header-text {
		font-size: 57.1px;
	}	
	.line2 {
		font: 17.61px 'Roboto', sans-serif;
		font-weight: lighter;
		letter-spacing: 0.25px;
	}
	.line3 {
		font: 21px 'Roboto', sans-serif;

	}
	.arrow {
		display: none;
	}
	.arrow-text {
		display: none;
	}
}
@media only screen and (max-width: 360px){
	.header-text {
		font-size: 55.1px;
	}
	.reason-head {
		font-size: 26px;
		margin-top: 10px;
	}
	.sign-text {
		font: 35.14px 'Roboto Condensed', sans-serif;
	}
}
@media only screen and (max-width: 320px){
	.header-text {
		font-size: 48.1px;
	}
	.header-text3 {
		font-size: 22.34px;
	}
	.img-title {
		font: 28.44px 'Roboto Condensed', sans-serif;
	}
	.sub-img-title {
		font: 13.61px 'Roboto', sans-serif;
		font-weight: lighter;

	}
	.reason-head {
		margin-top: 15px;
		font-size: 23px;
	}
	.point {
		font: 15px 'Roboto', sans-serif;
	}
	.sign-text {
		font: 28.14px 'Roboto Condensed', sans-serif;

	}
}
#_form_17_ ._error { display:block; position:absolute; font-size:13px; z-index:10000001; }
	#_form_17_ ._error._above { padding-bottom:4px; top:-41px; right:0; }
	#_form_17_ ._error._below { padding-top:4px; top:100%; right:0; }
	#_form_17_ ._error._above ._error-arrow { bottom:0; right:15px; border-left:5px solid transparent; border-right:5px solid transparent; border-top:5px solid #f37c7b; }
	#_form_17_ ._error._below ._error-arrow { top:0; right:15px; border-left:5px solid transparent; border-right:5px solid transparent; border-bottom:5px solid #f37c7b; }
	#_form_17_ ._error-inner { padding:8px 12px; background-color:#f37c7b; font-size:13px; font-family:arial, sans-serif; color:#fff; text-align:center; text-decoration:none; -webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px; }
	#_form_17_ ._error-inner._form_error { margin-bottom:5px; text-align:left; }
	#_form_17_ ._button-wrapper ._error-inner._form_error { position:static; }
	#_form_17_ ._error-inner._no_arrow { margin-bottom:10px; }
	#_form_17_ ._error-arrow { position:absolute; width:0; height:0; }